[2017-01-19 15:55] theotherjimmy commented on #420
Or is your mbed-os pretty back-dated?

[2017-01-19 15:58] abouillot commented on #421
Code can be found @ https://developer.mbed.org/users/abouillot/code/Nucleo_printf_test/ , but there is nothing special about it.

[2017-01-19 15:59] abouillot commented on #420
you can find the code @ https://developer.mbed.org/users/abouillot/code/Nucleo_printf_test/ . This project has been created less than a week ago, I don't think any part of it is so outdated.

[2017-01-19 16:14] theotherjimmy commented on #420
I don't have access to that repo.

[2017-01-19 16:16] theotherjimmy commented on #421
So I don't have access to that repo... do you have an `mbed.bld` or a `mbed-os.lib` in the project's root directory?

[2017-01-19 16:20] teetak01 commented on #424
Yes, that is what I'm observing. mbed-cli was earlier pretty strict about .lib file usage so was wondering correctly. The current functionality is fine for me.

[2017-01-19 16:29] bridadan commented on #421
You can also run `mbed ls` and post the output here. That will give a recursive log of all libraries' commit hashes.

[2017-01-19 16:30] abouillot commented on #421
I have mbed-dev.lib at the root

[2017-01-19 16:30] bridadan commented on #424
I think so too. I'll close this then, thanks for raising your concern!

[2017-01-19 16:30] #424 closed

[2017-01-19 16:32] abouillot commented on #420
I change the repo to public.

[2017-01-19 16:37] theotherjimmy commented on #420
So, mbed-dev uses the tools from here: https://developer.mbed.org/users/mbed_official/code/mbed-sdk-tools/
I have opened a PR to update the tools here: https://developer.mbed.org/users/mbed_official/code/mbed-sdk-tools/pull-request/1

When I get that PR merged, you can then start using the generic makefile-based eclipse exporters.

[2017-01-20 06:54] betzw commented on #418
Why should a user set its global protocol to `ssh`? Only at a point where he thinks for some reason all repos should be accessed with this protocol. Ok, but when he publishes he would in my proposal be warned about this anomaly.
But maybe I didn't chatch actually your concern ...

[2017-01-20 20:40] bridadan commented on #418
@betzw When working with a mix of public and private repositories this a very common thing. Otherwise you'd have to provide https credentials any time you do an `mbed update`, which is quite tedious!

This is assuming the developer use `mbed publish` to do this. It is actually quite fine to push with `git` or `hg`. I believe mbed CLI handles this quite well. I do it quite often in my workflow. But

[2017-01-24 06:29] betzw commented on #418
Hi @bridadan,
well, maybe I didn't catch entirely your point, but probably this is not a surprise as I am actually not deeply enough plunged into the `mbed-cli` tool. I just use it mainly for compiling and from time to time to maintain an example program etc.
What I can say is therefore limited to this kind of experience, in which in my eyes the `mbed-cli` tool or rather some of its commands (e.g.

[2017-01-24 06:52] betzw commented on #418
Anyway, let me try to answer to this again: I would say that whenever a command is emitted without the explicit `--protocol` option you should maintain the protocol which you find in the `.lib` file. In case there is no `.lib` file yet, use the default/global protocol (whatever it is set to).
Furthermore, I would consider the case where the default/global protocol is set to `ssh` and the user adds

[2017-01-24 12:16] clivebluston opened #426 "Mecurial dependency"
mbed-cli depends on Mercurial.
Is this really necassary?

I am using Ubuntu 12.03 which only supports an older version of Mercurial than required.

Clive

[2017-01-24 14:21] #413 closed

[2017-01-24 15:03] bridadan commented on #426
mbed-cli depends on Mercurial because the repositories on developer.mbed.org are mercurial repositories. If you don't use mercurial repositories I think it should work just fine without it installed. Are you seeing something different?

[2017-01-24 21:54] michaelVisimid opened #427 "Keil uVision export change to allow the use of the free Keil uVision STM 32 L0 and F0 license"
The CLI exporter is working great for Keil exports. I would like to suggest that the field

`<Cpu></Cpu>`

in the generated .uvprojx file list the processor type during export. To use the free STM32 M0/0+ license the .uvprojx file must be modified as shown below or the compiler will not work with the free license. It will work with the full pro license in its current state with no issues:

`<Cpu>C

[2017-01-25 07:48] clivebluston commented on #426
Yes. I am creating a new mbed-os app from scratch. At some point it complains about downloading tools and that I should have hg on my command path.

[2017-01-25 09:19] bridadan commented on #426
Ah I see. Could you post the verbose log from when you try to create a new mbed-os app from scratch?

And what version of Mercurial are you using? If you add it to your path does that help?

[2017-01-27 05:36] petertorelli opened #428 "When using multiple levels of source code, link_files.txt isn't updated"
Working from a new mbed project, if I create a hierarchy for my source code, mbed compile locates all of the source files (literally every .c file it can find), but it does not update link_files.txt with the object files it has compiled. As a result, none of the object files under the build/target/toolchain/&lt;non-mbed-os&gt; directory hierarchy except the very first level are linked. Include pat

[2017-01-27 06:24] petertorelli commented on #428
Nevermind, grep fail.

[2017-01-27 06:24] #428 closed

[2017-01-27 12:59] pfried commented on #394
Actually i think this is a real issue, i am having the same problem and i think there is some misconfiguration of the toolchain

For the blinky example this problem does not occur, but if you have files outside of the mbed-os folder this error comes up

[2017-01-29 15:24] MarceloSalazar opened #429 "Error when using 'mbed new .' on exported Online project"
Reproduce with these steps:

1. Download ZIP file from existing online project:
https://developer.mbed.org/teams/mbed-os-examples/code/mbed-os-example-blinky/export

2. Unzip and change to directory

3. dir /A

[code]

4. `mbed new .`

Output:
[code]

5. `mbed compile`

[code]

Either the exported should not have a `.gitignore` directory, or mbed CLI should be able to handle this.

[2017-01-30 16:16] bridadan commented on #429
Hey marcelo, I'm not sure if that's quite the correct command to use (though I think the behavior could be modified to be smarter about this).

Can you try `mbed deploy` instead of `mbed new .`?

[2017-01-30 19:45] bridadan commented on #427
@sarahmarshy @theotherjimmy any thoughts on this? The change sounds simple enough and we could verify that nothing breaks by running the CI test on it.

[2017-01-30 20:05] theotherjimmy commented on #427
Sounds great! @michaelVisimid The generated `.uprojx` file is generated from https://github.com/ARMmbed/mbed-os/blob/master/tools/export/uvision/uvision.tmpl Which is filled by the python https://github.com/ARMmbed/mbed-os/blob/master/tools/export/uvision/__init__.py

If you would like to do this yourself, I will happily answer questions about how the tools work.

[2017-01-30 20:48] michaelVisimid commented on #427
If I can catch a free moment I will. Busy as a family of beavers these days. I think the fix to line 19 is as follows:

`<Cpu>CPUTYPE("{{device.core}}")</Cpu>`

[2017-01-30 20:51] theotherjimmy commented on #427
@michaelVisimid I can make the PR for you with that Info. Just a moment.

[2017-01-30 20:52] michaelVisimid commented on #427
Cool thanks!

[2017-01-30 20:55] theotherjimmy commented on #427
There you go https://github.com/ARMmbed/mbed-os/issues/3661

[2017-01-31 15:50] bridadan commented on #429
@MarceloSalazar sorry didn't realize the code was already there!

Ok, so pretty sure this is related to https://github.com/ARMmbed/mbed-cli/pull/397.

If you create a `.mbed` file then mbed-cli stops complaining. I think `mbed new .` should probably be smart enough to realize that it's already a project and just add the `.mbed` file. @screamerbg what do you think?

[2017-01-31 15:52] bridadan commented on #429
Also side note @MarceloSalazar, any reason you're not using `mbed import` instead of the zip exporters?

[code]

I agree the exporters should work as well (and mbed CLI should be smart enough to cope with them), but it seems a lot less complicated to just run the command above. You shouldn't have this same problem then.

[2017-02-01 20:19] maclobdell opened #430 "mbed sync ignores forks of mbed-os / sets lib reference incorrectly"
While testing an application example using a fork of mbed OS (from a PR), I wanted to sync the mbed-os library to the mbed-os fork instead of the main repo location.

However, mbed sync seems to always assume that mbed-os is located at https://github.com/armmbed/mbed-os/

Steps to recreate:

mbed import mbed-os-example-mesh-minimal
cd mbed-os-example-mesh-minimal\mbed-os
git remote add myremote ht

[2017-02-02 05:18] shayo opened #431 "mbed cli with an old os2 lib?"
How can I create a new mbed program with cli using Revision 117:99a22ba036c9 ?
What would be the cli commands for that?

[2017-02-02 05:22] shayo commented on #431
hmm. ok. I found a work around by modifying the mbed.bld file and running mbed deploy

[2017-02-02 05:22] #431 closed

[2017-02-02 13:54] bremoran opened #432 "mbed-cli downloads mbed 2.0 tools during library updates"
When I use mbed-cli to update a single library in my tree for testing/development, it downloads redundant copies of the mbed 2.0 build tools.

mbed-cli should not download the mbed 2.0 build tools when it is inside a mbed OS 5.0 library, which is in a mbed OS 5.0 application.

[2017-02-02 16:33] bridadan commented on #432
Hi @bremoran, could you provide the following:

1. Your mbed CLI version `mbed --version`
2. The commands we can use to reproduce this issue.

Thanks!

[2017-02-02 16:39] bremoran commented on #432
[code]

Suppose we have an mbed OS 5 application: app. It uses a library: lib. We want to change lib to a new branch: branch.

1. `git clone http://domain.name/path/to/app.git`
2. `cd app`
3. `mbed deploy`
4. `cd lib`
5. `mbed update branch`

mbed will report:
[code]

[2017-02-02 18:02] bridadan commented on #432
@bremoran I wasn't able to reproduce your issue. I'm using mbed CLI 1.0.0 on Windows 7. Here are the commands I ran. Can you reproduce the error on your machine with the following?

[code]

`retries` was just a random branch I found the atmel-rf-driver repo.

[2017-02-03 10:45] ccli8 opened #433 "Fail to set BP in Keil uVision debugger for mbed CLI generated ELF"
I would like to debug mbed CLI generated ELF file with toolchain set to *ARM* in Keil uVision debugger. This is useful as some issue cannot re-produce thru exported uVision project. For example, I would like to debug *mbed-os-example-blinky*. With build command line below, I get *mbed-os-example-blinky.elf*.
[code]
Following the link below to generate a dummy Keil uVision project, e.g. *debug-mbed

[2017-02-03 11:03] ccli8 commented on #433
Duplicate in https://github.com/ARMmbed/mbed-os/issues/3687. Close this one.

[2017-02-03 11:03] #433 closed

[2017-02-07 15:31] fluuffy opened #434 "Mbed cli export & SW4STM32"
I get the following error when I run `mbed  export supported` on my nucleo_303K8:

[code]
I get the same error when I try to export to SW4STM32

[2017-02-07 15:38] fluuffy commented on #434
I don't know if this helps, but here is what I get when I run `mbed detect`

'C:\Users\59317\mbed_blinky>mbed detect

[mbed] Detected NUCLEO_F303K8, port COM9, mounted G:
[mbed] Supported toolchains for NUCLEO_F303K8
+--------+-----------+-----------+-----+---------+-----+
| Target | mbed OS 2 | mbed OS 5 | ARM | GCC_ARM | IAR |
+--------+-----------+-----------+-----+---------+-----+
+--------+--

[2017-02-07 16:49] masoudr opened #435 "mbed cli gives error and mbed online compiler run without error on same code"
Hi,
I know that my question maybe not relevant but I have a problem with mbed-cli and not with mbed online compiler.
I can compile my code with no problem on mbed online compiler, but when I want to compile it with mbed-cli and GCC_ARM I get this error log. Is there any fix for this problem or make mbed-cli compiler like the online compiler that can handle these errors? Should I use another compil

[2017-02-07 20:41] bridadan commented on #435
Hi @masoudr, in the future this should really be raised against the example program you're working from.

I wasn't able to reproduce the issue locally (I'm assuming you're working from [this example](https://developer.mbed.org/teams/sandbox/code/simple-mbed-client-example/) and that you've made the necessary config changes to get it to compile). I'm using GCC_ARM 4.9.3. What version are you using?

[2017-02-07 20:57] bridadan commented on #434
Hi @fluuffy,

Hmm, mbed CLI should have installed the requirements for you. You may need to do this manually in this case.

Please run the following commands:

[code]

When that's done, `cd` back to your project directory and retry your commands.

[2017-02-08 04:43] masoudr commented on #435
Thank you for the response. You are right I'm using simple mbed client example. The sample works fine. I created my own program with this library but it gives me errors. I am using `ARM GCC 4.9 2015q3`. For example consider this code:

#include "security.h"
#include "easy-connect.h"
#include "simple-mbed-client.h"
#include "rtos.h"
#include "stdio.h"
#include <cstdlib>
int a=1;
string last_value;

[2017-02-08 15:12] bridadan commented on #435
I see, I'm afraid I can't think of anything off the top of my head to fix this. These are compiler errors, so not an issue with mbed CLI.

The online compiler uses the ARM compiler (bundled with Keil uVision or available commercially and standalone [here](https://developer.arm.com/products/software-development-tools/compilers/arm-compiler-5/downloads)), so you could always try using that locally.

[2017-02-08 16:12] masoudr commented on #435
Thank you.
I download it and installed it. when I want to compile it gives me errors about not finding the licence. I think this compiler is not free, am I right?

[2017-02-08 16:13] bridadan commented on #435
That's correct

[2017-02-08 16:55] masoudr commented on #435
thank you. I hope maybe the ARM release a new free compiler like its online compiler to save these issues.

[2017-02-08 18:14] masoudr commented on #435
Finally, I solved the problem. the problem was with `client.keep_alive();`. I removed it and it worked.
I hope it helps.

[2017-02-08 19:22] bridadan commented on #435
Ok, thanks for the update @masoudr, I'll go ahead and close this.

[2017-02-08 19:22] #435 closed

[2017-02-13 18:36] fluuffy commented on #434
This worked for me:
`mbed compile -v -t GCC_ARM -m nucleo_f303k8 --profile mbed-os/tools/profiles/monkey.json`

I couldn't view printf outputs from UART, so I had to mock up monkey.json

the json contains the following settings:
`{
    "GCC_ARM": {
        "common": ["-c", "-Wall", "-Wextra",
                   "-Wno-unused-parameter", "-Wno-missing-field-initializers",
                   "-fmessa

[2017-02-13 18:36] #434 closed

[2017-02-14 20:47] MarceloSalazar commented on #429
Using `mbed import` and then `mbed export ...` is a workaround.
It would be nice to fix the `mbed new .` to add the `.mbed` file.

[2017-02-15 20:18] eavelardev opened #436 "Creating a new program for mbed OS 2, the mbed library isn't downloaded"
macOS Sierra
mbed 1.0.0

When I create a new mbed OS 2 program the mbed library isn't downloaded automatically. I execute `mbed update` inside the project folder to resolve.

[2017-02-16 12:22] SeppoTakalo opened #437 "Rebuild fails if `--build` option specified"
If `mbed build` command have been issued earlier with `--build` parameter, rebuilding of application fails.

Various errors happens. Sometimes it tries to build with some random target, ignoring `.mbed` file. Sometimes it fails to resolve options specified in `mbed_app.json`

## Steps to reproduce
### Build failure
[code]

Build fails, and looks like it tried to build Ublox, even that I asked K64F

[2017-02-16 12:23] SeppoTakalo commented on #437
@screamerbg Please check.

[2017-02-16 15:18] bridadan commented on #437
I did a little investigation and this is definitely an issue with the mbed OS tools not mbed CLI. Would you mind opening this on ARMmbed/mbed-os @SeppoTakalo?

[2017-02-16 15:32] SeppoTakalo commented on #437
Cloned https://github.com/ARMmbed/mbed-os/issues/3787

[2017-02-16 17:21] screamerbg commented on #437
@SeppoTakalo, thanks for the report.

When you specify `--build` output directory, then mbed CLI passes it as it is to the mbed OS tools. If `--build` is not specified then mbed CLI defaults to `<target>/<toolchain>` pattern.

In the first scenario (`--build` specified`), it's up to the user to define a folder that doesn't conflict with the target/toolchain configuration. Since the output folder i

[2017-02-16 17:23] screamerbg commented on #437
Perhaps this should be indicated better in the documentation.

[2017-02-16 17:38] bridadan commented on #437
@screamerbg From @SeppoTakalo's description it doesn't sound like he's changing the target or toolchain, so I don't think that's the exact problem.

[2017-02-21 09:06] jupe commented on #264
@theotherjimmy any news ?

[2017-02-22 09:02] screamerbg commented on #426
With repository hosting like BitBucket, the repository url can be either mercurial or git repositories. Therefore mbed CLI has to probe each method (git clone and mercurial clone) while importing.

[2017-02-22 09:05] screamerbg commented on #427
@michaelVisimid please close this if resolved with the PROBLEM @theotherjimmy linked above

[2017-02-22 11:44] bremoran opened #439 "Please add a define with the project/module commit ID to the build"
It is useful to know exactly which revision of firmware a device is running, particularly for examining bug reports. If mbed-cli provided a define for the application commit ID, that would make it easy for application developers to add this information to their traces. If the module commit ID were available for each module, that would also be very useful, for similar reasons.

cc @screamerbg @sg-

[2017-02-22 12:04] screamerbg commented on #439
@bremoran thanks for idea. To confirm, you are looking for a defined macro like MBED_APP_COMMIT="edc7e83d3ea81cab63fe1e7e5dcfd022ca67a21a", right?

[2017-02-22 12:05] screamerbg commented on #437
cc @theotherjimmy

[2017-02-22 12:06] screamerbg commented on #436
@eavelardev What command do you use?

[2017-02-22 12:21] #427 closed

[2017-02-22 13:16] bremoran commented on #439
Yes, that would be great. It would also be good to have something like:
`MBED_MODULE_COMMIT` which is defined per module, but I don't know how doable that is. At least with the app-level commit ID, it should be possible to drill down to the individual module commit IDs from the outside.

[2017-02-22 15:51] theotherjimmy commented on #437
@screamerbg would you rather see this in mbed-cli or mbed-os tools? I'm thinking mbed-cli.

[2017-02-22 15:54] bremoran opened #440 "mbed update has unexpected behaviour with caching enabled"
I have some config set:
[code]

If I pick a project I have used before, that has had numerous commits since the last time I used it, and do `mbed import`, mbed correctly imports from the cache.

This means that when I do `mbed update master`, mbed does fetch the remotes correctly, but it doesn't update the local branches, so master is the master that was in use when the cache was populated.

If ca

[2017-02-22 22:05] eavelardev commented on #436
I use `mbed new my_project_name --mbedlib`

[2017-02-25 13:57] pd0wm opened #442 "Compiling tests fails due to multiple definitions of 'main'"
When running test on a blink demo project which also has a main.cpp all the tests fail to build due to multiple definitions of 'main'.

How do you prevent the test runner to including regular source files?

[2017-02-27 16:20] theotherjimmy commented on #264
`duration`, `toolchain`, `target`, `location`, `memmap-ref`, `compiler` (`compiler-c` and `compiler-c++`), `linker`, and `configuration` must all come from mbed-os tooling.

[2017-02-27 21:11] theotherjimmy commented on #264
@jupe Making progress by extending what gets written to test_spec.json and writing the same info on a build. Here's an example.
[code]

[2017-02-27 22:55] theotherjimmy commented on #391
That PR has been mainlined. Please run `mbed update`. Closing.

[2017-02-28 05:19] soramame21 opened #443 "[OOB_5_4] a wrong path is set by windows installer 0.33"
I uninstalled following software manually, and cleaned environmental variable "path".
python, mercurial, git, mbed-cli, Serial drivers
then downloaded windows installer 0.33 and ran.
https://mbed-media.mbed.com/filer_public/0d/2a/0d2ae854-a9d8-4bfa-b23b-f6ca89394333/mbed_installer_v033_cli_v100.exe

the installer add **```C:\mbed-cli\python\;C:\mbed-cli\python\Scripts;```** into environmental vari

[2017-02-28 05:33] jupe commented on #264
is there branch/pr for this to start initial reviewing?

[2017-02-28 09:46] arekzaluski commented on #443
I'll investigate it.

[2017-02-28 10:04] arekzaluski commented on #443
@soramame21 I'm not able to reproduce this issue. Can you provide me additional information about your setup? Which Windows version do you use? 32 or 64 bit?
How are you running it? Do you use windows command prompt or "Run mbed CLI" ? Keep in mind that mbed won't be accessible from windows cmd. You should use "Run mbed CLI.bat".

[2017-02-28 10:07] soramame21 commented on #443
my windows 8.1 is 64bit. I just download above file (mbed_installer_v033_cli_v100.exe) and double click it. I didn't use command prompt.

[2017-02-28 10:09] soramame21 commented on #443
for running mbed, I started a command prompt and type '''mbed'''.

[2017-02-28 10:12] arekzaluski commented on #443
Can you please try "Run mbed CLI" ? It should be on your desktop. We wanted to keep it separate so it is not accessible from command prompt. I'm considering adding it also to the path so it will be available from command prompt.

[2017-02-28 10:16] soramame21 commented on #443
where is the "Run mbed CLI"? is it a link?

[2017-02-28 10:17] arekzaluski commented on #443
It is a batch file. It should be added to your desktop after successful installation.

[2017-02-28 10:18] soramame21 commented on #443
I got it, it's working!! but not from a regular command prompt.

[2017-02-28 10:18] arekzaluski commented on #443
Yes, It is done like that by design. I'm considering changing it.

[2017-02-28 10:19] soramame21 commented on #443
then the test is passed.

[2017-02-28 10:31] MarceloSalazar commented on #443
mbed CLI should be working from the standard command prompt.
Consider this as must-have requirement for a public release

[2017-02-28 10:36] soramame21 commented on #443
I agree, we just update environment variable "path" then it can work for standard command prompt.

[2017-02-28 10:49] arekzaluski commented on #443
ok, I'll update it as soon as possible.

[2017-02-28 10:57] screamerbg commented on #442
@pd0wm Currently the only way to exclude the source files from the test runner is either to:
* move the offending file outside of the codebase
* use .mbedgignore file to ignore the offending file

More information on .mbedignore can be found here https://docs.mbed.com/docs/mbedmicro-api/en/latest/ignoring_files_from_build/

[2017-02-28 10:59] screamerbg commented on #436
Hi,

I just used `mbed new <program> --mbedlib` and worked fine. Here is the output

[code]

[2017-02-28 11:19] pd0wm commented on #442
What would be the correct way to fix this problem in mbed-cli? Maybe provide an optional setting for your main.cpp in your .mbed file. When running tests this file could be excluded.

[2017-02-28 15:20] soramame21 commented on #443
Hi Arek,

This issue (test 1 of OOB v5.4) will be repeated on test 2 to test 4.
should I go through the test 2 to 4 of OOB v5.4?

[2017-02-28 15:27] MarceloSalazar opened #444 "[OOB_5_4] Windows installer shows unknown publisher"
- Windows 10, fresh PC.
- mbed CLI Windows Installer v0.33

<img width="510" alt="mbed-cli-installer-unknown-publisher" src="https://cloud.githubusercontent.com/assets/1931553/23411480/512743a2-fdca-11e6-9c5a-e8b036ef43d6.png">

[2017-02-28 15:44] MarceloSalazar commented on #443
I hit the same problem on Windows 10 64-bits

[2017-02-28 15:46] MarceloSalazar commented on #443
Yes, I'd suggest you go through other cases ignoring this particular issue (for now).

[2017-02-28 16:51] MarceloSalazar opened #445 "[OOB_5_4] Windows uninstaller leaves environmental variables"
- Windows 10, fresh PC. Installed mbed CLI succesfully. Then uninstalled.
- mbed CLI Windows Installer v0.33

There are environmental variables left after completion of uninstall.

<img width="442" alt="environmental-variables" src="https://cloud.githubusercontent.com/assets/1931553/23415047/de0898d8-fdd5-11e6-809e-a0e145573f04.PNG">

<img width="479" alt="system-variables" src="https://cloud.gith

[2017-02-28 17:46] arekzaluski commented on #443
I investigated it further and I'm not sure that we want to change it. Currently after installation mbed-cli is encapsulated in Virtual python Environment. Which means that it is separated from user's system. The batch file is starting a Virtual Environment and gives user access to mbed. With this solution we allow user to have a separated instance of mbed-cli already installed and we do not change

[2017-02-28 18:06] theotherjimmy commented on #264
Not yet. I can push up my current modifications to my fork and we can coordinate there.

[2017-02-28 18:08] theotherjimmy commented on #264
https://github.com/ARMmbed/mbed-os/compare/master...theotherjimmy:build-metadata

[2017-02-28 19:44] sillevl commented on #391
Did a small test and I could not reproduce the problem with revision `ad3be0349dc5`. I will close this issue

[2017-02-28 19:44] #391 closed

[2017-02-28 20:02] jupe commented on #264
I would like too see more flat json with builds array (like I.propose) because then it is easier to manage.. also its then better format for db.. elf value seems to be bin file, should it be elf file instead or was it just typo?

[2017-02-28 20:03] theotherjimmy commented on #264
That was a typo

[2017-02-28 20:10] theotherjimmy commented on #437
https://github.com/ARMmbed/mbed-os/pull/3852

[2017-02-28 20:19] jupe commented on #264
ok. please add also elf file relative path in json

[2017-02-28 20:25] theotherjimmy commented on #264
Sure :+1:. I'm also going to flatten them a bit.

[2017-02-28 20:45] theotherjimmy commented on #264
New version:
[code]

[2017-03-01 01:48] BlackstoneEngineering commented on #443
For reference, the reason we did not add to the global path is because we did not want to pollute the users global path. The intial design for the installer followed the same design template that GCC did. This is also how the Yotta cli tool was installed, not by default, but as a seperate program. That way the impression was given that it was its own tool.

[2017-03-01 05:03] jupe commented on #264
Looks much better 👍. small notes:
* library_config contains paths without relative path prefix `./`
* Was there memory_usage already in json file? its enough to set relative path for it
* where `id` come from?
* could you add mbed-cli version number, as well as toolchain version
* what about git details - mbed-os repository as well as application and its modules

by the wqy. how this looks when co

[2017-03-01 06:17] soramame21 opened #446 "[OOB_5_4] Windows installer cannot install mbed.py"
regarding **Test 3**, when I run mbed_installer_v033_cli_v100.exe and got following popup. I just want to skip Python installation, but mbed.py cannot be installed.
Is it a expected behavior?

![nombed_installed](https://cloud.githubusercontent.com/assets/17120422/23448019/f7332154-fe91-11e6-8548-6caa77cfc99b.png)

[2017-03-01 14:24] theotherjimmy commented on #264
I was planning to add build date. 👍

The paths are still relative paths. would you like the ./?

Nope.

This is the same ID that is used by the testing infrastructure. Beyond that I don't know.

mbed-cli should add it's own version. Toolchains currently do not have a way of doing version detection. I'll have to add that.

mbed-cli should add that too.

At the moment, I'm trying to get the informat

[2017-03-01 15:48] arekzaluski commented on #443
@BlackstoneEngineering @screamerbg @sg- What do you think about appending it to the end of the path? In that case after using "mbed" or "mbed-cli" in command prompt user will still use his previously installed mbed-cli version if it exists. If not then a version installed using installer will be used.

[2017-03-01 18:09] sg- commented on #443
Mixing paths and environments is difficult to support. The entry point had always been and imo should remain a virtual environment wrapped in a bat or similar shell script.

Anyone can follow the directions to install the individual tools and polute the system if they prefer

[2017-03-02 02:45] BlackstoneEngineering commented on #443
Agreed. I do not want to mess with the system path on a permenant basis.

That said, this whole thing will get much easier once mbed CLI is not a python VE but a .exe or .app file. Then I would support adding the folder path to the env path.

[2017-03-06 10:01] bcostm opened #447 "cd .."

[2017-03-06 10:02] #447 closed

[2017-03-06 10:06] bcostm opened #448 "mbed deploy error: The process cannot access the file because it is being used by another process?"
I have this error when I do this:
[code]

Any idea ?

[2017-03-06 15:17] bridadan commented on #448
@bcostm do you get any more info if you run `mbed deploy` with the `-v` flag added?

[2017-03-06 16:07] bcostm commented on #448
Unfortunately not...

BTW I use mbed-cli v1.0.0

[2017-03-06 16:22] screamerbg commented on #448
@bcostm can you perhaps disable your anti-virus software? Sometimes they check zip files for viruses and takes a while with few hundreds meg zip file

[2017-03-07 06:39] soramame21 commented on #446
@arekzaluski @MarceloSalazar Could you verify this issue and give your comment?

[2017-03-07 10:14] bcostm commented on #448
It was a good idea... but same problem with the anti-virus disabled.

[2017-03-07 10:58] betzw commented on #448
@bcostm I think your local settings of proxies and certificates might be outdated.

[2017-03-07 11:49] arekzaluski commented on #446
What version of python did you have installed? Was it 2.7+ or 3+? It should skip only python installation. Currently this check is checking only if python is installed on the system (no matter what version) and I believe that mbed-cli is compatible only with python 2.7+. I extended this check in new build version of installer.

[2017-03-07 12:39] soramame21 commented on #446
@arekzaluski I pre-installed python 2.7 under C:\Program Files (x86) not the directory C:\Python27.

[2017-03-07 12:56] arekzaluski commented on #446
Thanks, I'll investigate it.

[2017-03-08 13:30] screamerbg commented on #448
@bcostm can you try `mbed deploy -vv` please?

[2017-03-08 13:33] screamerbg commented on #429
@theotherjimmy Can we make the online exporters to create .mbed file in the root of the program containing `ROOT=.` for when exporting a repository (e.g. .hg/.git inside?)

[2017-03-08 13:54] screamerbg commented on #422
@mbartling bump

[2017-03-08 13:55] screamerbg commented on #436
@eavelardev bump

[2017-03-08 13:59] screamerbg commented on #442
@pd0wm there are projects that don't use main.cpp for the main() routine, but rather different file naming. Having a setting that controls whether you have main.cpp file or not would be rather confusing.

This could be solved differently and more intelligently, e.g.
* a pre-main() step in the mbed OS startup code that allows tests to hook early
* linker step that detects the location of main() and

[2017-03-08 17:13] theotherjimmy commented on #429
Yes. That's should be a quick change.

[2017-03-08 17:37] geky commented on #442
I think the correct solution is to decide the entry point in the linking step. However this would require a different name for main in the tests.

I believe @c1728p9 and @theotherjimmy are looking at this problem is a more general context?

[2017-03-08 17:42] theotherjimmy commented on #442
@geky see https://github.com/ARMmbed/mbed-os/pull/3730 for the API available for this in the toolchains.

[2017-03-08 23:00] mbartling commented on #422
No longer having this issue. Just checked with all of my mbed 2 examples

[2017-03-08 23:00] #422 closed

[2017-03-09 07:58] betzw opened #451 "argcomplete"
Are there any plans to support bash tab completion via `argcomplete`?

[2017-03-09 09:30] bcostm commented on #448
Same thing:
[code]

[2017-03-09 12:18] jupe commented on #264
do we have PR already somewhere ?

[2017-03-09 16:01] c1728p9 commented on #442
I have a PR up specifically to support the redirection of main - https://github.com/ARMmbed/mbed-os/pull/3801

Looping in @bridadan since he had some ideas on this as well.

[2017-03-09 17:18] bridadan commented on #442
I think the route @theotherjimmy and @c1728p9 are proposing seems the easiest route to fit into the "mbed way". Specifying your application's entry point in metadata is pretty unlike most of the mbed mechanisms, so I think setting this convention would be good enough to keep us moving in the right direction.

[2017-03-10 09:15] jupe commented on #264
We have already file which contains this information, doesn't we ? called `<build>_map.json` . Maybe there could be just reference (relative path) for that file.

[2017-03-10 11:50] beerni opened #452 "Can't create a new mbed project behind proxy"
I can't create a new project with:
`mbed new <Project>`
`fatal: unable to access 'https://github.com/ARMmbed/mbed-os/': Couldn't resolve host github.com abort: error: getaddrinfo failed`

I'm behind a proxy and I don't know how to set up in mbed-cli

Thanks in advance

[2017-03-16 04:45] BlackstoneEngineering opened #454 "Caps lock support for test -n xxxx-xxxxx-xxxx"
## Problem
When using the `test -n` command the test name must be input in lower case, even if the folders represented by the test name are all in caps. This has lead to a great deal of confusion for developers.

### example
CI Test shield test for SPI is located in the folder `TESTS/API/SPI`, so to run this test you would use `test -n tests-api-spi`. I have observed multiple developers try to use

[2017-03-16 14:22] bridadan commented on #454
@BlackstoneEngineering agreed. Can we open this against [greentea](https://github.com/ARMmbed/greentea)?

[2017-03-17 02:23] BlackstoneEngineering commented on #454
We could, will anyone address this?

[2017-03-17 14:55] bridadan commented on #454
This should be a very easy change. As in add this line:

[code]

Above this line: https://github.com/ARMmbed/greentea/blob/master/mbed_greentea/mbed_greentea_cli.py#L867

[2017-03-17 18:53] BlackstoneEngineering commented on #454
Raised issue here : https://github.com/ARMmbed/greentea/issues/216

[2017-03-17 18:54] bridadan commented on #454
Thanks!

[2017-03-17 18:54] #454 closed

[2017-03-21 00:50] theotherjimmy commented on #264
@jupe

I want to clean that branch up before submitting it as a PR. I would block it ATM as it's written with very poor style.

Possibly, but when generating that file, we don't store the location of that file anywhere in the python object, so it's easier to dump the contents again. I agree that we should dump something once, as it feels more efficient. You have to remember that we are still talki

[2017-03-21 07:24] teetak01 opened #455 "mbed-cli cache does not notice that commits have disappeared for origin"
Defect: Minor
Component: mbed-cli cache

This is quite special case, but we noticed an issue with branches and git-history. I had a locally cached branch, which was force-pushed over in Github. This caused the issue that a lib-file pointing to now non-existant HASH stopped working for anyone who was using the component without caching, but on my machine it continued to work as it was always pickin

[2017-03-21 13:18] SeppoTakalo opened #456 "deploy changes my "origin" address"
This is hard to replicate, but sometimes it happens.

* I clone mbed OS application directly from its Git repository.
* I call `mbed deploy --protocol ssh`
* When I notice error `warning: no common commits` I press CTRL+C, no need to continue anymore.
* I notice that my `origin` address is changes to point to mbed OS Git repo.

Log
[code]

[2017-03-21 13:19] SeppoTakalo commented on #456
@screamerbg Please check.

[2017-03-21 13:22] SeppoTakalo commented on #456
Happens in my Mac, does not happen in my Linux machine.
Seems that even cloning order is different. In Linux, the `mbed-os.lib` is cloned first. In Mac the `atmel-rf-driver.lib` is cloned first.
Not sure if this is the reason.

[2017-03-22 13:30] screamerbg commented on #451
Please check #450

[2017-03-22 13:33] screamerbg commented on #448
@bcostm Downloading mbed lib (not mbed os) happens over HTTP. Which means that there is something in your environment that prevents you to download it (like forced HTTP proxy). Do you think you could try in different environment, like home internet?

[2017-03-22 17:10] MarceloSalazar opened #458 "'mbed import' doesn't have a consistent behaviour across multiple executions"
This is considered a bug

mbed CLI: 1.0.0
Windows 10
Python: 2.7.13

Summary:
1. Import blinky (I get mbed OS 5.4.1)
2. Update blinky project to mbed OS 5.3.6
3. Move to other directory and import blinky2 (I get mbed mbed OS 5.3.6, whether I should get 5.4.1 - latest!).

Logs:
[code]

@theotherjimmy

[2017-03-22 17:32] mbartling opened #459 "mbed target lists different in make.py and project.py"
Hey,

The matrices generated by `mbed compile --supported` and `mbed export --supported` have different lists of targets.

[2017-03-23 07:54] betzw commented on #451
Well, I am absolutely not an expert in this field, but as far as I understand this one is not using `argcomplete` and therefore needs to be installed (most likely with `root` privileges), while I think to remember from _good old_ `yotta` that `argcomplete` can be activated with just some shellcode to be put in e.g. `.bashrc`.

[2017-03-23 14:41] screamerbg commented on #459
Please file this against https://github.com/ARMmbed/mbed-os

[2017-03-23 14:41] #459 closed

[2017-03-23 15:13] screamerbg commented on #451
@betzw We accept patches! :)

[2017-03-23 15:20] screamerbg commented on #458
@MarceloSalazar
mbed CLI (and also Git and Mercurial) support importing from local directories. E.g. `git clone <local git repo folder> <dest folder>` is a valid operation.

When you first import `mbed-os-example-blinky`, you don't specify a destination name and therefore mbed CLI uses the repository name - `mbed-os-example-blinky`

When you import the second time, given there is local folder `mbe

[2017-03-23 15:31] MarceloSalazar commented on #458
IMO, this doesn't make sense from the *user* point of view.
mbed CLI should use the name that is explicitly specified as dest folder (regardless on whether there is an existing folder or not) and import the latest changes from master. Otherwise there is no reproducibility on executing the import command multiple times.

[2017-03-23 16:05] MarceloSalazar commented on #458
It seems this is a misunderstanding related to the possibility of importing an example without using the github url. We should probably reinforce the usage of the url in our example's docs (it's not the scope for this ticket).
The doc here clearly shows different alternatives to import a program:
https://github.com/ARMmbed/mbed-cli#importing-an-existing-program

I understand the possibility of imp

[2017-03-23 16:05] bridadan commented on #459
FYI, `mbed compile --supported` by default only shows mbed OS 5 targets. I'm guessing `mbed export --supported` shows mbed 2 targets as well.

[2017-03-23 17:52] mbartling commented on #459
@bridadan I thought `mbed compile` picked targets based on the current project mbed OS version?

[2017-03-23 18:11] screamerbg commented on #456
@SeppoTakalo I'm unable to reproduce this on my Mac.

[code]

Any idea how to reproduce? Can you `cat ~/.mbed/.mbed` ?

[2017-03-23 18:12] screamerbg commented on #417
@theotherjimmy @jahess Is this still an issue?

[2017-03-23 18:13] screamerbg commented on #416
@theotherjimmy @ilg-ul Is this still an issue?

[2017-03-23 18:16] screamerbg commented on #390
Please reopen if reoccurs

[2017-03-23 18:16] #390 closed

[2017-03-23 18:19] MarceloSalazar commented on #341
@javier-moreno-tridonic-com do you continue to have this problem when using mbed CLI 1.0.0?

[2017-03-23 18:40] theotherjimmy commented on #417
Yes

On Mar 23, 2017 1:13 PM, "Mihail Stoyanov" <notifications@github.com> wrote:

[2017-03-23 18:52] ilg-ul commented on #416
I don't know, I opened a separate bug for it https://github.com/ARMmbed/mbed-os/issues/3964

[2017-03-23 19:04] screamerbg commented on #437
This is now merged and should be fixed. Can you confirm with the latest mbed OS @SeppoTakalo?

[2017-03-23 19:06] screamerbg commented on #455
Thanks for the bug report @teetak01. Can you please try PR #462?

[2017-03-23 19:08] screamerbg commented on #440
@bremoran Thanks for the bug report. Can you please try PR #462?

[2017-03-23 19:09] bridadan commented on #459
The tools aren't aware of the OS version, so nope!

[2017-03-24 07:58] javier-moreno-tridonic-com commented on #341
@MarceloSalazar I haven't tried since October since there were no more feedback or pointers. Today and the following week I'll be very busy unfortunately, but after that I could try to reproduce the issue.

[2017-03-24 08:21] betzw commented on #451
Leave a comment

[2017-03-24 08:21] #451 closed

[2017-03-27 08:20] SeppoTakalo commented on #456
Happened to Nanostack border router also.
[code]

Seems that it was still able to import it completely.
I really don't know how to reproduce this, as it doesn't always happen. I wonder what combination of settings might cause this.
[code]

[code]

[2017-03-27 08:23] SeppoTakalo commented on #456
I turned the `CACHE=on` to `CACHE=off` and this doesn't happen anymore.

[code]

[2017-03-27 15:13] janjongboom opened #464 "If two library's depend on the same library, the library should only be imported once"
I know this is a bit of a hard problem, due to the way C/C++ works, but mbed CLI could help.

Situation:

- Application
    - Library A
        - Sub-library Z
    - Library B
        - Sub-library Z

Now this will never build, because Library Z is used in both libraries so we have the same source files twice... Could we implement something in mbed CLI so that when libs are referenced twice in the

[2017-03-27 16:14] janjongboom commented on #464
I think properly guarding should help here already. Rather figure out why that doesn't seem to work...

[2017-03-27 16:14] #464 closed

[2017-03-27 16:57] teetak01 commented on #455
I created a test-branch, pointed a lib to that, deployed component. Then removed it from git and after a while, re-deployed and got error for missing HASH. Looks to be working fine @screamerbg !

+1

[2017-03-28 13:29] screamerbg commented on #440
@bremoran Bump :)

[2017-03-28 13:30] screamerbg commented on #455
Thanks for testing it!

[2017-03-28 16:56] sarahmarshy opened #465 "Cannot checkout and deploy branch with lib files that have different remote from master"
To recreate:
`mbed import https://github.com/sarahmarshy/mbed-os-example-client-1`

This repo contains a lib file, `easy-connect.lib` that contains `https://github.com/ARMmbed/easy-connect/#6fb5842becaefd360f57916a587b5a0ffdc45ff0`

I have a branch called `c027` where I changed `easy-connect.lib` to reference my fork of easy-connect `https://github.com/sarahmarshy/easy-connect/#87af322ef724cdec08c

[2017-03-28 18:15] screamerbg commented on #465
@sarahmarshy When you want to switch a branch, tag or a hash of already deployed repository (with dependencies), please use `mbed update [branch|tag|hash]`, e.g. `mbed update c027`.

You will get
[code]

Notice how mbed CLI removed a repository and replaced it with a different one that you specified.

Also note that `mbed deploy` is only used for initial importing. Generally `mbed import` and `mbe

[2017-03-28 18:17] screamerbg commented on #465
Also see the `mbed update` guide at https://github.com/ARMmbed/mbed-cli#updating-to-an-upstream-version

[2017-03-28 18:18] sarahmarshy commented on #465
Oh, awesome! Thanks. I'll close this now.

[2017-03-28 18:18] #465 closed

[2017-03-28 21:25] SeppoTakalo commented on #437
The issue, as reported, is now fixed. However, only partially.
One issue remains: If you specify another output directory, it will start to fail again.
[code]

I would like to see all output directories treaded same way as `BUILD` so that what ever I specify, it will place `.mbedignore` there, so that next build with other output directory wont scan it.

Intention is that I can build by applicatio

[2017-03-30 11:29] wdwalker opened #467 "Reduce visual clutter in top level directory"
### Description
- Type: Enhancement
- Priority: Minor

## Enhancement

**Reason to enhance or problem with existing solution**

When I use the mbed CLI to work with mbed OS 5.4, I end up with a number of files in the top level directory that are for mbed itself: mbed-os.lib, mbed-os, mbed_settings.py[c], a directory and *.lib pair for each library I import, mbed_app.json for my app, etc. In additi

[2017-03-30 13:29] wdwalker opened #468 "Cannot export LPC1768 to gnuarmeclipse"
## Bug

**Target**
LPC1768

**Toolchain:**
GCC_ARM

**Toolchain version:**
(GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:**
1.0.0

**mbed-os sha:**
067fe9b Merge pull request #3848 from jamike/USBAUDIO_JITTER

**Expected behavior**
The following command should result in a GNU ARM Eclipse environment for

[2017-03-30 13:33] wdwalker commented on #468
The root cause of the seems to be the POST_BINARY_WHITELIST in tools/export/gnuarmeclipse/__init__.py not containing "LPCTargetCode.lpc_patch".

"LPCTargetCode.lpc_patch" is referred to in the "LPCTarget" section of targets.json, and its intended function is to address 32.3.1.1 Criterion for Valid User Code from the NXP LPC1768 User Manual.

Without this patch, OpenOCD complains with a warning whe

[2017-03-30 13:38] wdwalker commented on #468
There are several ways to address this problem. I believe the ultimate solution is to get the exporters to actually do something with the post_binary_hooks. Right now, it doesn't look like the exporters do anything with them except use them as a means for rejection.

The immediate problem can be resolved by adding "LPCTargetCode.lpc_patch" to the POST_BINARY_WHITELIST in tools/export/gnuarmeclipse

[2017-03-30 18:19] theotherjimmy commented on #468
Hey @wdwalker. Thanks for providing exceptional detail on the issue at hand. It seems like you know exactly what to do.

I would approve this patch.

I recommend that we do the aforementioned patch first, and see if we can make post binary hooks more "exportable".

[2017-03-30 19:01] wdwalker commented on #468
Thank you. I have a patch ready to go and I've tested it merely by exporting to IDEs that will exercise the changed code path (see below). I'm struggling with testing per [https://github.com/ARMmbed/mbed-cli#testing](https://github.com/ARMmbed/mbed-cli#testing) - I've never used the test feature before and I'm likely struggling from pilot error.

I'm also not sure how to actually do a pull request

[2017-03-30 19:03] wdwalker commented on #468
Here's a patch file created with "git diff" just in case:

[patch.txt](https://github.com/ARMmbed/mbed-cli/files/883515/patch.txt)

[2017-03-30 19:06] theotherjimmy commented on #468
We test exporters a bit differently. I'll comment in a moment with how that works from a local machine. We run /morph export-bulid on a PR that modifies the exporters.

Fork the mbed-os repo (that's where your modifications live), and push your changes into a branch on that fork. After that, you should be able to submit a PR using the "Compare and Pull Request" Banner on the mbed-os repo home page

[2017-03-30 19:07] theotherjimmy commented on #468
You beet me to it. :laughing:

I can submit the changes as a PR if you would like, but I would prefer that you have credit and the ability to modify the change set in the future if issues come up.

[2017-03-30 19:09] wdwalker commented on #468
Aha - OK. I'll set up a fork and set up the PR. Many thanks for the help.

[2017-03-30 19:09] theotherjimmy commented on #468
Thank you for contributing!

[2017-03-30 19:13] wdwalker opened #469 "Post binary hooks are not called by exporters"
## Bug

**Target**
LPC1768

**Toolchain:**
GCC_ARM

**Toolchain version:**
(GNU Tools for ARM Embedded Processors 6-2017-q1-update) 6.3.1 20170215 (release) [ARM/embedded-6-branch revision 245512]

**mbed-cli version:**
1.0.0

**mbed-os sha:**
067fe9b Merge pull request #3848 from jamike/USBAUDIO_JITTER

**Expected behavior**
This is related to issue #468. Right now, it seems as though exporters d

[2017-03-30 19:16] wdwalker commented on #469
While each exporter is likely going to need to do its own thing, perhaps the mbed-cli could be made exporter friendly - perhaps by adding a "apply-post-binary-hook" option or something that would take the binary file and run the post_binary_hook on it.

[2017-03-30 19:17] wdwalker commented on #468
BTW - I've opened issue #469 for the "exporter friendly" topic.

[2017-03-30 19:24] theotherjimmy commented on #469
When you export, there is no guarantee that you still have the mbed-os tools directory at all. This makes adding an "apply-post-binary-hook" option problematic. Further, the post binary hooks are currently set up as `class.method` names that have the option to import arbitrary mbed-os tools code.

[2017-03-30 19:26] theotherjimmy commented on #469
This issue is really related to the mbed-os tools directory, but I have no problem tracking it here.

[2017-03-30 19:35] wdwalker commented on #469
I'm unsure of the expected workflow when using an exporter. My mental model is that I'm going to use GNU ARM Eclipse for development - edit, compile, debug, etc. - but I'm going to continue to have a cloned mbed-os repo in a subdir as well as subdirs for all other libraries I've added. So, I should always have a mbed-os tools directory.

The other mental model I have right now is that I may end up

[2017-03-30 19:54] theotherjimmy commented on #469
The exporters are also presented as a service on developer.mbed.org.

[2017-03-30 20:00] wdwalker commented on #469
Aha - OK. I understand now. Thanks.

[2017-03-30 22:12] bremoran opened #471 "mbed-cli ignores config when mbed_app.json invalid"
mbed-cli builds anyway when mbed_app.json is invalid, which leads to unexpected debugging errors.

[2017-03-30 23:05] screamerbg commented on #471
cc @theotherjimmy

[2017-03-31 04:54] teetak01 commented on #471
I also noticed the exactly same thing yesterday. I copied some defines from git and had something like this in mbed_app.json:

[code]

So I had a `+` sign there, which I did not notice for a while and got _very_ strange fails in compilation :-)

Maybe mbed-cli could do some validation for critical configuration files?

[2017-03-31 09:35] screamerbg commented on #467
@wdwalker thanks for the suggestions.

Here are a few more cons:
* .lib in "special" folder means that all the libraries must be in the root folder of the parent repository. Currently .lib can live in subfolders and therefore libraries are imported where these files are. Also this will hide whether a subfolder is actually a subrepository (currently is easy to tell by checking whether there's .lib

[2017-03-31 10:52] wdwalker commented on #467
I'm happy to withdraw this request. My main motivation is that I have to visually scan through all the clutter to find the things I really care about (e.g., README.md, my sources, etc.).  Right now, working with mbed CLI feels a bit like working directly in a .git directory. If .git didn't exist, imaging see all of this each time you did an 'ls' at the top level directory:

HEAD		description	info

[2017-03-31 16:58] theotherjimmy commented on #471
Okay guys, mbed tools do report the error, it's just hidden by tonnes of output.
For example:
1. `cat mbed_app.json` : `,`
2. `mbed compile`
[code]

[2017-03-31 16:58] theotherjimmy commented on #471
I take it that you are requesting that it stops and does not continue.

[2017-03-31 17:23] theotherjimmy commented on #471
See ARMmbed/mbed-os#4098 for a fix.

[2017-04-03 19:37] jupe commented on #264
@theotherjimmy any news ?

[2017-04-03 19:38] theotherjimmy commented on #264
Nope. Let's get this done soon.

[2017-04-04 21:18] jupe commented on #264
PR https://github.com/ARMmbed/mbed-os/pull/4110 will cover first part of this issue

[2017-04-06 15:47] #468 closed

[2017-04-07 11:35] #471 closed

[2017-04-07 20:53] wdwalker opened #472 "mbed-cli can clone mbed-os.lib more than once"
As a creator of an mbed library that people can add to their projects, I want to be able to build and test my library against mbed-os. To do so, I put an mbed-os.lib file in my top level directory so that mbed-cli will clone mbed-os when I do an "mbed import" of my library.

However, the presence of the mbed-os.lib file in my library wreaks havoc on projects that import my library. The reason is t

[2017-04-07 20:57] wdwalker commented on #472
BTW - the workaround is to not put an mbed-os.lib in my library's repo. Instead, I do a git clone of the repo and then do an "mbed add mbed-os" inside it whenever I want to work on it. Or, I do an mbed import of an app that uses my library and then cd into the clone mbed-cli made of library and do a "git checkout develop" and work on the directory from there. Both are kind of clunky solutions.

[2017-04-10 14:49] bridadan commented on #472
This is pretty much what we do (usually the latter) and it seems to generally work, if being a bit clunky.

If you have thoughts on alternative ways of doing this, I think we'd definitely be interested in hearing them!

[2017-04-13 12:05] SummerSun commented on #394
Even though the issue was closed already, I think it still could be benefit if anyone else meet the similar errors and be guided here by google search.
It does crash on #include \<new\> when reference mbed c++ from .c file, root cause is still in progress, will update when I found anything.
Back to the issue, quick solution here is to change the .c file to .cpp. Everything works fine. If you would

[2017-04-13 14:56] wdwalker commented on #472
@bridadan - I have an approach in the pull request associated with this issue, and I also suggest a more generic approach that may be possible. Please let me know what you think.

[2017-04-14 07:55] betzw commented on #472
Apart `mbed-os`, what is happening when several libraries depend on other libraries?

[2017-04-14 10:43] wdwalker commented on #472
IMO, that's a very good question and is something I allude to in https://github.com/ARMmbed/mbed-cli/pull/474#issuecomment-293861836. This is a problem that will surface in time, and is common across many platforms (golang's 'vendoring' quagmire, autotools, etc.).

[2017-04-18 21:20] amq opened #475 "How to run tests over SWD?"
Custom boards may choose not to include mbed-HDK / CMSIS-DAP, but still enjoy proper debugging over J-Link / SWD. Is it possible to run mbed tests in such case?

[2017-04-19 13:07] screamerbg commented on #475
CC @sg- @c1728p9 @bridadan

[2017-04-19 15:15] bridadan commented on #475
Currently we don't have a way to do this, and I don't believe it's a priority at the moment. @c1728p9 Did you ever do any experiments with running tests purely through the debug channel?

[2017-04-19 15:21] sg- commented on #475
If the debugger (SWDAP for instance) is target aware and detectable by mbed-ls it should work. Other than SWD there is a requirement for UART to run the mbed tests.

[2017-04-19 16:22] bridadan commented on #475
True, if your debugger allows you to program your device by copying binaries onto a Mass Storage Device and [mbedls](https://github.com/ARMmbed/mbed-ls) correctly identifies the device, then it should flash ok. But then you will still need the UART channel like you mentioned @sg-.

 I took the original question to mean using a traditional SWD/JTAG debugger that only exposes a typical debug channel

[2017-04-19 17:17] amq commented on #475
I'd like to do that, just need some starting point.

That's what I meant, a board without Mass Storage and UART, just with SWD/JTAG.

[2017-04-19 18:13] sg- commented on #475
There needs to be the existence of an mbed interface available for the board, so yes. Why would you not provide the USB composite functionality and add the UART pins? https://www.mbed.com/en/about-mbed/mbed-enabled/mbed-enabled-program-requirements/#mbed-enabled-for-mbed-os-5

This would require semi-hosting (intrusive and not necessarily ideal or practical) or something like a re-targeted DCC and

[2017-04-21 12:44] wdwalker commented on #472
I'm still struggling with this. The problem I face is that the current implementation seems to make it very cumbersome to develop and test a library. My directory structure is similar to this:

What I want to do is be able to simultaneously develop `example_program` and `my-library`. I can get pretty far if I use example_program as my primary development bed, but a problem arises when I want to ru

[2017-04-21 15:52] mazimkhan opened #479 "mbed-cli leaks compiler process in CI"
Please see the screenshots:
![mbed-cli-process-leak1](https://cloud.githubusercontent.com/assets/13520658/25285552/854cc402-26b2-11e7-93d8-cc7b4b4bde57.png)
![mbed-cli-process-leak2](https://cloud.githubusercontent.com/assets/13520658/25285553/8553f3da-26b2-11e7-9920-45fa1b4b3c1e.png)

Suspended/Zombi ```arm-none-eabi-g++.exe``` prevent recursive deletion of workspace. Causing subsequent builds to

[2017-04-21 15:55] theotherjimmy commented on #479
This is a problem with the tools in mbed-os. Please re-open there.

[2017-04-21 15:55] theotherjimmy commented on #479
Further, it should not be a problem if you have an init process that reaps orphaned children.

[2017-04-21 16:24] mazimkhan commented on #479
I would not want to pollute CI jobs with cleaning up of orphaned processes. Unless there is a slick Jenkins plugin that does this reliably.
It would be better at least maintained apps like build tools don't leak processes.

[2017-04-21 16:24] mazimkhan commented on #479
Created https://github.com/ARMmbed/mbed-os/issues/4213

[2017-04-22 05:51] jupe commented on #479
CC: @miklis @marhil01

[2017-04-25 10:57] screamerbg commented on #455
Now fixed in mbed CLI v1.1.x

[2017-04-25 10:57] #455 closed

[2017-04-25 11:22] screamerbg commented on #440
@bremoran could you please try to reproduce with mbed CLI v1.1 (latest) ?

[2017-04-25 11:28] screamerbg commented on #437
@SeppoTakalo Placing an .mbedignore file in the output directory will cause mbed CLI to ignore the directory if included in other projects. Here's a very valid (and common) usecase:
1. Compile `/sources/uvisor-source/` as a static library and output it to `/sources/uvisor-lib`, e.g. `mbed compile --source /sources/uvisor-sources --build /sources/uvisor-lib --library`
2. Compile `/sources/uvisor-ex

[2017-04-25 11:30] screamerbg commented on #448
@bcostm Any news on this?

[2017-04-25 11:31] screamerbg commented on #446
@soramame21 Can you try with the latest installer please?

[2017-04-25 11:32] screamerbg commented on #445
@arekzaluski Could you please look whether this is still an outstanding issue?

[2017-04-25 11:32] screamerbg commented on #444
@arekzaluski Could you please look whether this is still an outstanding issue?

[2017-04-25 11:36] screamerbg commented on #420
@theotherjimmy @abouillot Is this still an issue?

[2017-04-25 12:09] seppestas opened #480 "Make mbed-cli more script friendly"
Mbed allows you to store and get some configuration values using `mbed config` and special purpose commands like `mbed target` and `mbed toolchain`. However, the output of these commands when getting the configured value is for some reason always prepended with `[mbed] `, making it a lot harder to use these values in a scripting environment like e.g a Makefile.

Example: a script to flash the MCU

[2017-04-25 12:10] screamerbg commented on #429
@MarceloSalazar @theotherjimmy Any progress on this?

[2017-04-25 12:11] screamerbg commented on #432
@bremoran Could you provide more details for us to reproduce?

[2017-04-25 12:43] seppestas opened #481 "mbed compile does not fail when failing to parse mbed_app.json"
When there is invalid json in the mbed_app.json file, `mbed compile` will display an error message like e.g
[code]
However, it will not cause the command to fail, resulting in a binary that does not contain any of the configuration set in mbed_app.json and the error message to get lost in the output of the compilation. This is a problem that can be easily triggered by e.g improperly removing an en

[2017-04-25 13:28] JanneKiiskila opened #482 "No way to turn off mbed cache"
The documentation at least is unclear OR the possibility to turn off the mbed cache is missing.
[code]
So, how do you turn it off?

One needs to turn it off, because currently the cache is failing randomly and you get a completely random SW  package which either compiles or not or fails to work.

[2017-04-25 14:11] bridadan commented on #480
@seppestas Fair point, most CLI tools usually have a "machine readable" option that removes the extra human-friendly formatting. I don't think this would be too hard to implement, but it's not as big of a priority. Feel free to give it a shot 😄

If you're already using scripting, you could always ignore the `[mbed]` portion with a regular expression or something, but I can see how this would make

[2017-04-25 14:12] bridadan commented on #481
@seppestas Thanks for raising this issue!

@theotherjimmy Any thoughts on this? It seems like we'd probably want to fail ASAP.

[2017-04-25 14:20] bridadan commented on #482
According to the readme, you're supposed to be able to set the option to `none` and that should disable it: https://github.com/ARMmbed/mbed-cli#mbed-cli-configuration

Does it look like CLI isn't actually disabling the cache at this point? Can you give us the steps to reproduce the issue?

[2017-04-25 14:21] seppestas commented on #480
Could the `[mbed]` appendix just be ditched? IMO it doesn't add a lot in terms of human-friendliness.

[2017-04-25 14:25] bridadan commented on #480
I believe the motivation for having the `[mbed]` in the cli is because mbed CLI actually calls multiple different scripts and tools (the python scripts inside mbed OS, greentea for tests, mbedls, etc). When examining logs, it's pretty crucial to know what script is printing what information. For this reason I'd prefer not to remove it. But I'm not the only stakeholder here, so other people can wei

[2017-04-25 14:29] JanneKiiskila commented on #482
No, I think the mbed config --global cache none does the trick, but the UI isn't perhaps the most explicit one. I looked into the code as well and it seem 3 different values would do the trick;

https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L886-L889

none, off and disabled. Perhaps we could just modify the README.MD a bit to clarify how to turn it off. Now it's a bit "assumed" impl

[2017-04-25 14:30] JanneKiiskila commented on #482
Apparently the cache issue was also fixed, but it just hasn't been released? We should really release the fix, if we've fixed the issue.

[2017-04-25 14:30] screamerbg commented on #482
@JanneKiiskila the cache issues were fixed. Did you update the latest mbed CLI? If not, care to update more often?

[2017-04-25 14:32] seppestas commented on #480
I think this feature is mostly used when debugging the tools, in which case it could be made available when providing the verbose flag or some kind of debug flag.

[2017-04-25 14:39] JanneKiiskila commented on #482
Indeed, update done - thanks for the tip, I was clearly behind - my apologies for that (0.9.1). Is there a way to subscribe for release notes?

Anyways, PR done to add the addition to README.md; https://github.com/ARMmbed/mbed-cli/pull/483

[2017-04-25 14:44] bridadan commented on #480
Seems like a fair suggestion to me!

@screamerbg any thoughts?

[2017-04-25 14:52] bridadan commented on #482
@JanneKiiskila I don't think there's anything like that as of this moment. You could always watch the mbed CLI repo (though you'll get other emails as well).

@screamerbg Release notes would probably be useful to send across the team, similar to what we do for mbed OS releases.

[2017-04-25 15:27] JanneKiiskila commented on #482
PR merged, issue closed.

[2017-04-25 15:27] #482 closed

[2017-04-25 15:44] theotherjimmy commented on #481
https://github.com/ARMmbed/mbed-os/pull/4098 should have fixed it. What version of mbed OS are you using?

[2017-04-25 15:48] theotherjimmy commented on #429
Putting up the patch now.

[2017-04-25 15:51] bridadan commented on #481
According to that PR, it should have made it into the 5.4.3 release, which is the latest release at the time of writing.

[2017-04-25 15:57] theotherjimmy commented on #481
That's why I was asking which version of mbed OS. If you are using an older version or an mbed OS 2 version, you may not have that patch yet. For mbed OS 2 I can make that happen.

[2017-04-25 16:18] theotherjimmy commented on #429
https://github.com/ARMmbed/mbed-os/pull/4224

[2017-04-25 16:21] theotherjimmy commented on #420
@abouillot The workaround (using `make_gcc_arm` or `eclipse_gcc_arm`) should now be possible. Could you try them out?

[2017-04-25 16:25] seppestas commented on #481
I'm currently using mbed os 5.4.2 and the nrf5_dfu_s13x_v2 feature branch (33bf0a8b5384f205fe315466bf798b4c85aa11f1).

I'll see if it works on mbed OS 5.4.3.

[2017-04-25 16:30] theotherjimmy commented on #481
You could also rebase the `nrf5_dfu_s13x_v2` feature branch onto the current master (I'm supposing that it was based on master at one point). That might be difficult, so be warned.

[2017-04-26 08:08] SeppoTakalo commented on #437
@screamerbg
OK. If that is the usecase, this should be documented.
Sounds like this is a issue that should not be fixed but behaviour should be documented instead.

Current documentation says only:
`--build <BUILD> to select the build directory. Default: BUILD/ inside your program root.`
so there are no hints that care should be taken when combining multiple build directories.

I agree the view th

[2017-04-26 09:26] JanneKiiskila opened #484 "Having a BUILD folder in further down in your path produces "[ERROR] header.tmpl""
This me took me hours to figure, kudos to @terojaasko for pointing it out to me.
If you accidentally do `mbed compile` in a folder down your dependency repos you will get a weird  error.

[code]

This is caused by having a BUILD folder anywhere down the downstream folders. It just kills the compilation and the error note is NOT very clear in giving any sensible guidance how to recover.

You can't

[2017-04-26 11:33] 0xc0170 commented on #484
I had this issue yesterday, could not figure out where is that header coming from. But as I cleaned the repo afterwards, I could not reproduce this further to report  it back.

[2017-04-26 11:56] JanneKiiskila commented on #484
Yep, it required then `mbed update --clean` to get fully resolved.

[2017-04-26 14:56] dhamukrish opened #485 "Error while installing mbed-cli on macOS 10.12.4"
Could you please advise why this error as I am very new to mbed world installing on the macOS 10.12.4.

Below command, I have tried based on the instruction given by mbed

**command**
```sudo pip install -r requirements.txt```

[code]

**Error**
[code]

[2017-04-26 15:56] bridadan commented on #484
Hmm, this seems funny. I thought mbed CLI was supposed to recursively traverse upwards in your project to try and find the root. This behavior usually happens when you've imported the project in a funny way so that the "root" for the project was never setup correctly by mbed CLI. If you have steps that detail how to setup your project exactly like you have here from scratch, I'd be interested in t

[2017-04-26 16:02] bridadan commented on #485
Hi @dhamukrish, thanks for posting your logs! It looks like this may be a permissions issue.

Could you post the log outputs of the following please?

1. `python --version`
2. `pip --version`
3. `pip list`

Once you have the logs, I'd recommend trying the `pip install` call you did above again, though it seems strange that you need to use `sudo` to do this.

[code]

[2017-04-26 18:46] peterpan666 opened #486 "Can't compile on local machine but fine on online compiler"
Hi, I've just installed the mbed-cli on my Macbook but can't the project to compile.

It's compiling great with the online compiler though but on my local machine I've got

[code]

I've tried to update the librairies and all but nothing seems to work 😔

I'm with `gcc-arm-none-eabi-4_9-2015q2` toolchain and the NRF51_DK target.

[2017-04-26 19:01] theotherjimmy commented on #486
Hi @peterpan666,

I would like to help you out with this, but I don't have enough information to do that.
Could you point me at the program you are trying to compile?
Could you tell me which target you are trying to compile for?
Could you list the versions of mbed-cli and mbed-os?

[2017-04-27 00:11] dhamukrish commented on #485
@bridadan Thanks for your advise.
Please find log below However, I have tried running even in sudo already and provided fresh log below as well.

**```python --version```**
```Python 2.7.11```

**```pip --version```**
```pip 7.1.2 from /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages (python 2.7)```

**```pip list```**
[code]

**```sudo pip install -r mbed-os/requireme

[2017-04-27 06:58] peterpan666 commented on #486
Hi and thanks for your answer! Here we go :

- I can't show you the entire program, it is private and not mine 😕
- The target is the NRF51_DK
- The mbed-cli is `version 1.1.1` I'm not really sure using the mbed-os, how can I see which version it is?

[2017-04-27 14:37] bridadan commented on #485
Hi @dhamukrish, From the log output it appears to be a pip issue, not an mbed-cli issue. Specifically this line in your last log suggests upgrading pip:

[code]

I'd recommend running `pip install --upgrade pip` as suggested and see if that helps with the error.

[2017-04-27 15:15] dhamukrish commented on #485
Hi @bridadan,
I did already and error remain same.

[2017-04-27 15:43] theotherjimmy commented on #486
[code]
should do the trick

[2017-04-27 16:01] bridadan commented on #485
@dhamukrish Ok, well it seems like you have some kind of package issue, specifically with the `setuptools` package. It looks like it's trying to uninstall it which seems strange:

[code]

I found this stack overflow question about it: http://stackoverflow.com/questions/33234665/upgrading-setuptools-on-osx-el-capitan

I'd recommend searching/googling how to solve this particular issue as this is a

[2017-04-27 16:33] peterpan666 commented on #486
This is the output of `mbed ls`

[code]

[2017-04-27 16:45] theotherjimmy commented on #486
Thanks for the info. You are using the mbed hal revision 96, which is quite old.

[2017-04-27 16:57] peterpan666 commented on #486
Yeah I believe it's due to the `BLE_MIDI` dependency but still, I don't get why I could compile the project online and not on my local machine 😕

[2017-04-27 18:17] theotherjimmy commented on #486
Agreed. It should compile in both. I'm going to try to reproduce the error on my end. If I can, then I can give you some insight on why it's failing.

[2017-04-27 18:32] theotherjimmy commented on #486
I created a test project with an empty main to test the BLE_MIDI + sub-library structure.
`mbed ls`
[code]
`mbed compile -t gcc_arm -m nrf51_dk`
[code]
Looks fine.

I don't know what's going wrong here.

[2017-04-28 00:55] dhamukrish commented on #485
@bridadan This helped. Thanks for your direction.
However, I haven't installed stock Python rather I have installed all the missing package individually with sudo.

More over this is not mbed-cli issue.

Thanks again.

[2017-04-28 00:55] #485 closed

[2017-04-28 09:18] peterpan666 commented on #486
Sigh and with the same libraries version 😔
Ok I'll try to find something missing and put it back here if I find anything.
Thanks for your help and time!

[2017-04-28 09:19] peterpan666 commented on #486
Wich version of GCC ARM are you using?

[2017-04-28 09:46] 0xc0170 commented on #484
My use case how I got this error:

Having blinky example for mbed OS, and inside mbed-os repo .
I am working on both codebases. Using mbed-cli to build blinky with mbed OS or any other program with main.cpp and then inside mbed-os repository, running tools/mbed 2 scripts like make.py or build.py to verify that changes I am doing do not affect mbed 2 scripts + programs. This is however not typical

[2017-04-28 14:20] theotherjimmy commented on #486
You're welcome.

I'm just glad that you got it working :D

[2017-04-28 14:23] theotherjimmy commented on #484
When I follow the instructions you posted, @0xc0170, I get the following error:
[code]

[2017-04-28 15:18] 0xc0170 commented on #484
That's correct, now I get the same error as you:

[code]

in the blinky root and the same one for the ``mbed test -m K64F -t ARM --list`` in blinky/mbed-os.  😕

(Mine above instructions were what I was doing most of the time and got the same error as reported above multiple times, seems like I did something additional, will continue and if I hit it again, will report back).

[2017-05-02 07:05] ASealion opened #487 "Duplicate optimization settings on IAR EWARM export"
tested on 7.7 and 8.11

**Steps to reproduce**
After exporting a project from the online compiler is is not possible to compile the project.
Since the project options on the "Optimizer" are set to "High" and there is a extra Option "-Oh".

This leads to the compiler message:
[Su004]: Option -O can only occur once

[2017-05-02 07:31] 0xc0170 commented on #487
cc @theotherjimmy

[2017-05-02 15:01] theotherjimmy commented on #487
Whoops. Thanks for finding this. The python that is run when you export is here: https://github.com/ARMmbed/mbed-os/tree/master/tools/export/iar This may not be the only duplicate option. You are welcome to submit a PR to mbed-os @ASealion. I can help out, or make the PR.

[2017-05-03 07:29] betzw commented on #472
@screamerbg, @nikapov-ST,

we are actually facing this issue with a library (lets call it `libA`) (different from `mbed-os`) on which two other libraries (`libB1 `& `libB2`) depend on. As expected the compilation, or rather the build process is failing due to the double inclusion of the library `libA`. This is happening also when using the mbed online compiler!!!
Pls. give some advise on how to pr

[2017-05-03 11:23] wdwalker commented on #472
@betzw - I proposed a possible approach in my comment at https://github.com/ARMmbed/mbed-cli/pull/474#issuecomment-293861836. The problem here is very similar to the 'vendoring' problem the golang folks have yet to solve gracefully: you're going to run into this problem in any system that automatically fetches dependencies, especially when it fetches them recursively.

[2017-05-03 14:47] screamerbg commented on #484
@0xc0170 @JanneKiiskila could you please update your mbed CLI to latest (v1.1.1) and provide steps to reproduce it with it?

[2017-05-03 14:55] theotherjimmy commented on #487
Good call on the labels @screamerbg.

I'm going to take a look today, @ASealion. I'll mention the PR I create here.

[2017-05-03 14:56] screamerbg commented on #480
@seppestas as @bridadan put it, mbed CLI invokes a lot of tools - git, hg/mercurial, build system, exporters, test frameworks, detect scripts etc. We would like to make it very clear who "owns" the error, rather than mask it behind mbed CLI.

One of the future updates to mbed CLI will introduce a prefix to each line with the tool name that emits the output. This is align the output of mbed CLI and

[2017-05-03 14:57] screamerbg commented on #481
@seppestas Any news on this? Did @theotherjimmy's suggestion help?

[2017-05-03 15:17] seppestas commented on #481
@screamerbg Oops, sorry, forgot about this...

Confirmed to be solved in mbed-os 5.4.4 by ARMmbed/mbed-os#4098.
This is a duplicate of ARMmbed/mbed-cli#471.

[2017-05-03 15:17] #481 closed

[2017-05-03 16:01] seppestas commented on #472
I'm facing a similar issue. My approach is to add an `EXAMPLE` folder in the root of the library and add `EXAMPLE/*` to the `.mbedignore` file.

Inside of the `EXAMPLE` folder is my `mbed-os.lib` file and a symlink to the library (e.g `ln -s .. my-library`). This way I can build and test the example code that relies on the library (yes, I realize that this creates a symbolic link loop, but this is

[2017-05-05 04:11] jupe commented on #264
@bridadan any chance to extend build-data with git details? its very important because otherwise we doesn't have any exact information about what is actual code in build. There should be git hashes&possible tags for each repository used in build.

[2017-05-05 14:46] bridadan commented on #264
@jupe I'm wondering how we can do this without passing ALL of this information to the build tools, seems like it's definitely gotta be in a file. What if we augmented the `mbed ls` command of mbed CLI to output all of this data?

[2017-05-05 19:47] theotherjimmy commented on #487
Looks like [this line](https://github.com/ARMmbed/mbed-os/blob/master/tools/export/iar/__init__.py#L117) needs to check for `-Oh`

[2017-05-08 21:03] theotherjimmy commented on #429
Alright: Now we have to update the tools in the website... I'll keep you posted.

[2017-05-09 04:19] jupe commented on #264
I did think that mbed cli has already most of these git details, isn't it? or at least easy to fetch using cli functions it has already.. ? `mbed ls` sounds too close `mbedls` for me but idea is fine for me - BUT i dont want to call multiple times these tools to get all this data.. now building produce initial file already and doesn't make sense if i have to call another time tools to fullfill tha

[2017-05-09 09:49] bcostm commented on #448
Tested today with https://developer.mbed.org/teams/Semtech/code/SX1276PingPong/ example and every thing has been downloaded correctly, even the mbed library. I close it.

[2017-05-09 09:49] #448 closed

[2017-05-09 15:03] bridadan commented on #264
Yes it does!

Agreed, though that's probably a topic for another time 😄

Also makes sense. Perhaps we could make mbed CLI (when provided a global config option OR an argument flag) output a file detailing the git details in either root directory or the build directory ahead of time. Then the build tools could slurp this up and include it in the build directory.

@theotherjimmy How do you feel abou

[2017-05-09 15:34] theotherjimmy commented on #264
@bridadan We could do that, but we already have an option to specify the location of the build data file. instead, why don't we just create (or add) the build data to that file? I don't want to have to explicitly name this when we already accept an option for it.

[2017-05-09 15:41] bridadan commented on #264
@theotherjimmy that's fine with me too!

[2017-05-09 19:23] theotherjimmy commented on #487
See https://github.com/ARMmbed/mbed-os/pull/4293 for the fix

[2017-05-10 11:56] MarceloSalazar commented on #444
Issue still shown in mbed CLI v0.3.6-alpha

[2017-05-10 12:16] MarceloSalazar commented on #445
This issue is no longer valid. Testing new behaviour in v0.3.6

[2017-05-10 12:16] #445 closed

[2017-05-10 19:08] Val-Apana commented on #487
In IAR: Project -> Options-> C/C++ Compiler: “Extra Options” tab, scroll down and delete the “-Oh” line.

[2017-05-10 19:19] theotherjimmy commented on #487
Yup. That's what the PR I mentioned prevents you from having to do.

[2017-05-12 06:58] teetak01 opened #488 ""mbed compile -v' fails on Unicode error when printing out warning"
How to reproduce:

tested with mbed-cli 1.1.1

Example program.
[code]

[code]

So the mbed-cli is in fact failing because it cannot print out the warning message correctly. That code compiles (with warning) fine with `mbed compile`

Of course that line is typoed bug, but the verbosity mode itself probably should not terminate compilation.

[2017-05-12 18:24] theotherjimmy commented on #488
Hi @teetak01,

I'm pretty sure that this is an error with the tools that reside in the mbed-os repo. Could you raise the issue there?

[2017-05-15 07:38] #488 closed

[2017-05-15 15:20] #487 closed

[2017-05-23 12:48] kuggenhoffen opened #490 ""Makefile" added into GIT repo excludes"
It seems that mbed-cli adds `Makefile` (and others) to `.git/info/exclude`. What's the reason to force repository wide ignore of those?

I presume it is because of project export, if so I think these ignores could be more specific so that user is allowed to have such files in their repository but still ignoring generated project files.

[2017-05-24 01:38] binary-nerd opened #491 "How to import from a specific branch of a gitlab repository"
I have a question related to the workflow using mbed-cli

Here is what I did.
1. I went into my embedded project which was for arduino.
2. I creatd a new branch called mbed.
3. I cleaned up everything that is existing
4. `mbed new --scm none --program .`  -> This downloads everything including mbed-os
5. I created `main.cpp` and wrote a program
6. I pushed the new branch to my repository. Interest

[2017-05-24 14:36] bridadan commented on #490
@kuggenhoffen Yes I believe this is due to project export. Would you suggest something like we only ignore the Makefile in the root of the project? What are your thoughts on this?

[2017-05-24 14:39] bridadan commented on #491
I believe you should be able to do an `mbed import` of your git repo, then do a `mbed update [branch_name]` in the project directory. Here's the relevant portion of the docs: https://github.com/ARMmbed/mbed-cli#updating-a-program

[2017-05-25 06:40] binary-nerd commented on #491
Thanks @bridadan
I made a small make file which would download the mbed-os sources and few dependencies. For now, I am good with this approach.

[2017-05-25 06:40] #491 closed

[2017-05-25 06:42] binary-nerd opened #492 "cstddef: No such file or directory Error with mbed-os-example-blinky project"
Compiling mbed-os-example-blinky gives me the following errors.

[code]

I know there is some setup issue. But I am not able to figure it out what it is!

[2017-05-25 09:06] 0xc0170 commented on #492
@binary-nerd Whats your GCC setup in your system (in your path) ? Is it gcc arm, not other distribution? what version ?

Run ``arm-none-eabi-gcc --version``

[2017-05-26 00:24] binary-nerd commented on #492
Yes it is `GCC_ARM`

[code]

Also there does not seem to be any other ARM binaries in my `/usr/bin`

[code]

[2017-05-26 11:45] 0xc0170 commented on #492
Can you update (it writes prerelease) your gcc arm? If you google you will find that often using official gcc arm should fix this problem or having cpp file instead of c - two most common problems to get this type of error (it was already reported even here on github, please look for it).

[2017-05-29 09:59] janjongboom opened #493 "Allow setting the name of the application"
If I have a project with both firmware and a web app I put the firmware in a 'firmware' folder. Now my program is called 'firmware'. I want to be able to set the program name somewhere (maybe .mbed file).

[2017-05-29 11:05] kuggenhoffen commented on #490
I'm not too familiar with the export functionality, but perhaps something like have the project file(s) exported to known location / name and only ignore the generated files in that location would work. That would keep repository clean of autogenerated export files while allowing user to keep track of their own makefiles and/or project files.

[2017-05-30 13:24] binary-nerd opened #494 "Understanding the build system of mbed"
I dont see any makefile sought of thing where i can define what files to include.

What is the build system used by `mbed`?

For example, I am trying to include a BLE library and I am facing following error :
[code]
I would like to check if the includes path include the BLE path or not. How can i check that?

By default all the files are being included. Do we have a precise controle over what file

[2017-05-30 15:03] bridadan commented on #493
@janjongboom The `mbed compile` command supports the `--artifact-name` option which lets you set the name of the binary created. Does this serve your purpose?

[2017-05-30 15:05] bridadan commented on #490
@kuggenhoffen The problem with `Makefile`s is that (to my knowledge) they tend to only be named one thing 😄

However, exported project files are always put in the project root, never anywhere else. It may be possible to ignore ONLY this location, however there may be other things that I'm not aware of that could complicate this.

Any thoughts @theotherjimmy?

[2017-05-30 15:28] bridadan commented on #494
@binary-nerd all files in the project directory are included unless you specifically ignore them with a `.mbedignore` file, which is documented here: https://docs.mbed.com/docs/mbed-os-handbook/en/latest/advanced/mb

What is the structure of your app? What library are you using?

[2017-05-30 15:51] theotherjimmy commented on #490
We could ignore only the root Makefile. I can't see how that would negatively impact things. We should try it out and see if it's a Bad Thing™ !

[2017-05-30 15:54] theotherjimmy commented on #493
Further, recent version of mbed-os support the `artifact_name` key in mbed_app.json, as an alternative to the command line switch.

[2017-05-30 23:08] binary-nerd commented on #494
Thanks @bridadan
I was able to remove the errors by adding BLE_API to the project.

But this step was not intuitive to me. BLE_API was already present in mbed-os, so i initially thought it would include it from htere, but that did not happen.

If you want to include header path or declare some preprocessor variables, do we have a way to do that in mbed?

[2017-05-31 11:59] janjongboom commented on #493
@theotherjimmy @bridadan Cool!

[2017-05-31 11:59] #493 closed

[2017-05-31 15:02] bridadan commented on #494
@binary-nerd Is this project public? If it is, can you post a link? That way we can make sure the tools are behaving how they are supposed to.

But yes there is a BLE folder in mbed-os, though this is only for boards that have native BLE support (ex. NRF51_DK).

[2017-06-02 04:22] soramame21 commented on #446
@screamerbg, Sorry for such delayed reply. the windows installer is verified and works well. I will close this issue.

[2017-06-02 04:23] #446 closed

[2017-06-02 04:24] soramame21 commented on #446
I tested on Windows 10 environment.

[2017-06-05 13:38] binary-nerd commented on #494
Thanks @bridadan
The project is not public. Actually my question is whether we have any finer controle on the build system.
like passing preprocessor flags etc.. like what we can do in a traditional linux makefile.

I am closing the issue for now as my original problem is resolved.  We can stil continue the discussion.

Thank you.

[2017-06-05 13:38] #494 closed

[2017-06-05 13:41] theotherjimmy commented on #494
You can pass preproccessor flags to `mbed compile` in the same way you would pass them to the compiler: `-DFOO=bar`

[2017-06-05 15:47] bridadan commented on #494
@binary-nerd You can do as @theotherjimmy suggested. You are also welcome to export to a Makefile if you are more comfortable with that. Assuming you're using the `GCC_ARM` compiler, the mbed CLI command would be.

[code]

At which point you should be able to just run `make`

[2017-06-05 16:01] pan- commented on #494
@binary-nerd To include BLE api in your project you have to enable the `BLE` feature in your application.
You can look at `mbed_app.json` files in mbed-os-example-ble as an example (for instance [here](https://github.com/ARMmbed/mbed-os-example-ble/blob/master/BLE_BatteryLevel/mbed_app.json#L4))

[2017-06-07 10:26] rspelta opened #496 "modules python missing"
Hi all,
I'm installing from a virtual machine (windows 7 os, it is clean, just installed) the mbed-cli and I'm having a problem. After the installation following the video https://www.youtube.com/watch?v=cM0dFoTuU14 I tried to compile the project but I get this error:

Traceback (most recent call last):
  File "C:\Users\mbed\Desktop\mbed-os-sensor-node\mbed-os\tools\make.py", line 31, in <module>

[2017-06-07 15:10] bridadan commented on #496
Thanks for reporting this. However to my knowledge we haven't made any changes to the packages you mentioned.

From the error log it looks like you may be having an SSL issue. This isn't something we can fix.

I did a bit of searching and found this discussion thread, maybe something there will help you? https://github.com/pypa/pip/issues/3415

[2017-06-08 15:56] rspelta commented on #496
Thank you for the reply, the only way I findout to resolve this problem is to install in this order the packages:
pip install mbed-cli IntelHex jinja2 bs4 fuzzywuzzy prettytable colorama pyserial junit_xml pyyaml requests mbed_ls
pip install setuptools_scm
pip install mbed-host-tests
pip intall mbed-greentea

Seems that setuptools_scm is a package to install in order to avoid that error.

[2017-06-08 21:03] pmcalabrese opened #500 "BLEProtocol.h@22,21: algorithm: No such file or directory"
Hello,
I'm trying to compile https://developer.mbed.org/teams/microbit/code/microbit-hello-world/ with mbed-cli.
I'm using the latest mbed-cli.

when i run the command

[code]

i get the following output

[code]

The same program compiles on the online editor without any errors.

Any suggestion or help is welcome.

[2017-06-09 09:02] ashok-rao commented on #444
Looks like fixed in v0.4.0. More details are here: https://jira.arm.com/browse/IOTTOO-2518 .. Still needs to be tested :-)

[2017-06-09 10:54] pan- opened #501 "mbed config <TOOLCHAIN_PATH> <PATH> doesn't work in mbed OS tree"
It is should be possible to set a local toolchain path for an mbed OS tree. Not just a "valid mbed program".

In my use case, in CI server, a global toolchain is already set via `mbed config -G` and this value has priority over the environment variable` $MBED_<toolchain name>=<toolchain_path>`.
Because the mbed OS tree is not considered as a "valid mbed program" I cannot compile tests with a toolc

[2017-06-11 14:34] saedelman opened #502 "mbed-os-example-blinky breaks on NRF52_DK when NDEBUG macro set"
Both online compiler (using Compile Macros -> NDEBUG) and MBED-CLI (mbed_app.json) causes application freeze in blinky with NRF52_DK as target. I have not tested it for other targets.

[2017-06-11 17:41] dnvasta opened #503 "OpenSUSE mbed-cli installation"
what should i do now!
When i do execute [  mbed --version ]
it gives following errors

[code]

[2017-06-11 17:45] dnvasta commented on #503
[ python --version ]
Python 2.7.12

[ pip --version ]
pip 7.1.2 from /usr/lib/python3.4/site-packages (python 3.4)

[ pip list ]
apparmor (2.10.2)
bottle (0.12.8)
coverage (3.7.1)
cupshelpers (1.0)
LibAppArmor (2.10.2)
mbed-cli (1.1.1)
nose (1.3.7)
pip (7.1.2)
py (1.4.30)
pycups (1.9.72)
pycurl (7.19.5.1)
pygobject (3.20.1)
pysmbc (1.0.15.4)
requests (2.7.0)
setuptools (18.3.2)
simplejson (3.8.0)

[2017-06-12 15:12] theotherjimmy commented on #503
@dnvasta mbed CLI needs python 2 ATM, could you do:
[code]

Long explination:

You installed mbed CLI with python3.4. mbed CLI does not run well with python3.4 (see your traceback). The only way I know to get it to run correctly is to install it with the python2 version of pip.

[2017-06-12 15:28] dnvasta commented on #503
@theotherjimmy Great! Its all good now! Thank you for your valuable reply!

[2017-06-12 15:28] #503 closed

[2017-06-12 21:29] bridadan commented on #496
@rspelta Thanks for posting your findings. We don't have control over those packages unfortunately. I'm gonna close this issue for now, if others run into this we can look into this issue in more depth.

[2017-06-12 21:29] #496 closed

[2017-06-12 21:47] bridadan commented on #502
@saedelman Thanks for reporting this. Could you please report this at https://github.com/ARMmbed/mbed-os? Could also include the version of mbed-os or the commit hash of the blinky example you're using when you report it there? Thanks!

[2017-06-13 06:01] AriParkkila opened #504 "mbed export is missing parameter --app-config"
For example _mbed-os-example-mesh-minimal_ need to be compiled with --app-config parameter. That parameter seems to be missing from mbed export command.

[2017-06-13 09:36] RobMeades opened #505 "mbed update not updating (with a mercurial repository)"
Apologies if this is a stupid question but I've just begun using `mbed cli` with a Mercurial repository and I can't get `mbed update` to do any updates.  `mbed update` instead behaves like `mbed deploy`, fetching the version of the library specified in the `.lib` file.

What am I doing wrong?  This is with `mbed cli` version 1.1.1.

[2017-06-13 15:09] bridadan commented on #504
Thanks for reporting this @AriParkkila.

@theotherjimmy Do the tools support overriding the default filename `mbed_app.json` when exporting projects via the `--app-config` parameter?

[2017-06-13 15:09] theotherjimmy commented on #504
Let me check real quick.

[2017-06-13 15:10] bridadan commented on #505
@RobMeades Can you tell me what exactly you're trying to accomplish? Are you trying to update a specific library inside a project (`mbed-os` for instance)?

[2017-06-13 15:10] theotherjimmy commented on #504
Not right now, but it would be a simple patch.

[2017-06-13 15:16] theotherjimmy commented on #504
[code]

Would work

[2017-06-13 15:17] RobMeades commented on #505
I'm cloning something like this:

https://developer.mbed.org/teams/ublox/code/example-ublox-at-cellular-interface/

...then running `mbed update` in there and expecting to get the latest version of the library that it brings in via `ublox-at-cellular-interface.lib`.  So, for instance, the latest revision of `ublox-at-cellular-interface` is `#f6706249d076`, so I would expect that version to arrive,

[2017-06-13 15:24] bridadan commented on #504
@theotherjimmy Lovely! Any chance you wanna bump up your PR count? 😄

[2017-06-13 15:31] theotherjimmy commented on #504
heh, see the linked PR.

[2017-06-13 15:35] bridadan commented on #504
Awesome, when that comes in we just need to add the option in mbed-cli as well.

[2017-06-13 16:11] theotherjimmy commented on #504
No we don't. mbed-cli just passes unknown arguments on untouched.

[2017-06-13 17:58] RobMeades commented on #505
But then how do I update the top level project? Won't that downgrade the libraries again? Is there no way to ask mbed cli just to recurse through a build setting everything to latest (which I what the help text for `mbed upgrade` implies it does)? Or maybe a way to code the contents of the `.lib` file to mean "at least this version"? At the moment the only way around this would seem to have freque

[2017-06-13 18:35] bridadan commented on #505
@RobMeades Yeah this can get a little confusing. There isn't a way to currently recurse through all the folders and update each lib to the latest. Due to the nature of how libraries can change significantly between releases (in an incompatible way), I think this capability isn't present on purpose.

I would suggest doing the following:

[code]

Then for each library, do the following:

[code]

Whe

[2017-06-14 08:42] RobMeades commented on #505
So what is the difference between `mbed deploy` and `mbed update`?  The confusion is that in all other systems I've come across having `up` at the front (update, upgrade) implies that it moves something "up".  `deploy` says that it will "Find and add missing libraries", `update` will "Update to branch, tag, revision or "latest".  If `update` doesn't update to latest it is quite confusing to say "l

[2017-06-14 13:12] tz-arm opened #506 "Windows Uninstaller did not clean the relevant system path."
After ninstall mbed-cli using uninstaller and reboot the system, there is still some mbed-cli relevant paths in system environment.

[2017-06-14 13:24] tz-arm opened #507 "Windows Uninstaller did not remove the git and mercurial which is installed by installer- enhancement"
The uninstaller did not remove git & mercurial which is installed by installer, propose to add a remove checkbox in uninstaller too.

[2017-06-14 13:28] tz-arm opened #508 "Windows Installer did not add mbed-cli and toolchain into system path- enhancement."
Windows Installer did not add mbed-cli and toolchain into system path as default but use a bat to active a particular environment. I propose to give choose to user as normal practice.

[2017-06-14 13:37] tz-arm opened #509 "Windows Installer shows warning that “The verified publisher is unknown” - enhancement."
For both windows7 and windows10, there is warning message that "The verified publisher: unknown".
Apparently the user will consider that the software is not published officially.

[2017-06-14 15:23] arekzaluski commented on #509
The problem was fixed in version 0.4.0 of installer. Is this problem relevant to version 0.4.0 or previous?

[2017-06-14 15:30] ashok-rao commented on #506
Hi @tz-arm , it's been updated in 0.4.0. Can you please re-download the installer and check again? My bad, I had not updated the download link for the installer..

[2017-06-14 15:56] RobMeades commented on #505
OK, I *think* I've got it, but it is really subtle and, I think, not something that a user is likely to understand.  In general, with mbed, there seems to be an effort to prevent the user messing up (viz the separate levels of config control for target, library and application) but the result of that is a loss of flexibility (e.g. I would like to specify different `macro[]` entries for different t

[2017-06-14 15:56] #505 closed

[2017-06-14 16:08] RobMeades opened #511 "Enhancement request: mbed upgrade or mbed update -f"
See conversation over in #505, it is a complete pain trying to develop a set of libraries as there is no way to tell mbed to just update everything to latest.  I recognise that there are dangers in doing this but, when actively developing a suite of libraries, a developer is perfectly aware of any changes he/she has made and just wants everything to stay in sync with what's archived; the only way

[2017-06-14 16:08] RobMeades commented on #505
See enhancement request #511.

[2017-06-14 16:22] bridadan commented on #505
@RobMeades You've hit the nail on the head, its always a constant struggle between flexibility and ease of use. If you'd like to have more control of your program, you can always export to something like a Makefile so you can tweak everything you like. We do our best to keep the support for the exporters working in the default configuration, but once you go off that we obviously can't make any gua

[2017-06-14 16:23] bridadan commented on #511
How would you feel about `mbed update --recursive/-r` ?

[2017-06-14 16:24] RobMeades commented on #505
Ooo, `macros_remove/macros_add`, I can use that, I must RTFM a bit more.  Of course, if you could just put `marcos` anywhere and it would just sort things out that would be even more natural :-).

[2017-06-14 16:25] RobMeades commented on #511
Yes, like that, even more intuitive.

[2017-06-14 16:26] theotherjimmy commented on #505
@RobMeades config can feel a bit more ergonomic for that sort of thing.

[2017-06-14 16:27] bridadan commented on #511
@theotherjimmy @screamerbg Thoughts? Concerns?

[2017-06-14 16:29] RobMeades commented on #505
True, but I have two targets, one of which has TRNG and one doesn't, and, when building mbedClient it's a real pain to have to have to edit `mbed_app.json` and cut/paste:
[code]
...into `config` all the time, especially when bl!%dy json doesn't support commenting things out so I really do have to delete the lines.

[2017-06-14 16:32] theotherjimmy commented on #511
Sounds like a good idea. Would be useful for developing libraries. I like the "default behavior that probably won't break something" and "turn on dangerous mode" duality. @screamerbg will probably want a warning.

[2017-06-14 16:35] theotherjimmy commented on #505
@RobMeades Is that a feature request for yaml config :smile: ?

[2017-06-14 16:35] bridadan commented on #505
Heh, that case is a bit interesting since we highly discourage the use of mbed Client without hardware entropy since it is inherently insecure. Obviously you don't have much choice in this case, but it shouldn't be used in production deployments.

[2017-06-14 16:36] bridadan commented on #511
Feature request: `mbed config -G dangerous_mode enabled` 😛

[2017-06-14 16:36] RobMeades commented on #505
@theotherjimmy : I wouldn't dare :-).
@bridadan : yes, I read the warning in the header file when it pops out every single time I compile any mbed client source file :-).

[2017-06-14 16:38] theotherjimmy commented on #511
@bridadan FTFY

[2017-06-14 21:23] screamerbg commented on #511
@RobMeades @bridadan I like the feature request, and also that it doesn't impact the default behavior. The online IDE supports this via the Update All functionality already.

Want to hear @sg- 's thoughts as well.

[2017-06-14 22:04] sg- commented on #511
👍

[2017-06-14 22:11] theotherjimmy commented on #511
@RobMeades It looks like your feature has approval. Did you plan on implementing it?

[2017-06-14 22:11] RobMeades commented on #511
Ah, well, umm, I'd have to learn Python first...

[2017-06-14 22:12] theotherjimmy commented on #511
@RobMeades No worries. I'll get on it soon. :wink:

[2017-06-15 06:58] tz-arm commented on #509
This issue has been found on v0.33 via https://github.com/ARMmbed/mbed-cli/tree/windows-installer.
Just got the new link of v0.4 and verified ok now.

[2017-06-15 06:58] #509 closed

[2017-06-15 08:56] tz-arm commented on #506
verified that this has been fixed on v0.4.0.

[2017-06-15 08:56] #506 closed

[2017-06-15 08:58] tz-arm commented on #508
Verified on windows10 that this has been fixed on v0.4.0

[2017-06-15 08:58] #508 closed

[2017-06-15 18:32] theotherjimmy commented on #511
I just tried some stuff here, the diff is _tiny_ (+3, -2). However, There is a limitation: You cannot update the repos that have a detached head state. my current implementation of `-r/--recursive` updates all repos that are _on a branch_ in the tree of the current project.

[2017-06-15 19:01] RobMeades commented on #511
If I've understood detached head state properly, that might be the kind of situation where you'd really appreciate `mbed update -r`, as a sort of "get me to head" rescue.  I suppose it could warn the user and they'd have to go and do a manual `mbed update` in the directory instead?

[2017-06-15 19:41] theotherjimmy commented on #511
@RobMeades When your dependency is in a detached head state, mbed CLI has no way to determine what branch you are on, so `mbed update -r` will do the same thing as `mbed update` for that one dependency. If, OTOH, you are not in a detached head state, it updates to the latest revision of the current tracking branch.

[2017-06-15 19:46] theotherjimmy commented on #511
The reason we can't determine which branch you are on is simple. Let's talk about a repo with a single commit:
[code]
Now I create another branch with another commit on top:
[code]
Now we do something very reasonable: we add a commit to master
[code]
Now I check out the commit before master (the bottom commit in the diagram). Which branch am I behind now?

[2017-06-15 20:01] RobMeades commented on #511
Understood.  I think it would be good for the user to know if `mbed update -r` was unable to update a `.lib` because it was in a detached HEAD state, basically print a message saying so, then they know it's going to be left behind and they can fix it manually.  That would be fine.

[2017-06-15 20:07] theotherjimmy commented on #511
@RobMeades I'll look into making that happen.

[2017-06-15 20:07] RobMeades commented on #511
Many thanks.

[2017-06-19 16:59] #504 closed

[2017-06-19 18:23] bridadan commented on #504
@theotherjimmy We'll still need to add the mbed-cli option

[2017-06-20 22:30] theotherjimmy commented on #511
@RobMeades It's done. Check PR #512

[2017-06-21 02:40] #511 closed

[2017-06-21 03:50] screamerbg commented on #501
@pan- A codebase is considered a "valid mbed program" when there is a `.mbed` configuration file in the root of the program/project. It's the same configuration file that holds the local config for that specific program that is set via `mbed config <toolchain>_path <path>`

Therefore if you initialize a program using `mbed config root .` in the root of the codebase, you would then be able to use `

[2017-06-21 03:52] screamerbg commented on #502
@saedelman I think this is a linked issue https://github.com/ARMmbed/mbed-os/issues/2467. As @bridadan suggested, please raise an issue against https://github.com/ARMmbed/mbed-os so the Nordic engineering team have visibility on this.

[2017-06-21 03:53] screamerbg commented on #500
CC @pan-

[2017-06-21 03:54] #440 closed

[2017-06-21 03:54] screamerbg commented on #439
This was introduced in https://github.com/ARMmbed/mbed-cli/issues/449, but was not approved. Closing for now. Please reopen if you feel that further discussion is needed.

[2017-06-21 03:54] #439 closed

[2017-06-21 03:56] screamerbg commented on #444
Closing as it seems to be fixed. Please reopen if reoccurs.

[2017-06-21 03:56] #444 closed

[2017-06-21 03:57] screamerbg commented on #443
Closing as it seems to be fixed in v0.4. Please reopen if reoccurs.

[2017-06-21 03:57] #443 closed

[2017-06-21 03:58] screamerbg commented on #436
Closing as we're not able to reproduce. Please reopen if needed.

[2017-06-21 03:58] screamerbg commented on #432
Closing as there is no instructions to reproduce. Please reopen if needed.

[2017-06-21 03:58] #432 closed

[2017-06-21 03:59] screamerbg commented on #429
@theotherjimmy bump

[2017-06-21 04:00] screamerbg commented on #420
@abouillot @theotherjimmy bump

[2017-06-21 04:05] screamerbg commented on #418
@betzw I think that @bridadan explained it in quite a detail. Large IT companies/corporations have very strict IT rules about the use of SSH and connecting to external services. We want to avoid complaints like "mbed CLI made an SSH connection attempt to an external host, and I got a flagged from our IT department for violating the company IT policy".

[2017-06-21 04:05] #418 closed

[2017-06-21 04:13] screamerbg commented on #479
This is now tracked in https://github.com/ARMmbed/mbed-os/issues/4213. Closing here

[2017-06-21 04:13] #479 closed

[2017-06-21 04:14] screamerbg commented on #490
cc @0xc0170

[2017-06-21 04:15] screamerbg commented on #414
@jahess Bump

[2017-06-21 04:17] screamerbg commented on #417
@theotherjimmy Bump

[2017-06-21 04:19] screamerbg commented on #416
@ilg-ul @theotherjimmy Is this still an issue?

[2017-06-21 05:03] ilg-ul commented on #416
when I checked, some time ago, it was ok, but I do not know with the current version. why? did you notice anything unusual?

[2017-06-21 05:43] screamerbg commented on #416
Just wanted to confirm the status and close it. Thanks.

[2017-06-21 05:43] #416 closed

[2017-06-21 07:51] RobMeades commented on #511
Excellent, many thanks guys, I'll wait for it to get into a release and try it out.

[2017-06-21 09:18] pan- commented on #500
@pmcalabrese This error is in the Lancaster University fork of BLE_API. It has been fixed a long time ago in mbed OS.

What is happening is simple, the mbed build system add to the include path any folder reachable by the target (in this case the NRF51_MICROBIT). In this case, the compiler try to includes the file `ble.h` but unfortunately there is two files named `ble.h` in the include path: one

[2017-06-21 09:42] 0xc0170 commented on #490
Can you test that patch and send it upstream @theotherjimmy ?

[2017-06-21 14:19] theotherjimmy commented on #490
Yup can do.

[2017-06-22 16:07] awneil commented on #415
Where is the `mbed export --supported` option documented?

https://github.com/ARMmbed/mbed-cli#exporting-to-desktop-ides

Just says,

Which is not very helpful or informative

[2017-06-23 00:57] #490 closed

[2017-06-23 04:03] saedelman commented on #502
@bridadan @screamerbg Done. https://github.com/ARMmbed/mbed-os/issues/4621

[2017-06-23 17:02] bridadan commented on #502
Thanks!

[2017-06-23 17:02] #502 closed

[2017-06-27 09:17] adustm opened #516 "mbed import fails with OS Error when downloading from developper.mbed.org"
Hello,
I have an issue with mbed import / mbed deploy / mbed update
The following does not work
`mbed import -vv http://mbed.org/teams/ST/code/STM32_ADC_InternalChannels`
while the following works
`mbed import -vv mbed-os-example-blinky`
I am working on windows 7, and we have a proxy.
[code]
[code]
It looks like my computer is able to download from github, but not from developper.mbed.org ? Or my

[2017-06-27 09:19] adustm commented on #516
It looks like it is related to #390 #448

[2017-06-27 15:16] noutram opened #517 "export to uvision 5"
I have been trying to get the bluetooth HR demo to work with keil - https://github.com/ARMmbed/mbed-os-example-ble

Using a Nucleo F401 + IDB05A1 BLE board, I can confirm building with the CLI using `mbed compile` works fine - the HR example works as expected and I can view the data on an iPhone etc.

However....

When I export the project to uvision5 using  `mbed export -i uvision5` and build+dep

[2017-06-27 16:29] theotherjimmy commented on #517
@noutram

You can get the full compiler command line from `mbed compile -v`

I can't think of one.

Let me know how it goes!

[2017-06-27 16:31] noutram commented on #517
Good plan. I'll try that and report back!

[2017-06-27 16:35] theotherjimmy commented on #517
You could also check the `mbed_config.h` in `BUILD/NUCLEO_F401RE/ARM/` and compare it to the one in the project root.

[2017-06-27 16:35] theotherjimmy commented on #517
The first method verifies that the compiler command line is the same, the second verifies that the configuration is the same.

[2017-06-27 21:24] AnotherButler opened #519 "Transcluded README means 5.4 docs have 5.5 information"
https://docs.mbed.com/docs/mbed-os-handbook/en/5.4/dev_tools/cli/#toolchain-selection says to use GCC 6 instead of GCC 4.9.3. This would be correct for 5.5, but this doc is for 5.4. I think this is because it's a transcluded page.

@iriark01 What's the best way to fix this for now?

[2017-06-28 04:40] iriark01 commented on #519
mbed CLI needs to have branches for old versions.

[2017-06-29 09:19] tz-arm opened #520 "issue for git exclude"
**Reproduce Flow:**
`git clone https://github.com/ARMmbed/ci-test-shield.git`
`mbed new .`
here it add mbed-os to .git/info/exclude
`.mbed deploy`

**Expected Result:**
here it add more items so that we can git clean result via git status

**Actual Result:**
The item of "mbed-os" is removed, so that git status will indicate it as changes.

[2017-06-29 19:24] AnotherButler commented on #519
@screamerbg Do you have branches available for older versions?

[2017-06-29 20:10] screamerbg commented on #519
You can point to the tags

[2017-06-30 05:54] jupe commented on #264
I propose to extend/create existing file with git details. `--build-json` is already there so `mbed CLI` could pick it right after/before compile call and extend it... When we could get this ?

[2017-07-03 04:12] binary-nerd commented on #492
Thanks @0xc0170

- I downloaded the latest available toolchain from [ARM developers site](https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads)
- Set GCC_ARM_PATH accordingly (`mbed config GCC_ARM_PATH "/home/binarynerd/sw/toolchain/gcc-arm-none-eabi-6-2017-q1-update/bin`")

Then it started to work. Thank you.

[2017-07-03 04:13] #492 closed

[2017-07-04 12:44] adustm commented on #516
bump

[2017-07-05 17:17] screamerbg commented on #458
This should be now closed, right? @MarceloSalazar

[2017-07-05 17:17] #458 closed

[2017-07-05 17:19] screamerbg commented on #398
This is now part of the mbed CLI 1.2 release. Please update, recheck this and update the issue.

[2017-07-05 17:22] screamerbg commented on #396
@enrcor01 Could you please recheck with mbed CLI 1.2.0 and update this issue?

[2017-07-05 17:28] screamerbg commented on #520
@tz-arm I think there's a confusion of too many commands being used. E.g. you can either:
* `mbed import https://github.com/ARMmbed/ci-test-shield.git`; OR
* `git clone https://github.com/ARMmbed/ci-test-shield.git` and `mbed deploy`; OR

`mbed new` is to create a new program or a library.

[2017-07-05 17:31] screamerbg commented on #516
I just imported the example fine with mbed CLI 1.2.

[code]

It's concerning that you get busy files, e.g.  `[mbed] ERROR: OS Error: The process cannot access the file because it is being used by another process`. Usually this is an indication of a anti-virus or other software that keeps the files busy.

[2017-07-05 17:32] #417 closed

[2017-07-05 17:32] #420 closed

[2017-07-05 17:33] screamerbg commented on #308
@BlackstoneEngineering This is now part of mbed CLI 1.1/1.2. Thanks for the contribution/suggestion!

[2017-07-05 17:33] #308 closed

[2017-07-05 18:14] theotherjimmy commented on #517
@noutram Any news?

[2017-07-05 18:22] noutram commented on #517
There has been a patch to the libraries as I understand it (Not sure why this issue only flagged up with an export to uVision). As soon as I've tested it I will let you know

[2017-07-05 18:24] noutram commented on #517
https://github.com/ARMmbed/mbed-os-example-ble/issues/91

[2017-07-06 10:16] noutram commented on #517
The fix here https://github.com/ARMmbed/mbed-os-example-ble/issues/91#issuecomment-312590769 seems to have resolved this. I cannot claim to understand the issue entirely, or why it worked using the CLI and not with uVision. I'll now check the switches anyway

[2017-07-06 10:17] noutram commented on #517
mbed compile -v gives:

Macros: -D__MBED__=1 -DDEVICE_I2CSLAVE=1 -DTARGET_LIKE_MBED -DMBED_BUILD_TIMESTAMP=1499336257.92 -DUSBHOST_OTHER -DTARGET_NUCLEO_F401RE -DTARGET_RTOS_M4_M7 -DDEVICE_RTC=1 -DTOOLCHAIN_object -DDEVICE_SERIAL_ASYNCH=1 -DTARGET_STM32F4 -D__CMSIS_RTOS -DTOOLCHAIN_GCC -DDEVICE_I2C_ASYNCH=1 -DTARGET_CORTEX_M -DTARGET_LIKE_CORTEX_M4 -DTARGET_M4 -DTARGET_UVISOR_UNSUPPORTED -DFEATURE

[2017-07-06 10:21] noutram commented on #517
@theotherjimmy mbed_config.h look identical

[2017-07-06 14:58] theotherjimmy commented on #517
@noutram Thanks for the debug. I have to point out that GCC_ARM compiler results are not useful for debugging uvision5, because it uses ARM.  Further, you should compare the Macros line to the defines in uvision. Any differences are generally a Bad Thing™.

[2017-07-06 15:04] noutram opened #522 "Compile build error with spaces in paths"
On Windows 10, I justy tried to build some code (known to work) and it failed. It turned out the issue was with there being a space in the path on that particular user account.

I assume this is a known issue, but I thought I should flag it. Maybe I should generate a PR for the READ_ME?

[2017-07-06 15:05] noutram commented on #517
Understood and sorry - I need to get to my other machine to check this (where I had it all set up)

[2017-07-06 15:06] theotherjimmy commented on #517
Well, it seems that it has been resolved for you. That's good! I would like to know why it failed though :/

[2017-07-06 15:07] noutram commented on #517
Indeed - I'll do that as soon as I can.

[2017-07-06 15:12] theotherjimmy commented on #522
Hey @noutram. We're fixing this issue. Let me get the PR number for you.

[2017-07-06 15:13] theotherjimmy commented on #522
Resolved by https://github.com/ARMmbed/mbed-os/pull/4468

[2017-07-06 15:13] theotherjimmy commented on #522
And merged :3

[2017-07-06 15:14] theotherjimmy commented on #522
Would you like a comment in the README for older versions of mbed OS?

[2017-07-07 07:35] noutram commented on #517
( @theotherjimmy  sorry for the delay - busy life + problems accessing our license server from the bus ;)

[2017-07-07 07:40] noutram commented on #517
uVision

**Include paths:**
.; .\DebugConfig; .\img; .\mbed-os; .\mbed-os\cmsis; .\mbed-os\cmsis\TARGET_CORTEX_M; .\mbed-os\cmsis\TARGET_CORTEX_M\TOOLCHAIN_ARM; .\mbed-os\drivers; .\mbed-os\events; .\mbed-os\events\equeue; .\mbed-os\features; .\mbed-os\features\filesystem; .\mbed-os\features\filesystem\bd; .\mbed-os\features\filesystem\fat; .\mbed-os\features\filesystem\fat\ChaN; .\mbed-os\feature

[2017-07-07 16:58] theotherjimmy commented on #517
Good to know that you are using the latest uvision.

This is not leading me to a conclusion. They look the same, except for ordering.

[2017-07-11 08:16] noutram commented on #522
Might be an idea. It had me confused for quite a while (until, I confess, I read the error messages properly)

[2017-07-11 08:17] #522 closed

[2017-07-11 15:19] tz-arm commented on #520
I assume there is such a use case to use mbed deploy after mbed new.
e.g.
1. while I create a new program,  => mbed new
2. add/import some library manually, create .lib file or copy .lib from other projects directly.
3. mbed deploy .

Could you correct me and share the right way for above use case?

[2017-07-13 23:37] ismailhkose opened #523 "mbed without RTOS"
How can I build mbed without RTOS support, bare metal mbed?

The following code should generate very small binary.

![image](https://user-images.githubusercontent.com/353824/28192188-517cf872-67e9-11e7-9854-a5811b15ed35.png)

However, text, data and bss sections are huge for such a simple program. How can I make it bare metal?
I only want to use board library.
+----------------------+-------+-----

[2017-07-26 19:38] noutram opened #525 "Export for sw4stm32 - project does not build"
Hi

Is the exporter for System Workbench broken?

I tried exporting a mbed-os Blinky project using the CLI, exporting for sw4stm32
(I am using the GNU_ARM compiler and NUCLEO_F401. I can build the application on the command line with no issues.)

I think import the project into my workspace, and build. If my memory serves me correctly, this worked perfectly in the past.

Now when I try, (i) it tak

[2017-07-26 19:40] theotherjimmy commented on #525
@noutram see armmbed/mbed-os#4779. TL;DR: Yes.

[2017-07-26 20:24] noutram commented on #525
Thanks. I'll try and find an older version where it still works until it's fixed.

Thanks for the (very) fast response.

[2017-07-26 20:24] #525 closed

[2017-07-26 20:36] theotherjimmy commented on #525
@noutram Looking at the git history, I'm not sure you will be able to do that. I'm pretty sure the failure you're referring to has existed since I moved SW4STM32 into it's own dir, which according to git happened Jan 17. That's about 5.2 releases.

Instead, I recommend using the GNU ARM Eclipse exporter (`mbed export -i gnuarmeclispe`) or the eclipse_gcc_arm exporter.

[2017-07-26 20:37] theotherjimmy commented on #525
Your welcome. It's part of my job ;)

[2017-07-28 09:37] sg- commented on #523
There are a few ways depending on what you're upto. You can use:
- the mbed 2 release library https://developer.mbed.org/users/mbed_official/code/mbed/
- the source version of the mbed 2 release library https://developer.mbed.org/users/mbed_official/code/mbed-dev/
- ignore the RTOS using the mbed OS development repo (obviously not a supported usecase) with .mbedignore https://docs.mbed.com/docs/mb

[2017-07-28 09:40] sg- opened #526 "Detect symlinks before all recursive delete operations"
When mbed-cli is updating or going to perform a recursive delete operation it should first check if the directory is a symlink and only delete that (ie not the files behind the link).

[2017-07-28 15:59] rspelta opened #527 "mbed installer and mbed serial driver problem"
Hello,
I'm using windows 7 and I tried to install mbed-cli using the installer named "mbed_installer_v041.exe"
When the installer tries to install the mbed serial driver I have already plugged to the PC the **ST NUCLEO_F429ZI** but it is not recognized from the installer:

![immagine](https://user-images.githubusercontent.com/3882627/28725277-43c4342c-73bd-11e7-9d37-1a65c854e160.png)

I resolved t

[2017-07-28 18:04] bridadan commented on #527
@arekzaluski Do we have any plans to detect boards that are attached before installing the serial driver?

[2017-08-01 08:32] arekzaluski commented on #527
@rspelta @bridadan I'm able to reproduce it. It seems that mbedWinSerial does not support Nucleo F429ZI board. I'll investigate it further and check what can be done to improve the process.

[2017-08-01 14:01] rspelta commented on #527
Perfect, thank you!

[2017-08-01 18:58] theotherjimmy commented on #429
Currently available on the website. Closing.

[2017-08-01 18:58] #429 closed

[2017-08-02 12:23] ashok-rao commented on #484
@screamerbg .. I faced this issue as well today with 1.1.1 . Steps below:
1. mbed new .
2. created a main.cpp with some lines.
3. cd mbed-os
4. checkout a particular SHA.
5. mbed compile -t ARM -m ublox_evk_nina_b1

I got this:
[code]

[2017-08-03 12:53] MarceloSalazar opened #528 "Update mbed OS tools to match requirements.txt"
### Description
- Type: Enhancement
- Related issue: https://github.com/ARMmbed/mbed-ls/issues/188
- Priority:  Major / Minor

----------------------------------------------------------------
## Enhancement

When moving to a newer version of mbed OS (using `mbed update` or `mbed new` or `mbed import`), I'd expect the tools defined in [requirements.txt](https://github.com/ARMmbed/mbed-os/blob/mbed-

[2017-08-04 08:33] JammuKekkonen opened #529 "compile command generates build target directories case-sensitively"
Although targets k64f and K64F are effectively the same, typing the targets in different cases causes new build target folder to be created and thus causes the recompilation of the whole project. Same applies to toolchain directory under the target directory.

[2017-08-08 06:50] korjaa commented on #529
Closed #530 as there are non-uppercase targets also.

[2017-08-08 06:59] korjaa commented on #529
@theotherjimmy, sorry didn't fully catch what you meant with the Mbed OS tools. I'm not familiar with the relation of mbed-cli with Mbed OS tools.

Was the idea that the platform name would be verified before compilation, but not touched in the mbed-cli phase?

[2017-08-08 12:13] seppestas commented on #407
Having the mbed library commands respect what's in the .mbedignore file would also solve some issues with these commands pulling in mbed-os in libraries, see #472 and #473.

In [my example](https://github.com/ARMmbed/mbed-cli/issues/472#issuecomment-298956337), having `mbed add` and `mbed deploy` respect the contents of .mbedignore would make it possible to add e.g an EXAMPLE folder to a library a

[2017-08-08 12:42] seppestas opened #534 "Add `mbed describe` functionality"
When developing firmware that can be programmed using DFU it is very helpful to know the exact version and state of the firmware that is programmed on a device / compiled in a DFU package.

For this, I typically use the [`git describe --tags --match "v*" --dirty` command](https://git-scm.com/docs/git-describe), which will just output the version tag if the last commit was tagged with a version (us

[2017-08-08 16:25] theotherjimmy commented on #529
Simple Explanation:
mbed CLI:
  * target detection
  * Source control
  * Running tests
mbed OS tools:
  * Compiling
  * Exporting
  * Building tests

Actually, I was recommending that you just uppercase them without concern. The mbed OS tools will figure out what to build if you use the wrong case, so rely on that.

[2017-08-09 06:51] korjaa commented on #529
Thanks for that task split explanation.

About the uppercasing, wasn't that what the original PR was doing, just uppercasing without concern? Or is it that it was on the wrong place and should be at Mbed OS tools.

[2017-08-11 12:40] bcostm commented on #527
Same problem with me using another board (NUCLEO_F103RB).

The STLINK driver must be installed first:
[[https://my.st.com/content/my_st_com/en/products/embedded-software/development-tool-software/stsw-link009.license%3d1502449373926.html]]

But running the mbed_installer_v041.exe after STLink driver is installed does not change the behaviour: same error message as described by @rspelta

[2017-08-13 16:05] wassfila commented on #377
Just as a hint, consider using "--specs=nano.specs", I have mbed os 5 compiled for around 35 KB so just give it a try if you want, example with my own branched os [here ](https://github.com/wassfila/STM32_IoT_HelloWorld/blob/master/08_mbed_cli_os_BluePill_Target/develop_nano.json)

[2017-08-15 15:19] teetak01 commented on #323
I think we can finally close this.

[2017-08-15 15:19] #323 closed

[2017-08-16 22:23] AnotherButler commented on #519
@iriark01 Can you help me with this? My research so far has not been as productive as I would like.

[2017-08-17 08:41] iriark01 commented on #519
If you know which version of CLI maps to which version of Mbed OS, you can in theory transclude pages from the release: https://github.com/ARMmbed/mbed-cli/releases

[2017-08-23 06:50] AnotherButler commented on #519
@iriark01 Thanks so much. :) We have now resolved this issue, so I am closing it. Please feel free to reopen if needed.

[2017-08-23 06:50] #519 closed

[2017-08-25 09:17] fahim-ublox opened #536 "Mbed CLI option is missing to continue test suite execution even one test case fails"
### Problem:
We have test suites having multiple tests. If one test case fails, further test cases are not executed in a test suite. Mbed CLI option is missing to continue test suite execution even a test case fails.

### Expected response:
There should be option in mbed CLI  to continue test suite execution even on test failures.

### Observed response:
After a test failure, mbed test suite execu

[2017-08-25 16:48] maxpeng opened #537 "Run test for the case that application contains a main function"
From the [mbed CLI documentation](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/cli/#testing), it describes this:

For normal project layout, we will place a main function outside the TESTS directory, and place unit test code inside TESTS directory. I didn't want to rename the file containing main, so I tried to write the application C file containing main function as:
[code]
Tha

[2017-08-25 18:10] bridadan commented on #537
@maxpeng That's a good work around!

You can do the build run step separately:

[code]

[2017-08-25 20:58] maxpeng commented on #537
@bridadan Thanks for your tip - split the intended action into 2 steps.

I wonder if it is better for the `mbed test` command to automatically define some kind of macro to ease the task.

[2017-09-08 09:12] dhwalters423 opened #541 "mbed detect should show firmware information"
``mbed detect`` could be more useful if, in addition to the name of the target platform, it could also show the firmware version, a subset of what the ``mbedls`` command shows. For example, the current ``mbed detect`` output shows:

[code]

It would be helpful to have at least one more column describing the DAPLink version, for example:
[code]
This could be useful information for debugging in part

[2017-09-08 17:57] screamerbg commented on #541
Great suggestion, thank you! We accept patches ;)

[2017-09-12 10:05] dhwalters423 commented on #541
@screamerbg Reference PR https://github.com/ARMmbed/mbed-os/pull/5077
Functionality was tested on 5.5 and will be tested on 5.6 rc when available. Looks like the underlying tools have not changed in 5.6 to affect the PR however

[2017-09-13 22:15] theotherjimmy opened #543 "Config and Documentation for ARMC6 in mbed OS"
ARMC6 is an optional compiler in mbed OS.

mbed CLI should mention how to install and configure ARMC6 in it's readme, and should include a method for defining `MBED_ARMC6_PATH` with global mbed CLI configuration.

I think this first line, found here https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L1406, should be changed.
[code]

[2017-09-13 22:15] theotherjimmy commented on #543
Oh yeah, I'm going to do this, but just not today 😄

[2017-09-13 22:21] theotherjimmy commented on #543
@adbridge @screamerbg Is there a way to mirror this issue in jira?

[2017-09-14 10:41] adbridge commented on #543
@theotherjimmy  We should have this done for the actual release

[2017-09-14 10:43] adbridge commented on #543
@theotherjimmy If I know what Jira project mbed-cli issues go to then I can add this repo to the github2jira script.

[2017-09-14 13:46] theotherjimmy commented on #543
@adbridge I would just say that it could fall into the same bin as mbed OS, but I would ask Aaron first.

[2017-09-15 04:12] j3270 opened #545 "mbed_rtos_storage.h moved"
The following commit on mbed-os is causing problems for mbed-cli, at least for me.  Is anyone else having this problem?

https://github.com/ARMmbed/mbed-os/commit/ac22225ad9144718078fcb8c2fe7e65a04246151#diff-23b8db6c62efb5554fd96345537aea4c

If I use mbed-os 5.5.6, mbed-cli works just fine, but if I use the master branch ombed-os, mbed-cli doesn't work.

I am using mbed-cli 1.2.0 on both Windows

[2017-09-15 09:21] toyowata opened #546 "Mbed CLI scans and builds unnecessary components by mbed test"
### Description
- Type: Bug
- Priority: Minor

---------------------------------------------------------------
## Bug
Mbed CLI scans and builds unnecessary components which are located to one upper level of current directory.  This causes longer build time.

**Target**
All

**Toolchain:**
All

**mbed-cli version:**
1.2.0

**Expected behavior**
Mbed CLI scan and build source code in current directo

[2017-09-15 13:21] #543 closed

[2017-09-15 14:13] theotherjimmy commented on #546
@toyowata This is a bug in mbed-os. Could you raise it there?

[2017-09-15 14:34] theotherjimmy commented on #545
hi @j3270,

This is likely a problem with mbed-os, if it's a problem (I can't reproduce it). Further, you have not described what problem is occurring when you switch. What do you expect to see happen? what is actually happening?

[2017-09-15 14:38] screamerbg commented on #527
@arekzaluski please see above

[2017-09-15 15:17] j3270 commented on #545
Hello @theotherjimmy,

The problem is,
[Fatal Error] rtos.h@28,0: mbed_rtos_storage.h: No such file or directory
[ERROR] In file included from ../../libs/mbed-os/mbed.h:20:0,
                 from ../../libs/MAX14690/MAX14690.h:37,
                 from ../../libs/MAX14690/MAX14690.cpp:34:
../../libs/mbed-os/rtos/rtos.h:28:31: fatal error: mbed_rtos_storage.h: No such file or directory
compilation

[2017-09-15 15:19] theotherjimmy commented on #545
Mbed CLI has no understanding of project structure outside of `.lib` and `.bld` files and configuration. This is an mbed OS issue.

[2017-09-15 15:19] theotherjimmy commented on #545
Open an issue. Yes, "issue" is not the right name, but whatever.

[2017-09-15 15:20] j3270 commented on #545
@theotherjimmy

So should I raise this issue on mbed-os?

[2017-09-15 15:21] j3270 commented on #545
That team may just say it is an embed-cli issue...

[2017-09-15 15:22] theotherjimmy commented on #545
@j3270 The distinction between what is an mbed OS issue and what is an mbed CLI is not entirely clear to the user, so I can understand your team's point of view. Don't bother opening an issue on mbed OS, we can discuss it here just as well.

[2017-09-15 15:26] theotherjimmy commented on #545
Here's what I think is happening:
 1) You create a `.a` from mbed OS
 2) You make a new project with `--create-only`
 3) This new project has no mbed OS tooling (where the build code lives) So mbed CLI copies the mbed 2 tools to the project
 4) The mbed 2 tools do not search for `TARGET_CORTEX` symbols in mbed OS, because they have not been updated to (it's not yet on a released version of mbed OS

[2017-09-15 15:30] theotherjimmy commented on #545
A workaround could be to symlink your dependent libraries, but that may not be possible on every platform.

[2017-09-15 15:39] j3270 opened #547 "Compiling static libs?"
Hello,

When compiling static libs using mbed-cli, any lib the references mbed-os, or the static version of mbed-os (i.e pre-compiled), copies in all of the headers, linker script, etc. from mbed-os into the build directory of the static library.

This creates a problem when you have multiple libs that reference  mbed-os in your project and you want to use static builds of them vs re-compiling the

[2017-09-15 15:43] theotherjimmy commented on #547
This will happen anyway, assuming that you do not request a clean build. the build tools keep track of what has changed (including headers) and recompile only what is needed.

If you don't have a copy of mbed OS in a project, mbed CLI will download the mbed 2 tools and place them in a hidden `.temp` directory inside each project. This is probably not what you want.

[2017-09-15 15:45] theotherjimmy commented on #547
There is a big disadvantage of using static libraries with mbed OS projects: You can't change the configuration.

[2017-09-15 15:47] j3270 commented on #547
Correct, I want my libs in a separate location that I maintain a single copy of.  I don't want new copies of libs I use frequently every time I create a new program, so I use --creat-only.

[2017-09-15 15:48] j3270 commented on #547
Let me try something based on your comment and get back to you.

[2017-09-15 15:48] theotherjimmy commented on #547
Let me know how it goes. 😄 Maybe we can document how to work around this better as a result of your findings.

[2017-09-15 16:00] j3270 commented on #547
@theotherjimmy

So, I couldn't recall if I had tried building the first time with all the required --source paths, and then just trying, mbed compile on the next build, to see if the BUILD directory had everything I needed.  It doesn't.

What you said above is true if you have the libs in the root of your project, but not if you keep them separate.  So, if you keep them separate you must reference

[2017-09-15 16:31] j3270 commented on #547
Maybe I am making things harder on myself than need be.

If I think about it, having my libs in a remote location on my machine (that is under version control and available to others on a server) vs a remote location on a server that I pull from and place in the root of my project, isn't much different than if I compile static copies of the ones locally on my machine and then move the headers and

[2017-09-15 16:41] geky commented on #545
Symlinks do not work on Windows XP. If you don't care about that platform, it should be a good workaround.

[2017-09-15 19:52] j3270 commented on #545
@theotherjimmy, your outline of my workflow is correct and I agree with the diagnosis of the problem.

I have a question, when someone pulls from the mbed-os repo using the online tool, or mbed-cli, what is pulled in?  It doesn't appear to be the latest commit in the master branch (at least for mbed-cli, I haven't checked the online tool yet)?

Is it the latest tagged release, like this one [here]

[2017-09-15 19:59] theotherjimmy commented on #545
Whatever is mentioned in the files ending with `.lib` or `.bld` where the syntax for mentioning a repo is:
[code]

Mbed CLI will pull the git repo from the url (using the protocol on the command line) and then attempt to checkout the revision hash after the `#`.

The online IDE will do almost the same thing. It further restricts the revisions to only be released versions of Mbed OS.

Yep. If you f

[2017-09-15 20:00] theotherjimmy commented on #545
I hope that helps you sort things out. I'm happy to explain how things work. 😄

[2017-09-15 20:03] theotherjimmy commented on #545
Yeah, we release frequently. This _should_ allow you to just track the releases, and stay mostly up to date with bug fixes. You can't ever be more than 2 weeks behind what's on master, as we back port bug fixes onto a patch release every 2 weeks.

[2017-09-15 20:05] j3270 commented on #545
Thanks a bunch, I will inspect the contents of a .lib file, which I don't see that often due to my workflow.

Your comments on the volatile nature of the master branch make sense.  One more question.  The tags don't necessarily come directly from the master branch, correct?  If they do, why doesn't the tag from today match the new directory structure committed on August 31st?  Also, sorry, when wi

[2017-09-15 20:08] theotherjimmy commented on #545
Correct.

When the new dir structure is released I will be able to make a release of the Mbed 2 tools that match it.

[2017-09-15 20:10] j3270 commented on #545
Thank you, I really appreciate your time this morning.

I think it is appropriate to close this issue.

[2017-09-15 20:16] theotherjimmy commented on #545
Glad I could help. Just open another issue if you want more help or questions answered.

[2017-09-16 13:52] toyowata commented on #546
@theotherjimmy thanks.  I raised [here](https://github.com/ARMmbed/mbed-os/issues/5127).

[2017-09-18 22:23] tkstreet commented on #299
As an update to @mukymuk, the settings.py doesn't exist anymore.  The relevant code is now contained in `../Python27/Lib/site-packages/mbed/mbed.py`

I just added `ROOT = ".."` after the `import` statements and then my program compiled.

[2017-09-19 01:27] #546 closed

[2017-09-25 18:33] normads opened #548 "mbed cli not detecting toolchain - osx sierra 10.12"
[code]

tried setting path using mbed config

[code]

tried setting the MBED_GCC_ARM_PATH variable

[code]

tried setting in the mbed_settings.py

[code]

compiler is available

[code]

[2017-09-25 18:35] theotherjimmy commented on #548
@normads The `ARM` toolchain uses the `ARM_PATH` configuration variable. You have set the variable used by the `GCC_ARM` toolchain.

[2017-09-25 18:40] normads commented on #548
@theotherjimmy I think I'm using the gcc toolchain arm-none-eabi-**gcc**

[2017-09-25 18:41] theotherjimmy commented on #548
@normads Then use `mbed compile -t GCC_ARM -m K64F` as your compile command.

[2017-09-25 18:42] normads commented on #548
@theotherjimmy silly me :) Thanks!

[2017-09-25 18:42] theotherjimmy commented on #548
NP. Could you close this issue if it's solved then?

[2017-09-25 18:42] #548 closed

[2017-09-29 16:50] RobMeades commented on #536
Any feedback on this guys?  We are quite interested in such a feature.

[2017-09-29 19:01] bridadan commented on #536
This isn't a feature of mbed CLI but rather the way the test is written. The default way for the test to run is as you described. You can change this behavior by overriding the utest greentea abort handler: https://github.com/ARMmbed/mbed-os/blob/729ef153076ea9db4a9c9f81e90076960e035213/TESTS/mbed_drivers/echo/main.cpp#L44

However, I vaguely remember there being some issues where certain test fai

[2017-09-29 20:16] RobMeades commented on #536
The default way to write tests, as I understand it, is to use the assert mechanism, so I'd assumed that the mbed test system was, if you like, integrated with this mechanism so that we could influence the effect of the abort procedure from the command line.   If not I guess we'll have to try overriding the abort ourselves and see what happens.

[2017-10-02 05:57] chrylis opened #550 "CLI uses hard-coded binary to invoke project.py"
At line 2407, `mbed.py` uses a hard-coded exec call to `'python'` to invoke `project.py`. As `python` is generally Python 3 on modern systems, this tends to break with syntax errors.

At line 2423, it uses `python_cmd`, which is presumably sane, and this is probably the right approach (barring an update of the whole CLI to Python 3, of course). Note that this idiom occurs elsewhere, such as at 219

[2017-10-02 13:13] screamerbg commented on #550
@chrylis Thanks for the report. You're right, these should be unified.

[2017-10-03 09:46] screamerbg commented on #550
@chrylis Implemented, merged and now available in Mbed CLI 1.2.2.

[2017-10-05 09:24] mark-edgeworth opened #552 "Allow cache location to be set on the command line"
I am attempting to use mbed cli in a sandbox installation as a part of another tool. I wish to use 'mbed import' to create a local copy of a remote repo, but this downloads mbed-os every time unless the cache is turned on which takes ages. I have tried the following:

1.  Turn the 'local' cache setting on.
 - This fails since I have no project yet and there is nowhere to store the setting.
2. mbed

[2017-10-05 15:35] screamerbg commented on #552
@mark-edgeworth This is infact already supported (but perhaps not well explained in the documentation). You can use `mbed config cache /path/to/cache --global`

[2017-10-05 15:41] mark-edgeworth commented on #552
Hi Mihail,

I’m currently using something like this to set the global cache to point at my preloaded cache; this works pretty well. However it changes a setting in the user’s home directory which then applies from that point onwards for any use of the tool either inside or outside my environment. I want to keep my changes completely private to avoid any user surprises (in case any users are alread

[2017-10-06 17:54] j3270 commented on #545
@theotherjimmy

From your comments above

Now that there are two releases with the new mbed-os directory structure, will the tools that are pulled in when using the --create-only option be updated?

Currently, when using the --create-only option, the tools pulled in only support mbed-os-5.5.7 and below.

If there are no plans to update the tools, should the --create-only option be removed from mbe

[2017-10-12 13:38] dhwalters423 commented on #541
Merged https://github.com/ARMmbed/mbed-os/pull/5077

[2017-10-12 13:38] #541 closed

[2017-10-13 14:38] theotherjimmy commented on #545
@j3270 The mbed 2 tools were out of date, and have been updated. This should resolve any mbed 2 issues you run into.

We update the tools.

[2017-10-13 14:39] theotherjimmy commented on #545
TL;DR: Try again. I fixed it 😄

[2017-10-13 19:26] j3270 commented on #545
@theotherjimmy thank you, it works.

Is there a way to update the tools folder of my existing projects?  I had to make a new project using the --create-only flag, of course, to test the fix which isn't a big deal, but if I could issue a command to update the tools that would be cool.

Thanks for updating the tools.

[2017-10-19 04:27] RozenAstrayChen opened #553 "How can I change my platform"
If I need change my platform like``` LPC1768``` -> ```NUCLEO_F401RE``` , how can i do?

[2017-10-19 14:32] bridadan commented on #553
You can use the `-m` option to change your platform or you can set it with the `mbed target` command:

[code]

OR

[code]

[2017-10-29 17:41] GiacomoThror opened #554 "Compile ERROR with target: NUCLEO_L073RZ"
I am trying to compile the standard Blinky Example for mbed OS 5 for the **NUCLEO_L073RZ**:
This is the configuration of my sytsem:

1. Ubuntu 16.04
2. Python 2.7.12
3. pip 9.0.1
4. I use virtualenv
5. mbed-cli 1.2.2

This is the steps that I did:

[code]

Start log:
[code]
Log of the **error**:
[code]
Other _things_ already tried:

1. Repeat the steps several time (always same results)
2. Try it

[2017-10-30 08:46] BruceBuckland commented on #136
I don't know if it is relevant, but I was having the same problem - seemingly forever mbed add's.  So much so that I killed and restarted them several times.  Then i used the -vv as per the above suggestion and progress was much much faster (before I got 1 MB downloaded of the mbed-dev repo in about 45 minutes, after it took about 3 minutes to get to 3.2MB.  It is big so it will take a while, but

[2017-10-30 14:45] theotherjimmy commented on #554
Hi @GiacomoThror. Thanks for the detailed bug report. Could you tell us what version (or if on master what hash) of Mbed OS you are using? It looks like you are using a version >= 5.6.0 (you have a TARGET_CORTEX folder, which were introduced in 5.6.0). Also, could you tell us what version of `arm-non-eabi-gcc` you are using. to do that you can run the command `arm-none-eabi-gcc --version` which sh

[2017-10-31 15:29] BlackstoneEngineering opened #557 "mbed targets --supported is broken"
TLDR:
the command `mbed target --supported` fails, but `mbed compiler --supported` and `mbed compiler -S` works. This command documented in videos and tutorials and needs to work.

Long Version:
On mbed CLI v1.2.0 the `mbed target --supported` command works, but on v1.2.2 it does not. Something changed here that broke the command.

The output failure message is `[mbed] ERROR: Unknown Error: sequen

[2017-10-31 15:54] theotherjimmy commented on #557
Thanks for the bug report. I may have time to look at this bug this week. maybe not though.

[2017-11-01 17:33] RozenAstrayChen opened #558 "mbed test error"
Hello i got this message on my __OSX__
[code]
look like is
[code]

[2017-11-01 18:28] RozenAstrayChen commented on #558
I found my question , I don't know why I lost ```test_configs``` floder

[2017-11-01 18:29] theotherjimmy commented on #558
@RozenAstrayChen Thanks for telling us what went wrong. I'm going to close this issue as resolved. Please re open if you want more help.

[2017-11-01 18:29] #558 closed

[2017-11-04 11:16] GiacomoThror commented on #554
Hi @theotherjimmy,

I solved the problem!
As you suggested the problem is the version of `arm-non-eabi-gcc`. I have the distribution old package version 4.9.3. Now installed the suggested 6.3.1 and it works.
For the mbed-os repository I had tried with both branch "master" and "mbed-os-5.6" with same results, the issue was not here.

Thanks a lot.

[2017-11-04 11:16] #554 closed

[2017-11-06 15:46] theotherjimmy commented on #554
Thank you for posting how you solved your problem. I hope this may help others in the future.

[2017-11-08 07:39] tz-arm opened #559 "question about "--no-archive""
Seems there is no explanation and no help comments for the parameter of "--no-archive"
Is it relevant to gcc "--no-whole-archive"?

[2017-11-08 15:19] theotherjimmy commented on #559
I don't think so

That option is used in conjunction with `--library` to build a bunch of C/C++/ASM files as a static library. The `--no-archive` flag suppresses the creation of the `.a` file, and the deletion of the intermediate `.o` files.

[2017-11-09 21:41] cmonr opened #560 "Speed up `mbed-cli new` command by performing shallow clone of mbed-os"
When running `mbed-cli new <name>`, the entire repo history of mbed-os is cloned into the user's repository.

At the current size of the mbed-os repo, the `git clone <mbed-os repo>` command takes ~3 minutes on my system.
Replacing this with `git clone -b latest --depth=1 <mbed-os repo>` cuts this time down to ~1.5 minutes.

[2017-11-10 06:00] teetak01 commented on #560
Maybe instead of being an default option, there could be an optional configurational parameter to deploy Mbed OS as shallow. This way it would affect equally `import`, `deploy `and `new`.

[2017-11-10 16:32] bridadan commented on #560
@cmonr You can actually already do this with the option `--depth [DEPTH]`. It's currently present in `mbed import`, `mbed add`, `mbed deploy`, and `mbed update`.

I don't think we can make this the default option like @teetak01 mentioned because the `.lib` files that are then turned into repositories can reference any commit in the repository's history. If the depth is set too shallow, this commit

[2017-11-10 20:21] cmonr commented on #560
@bridadan Using `--depth` on its own is definitely not enough and can cause the entire clone to fail, but (from what I can tell) all that goes into `mbed-os.lib` is the git URL with the specific commit hash. You can still get the same hash if `-b latest` is used, with the benefit of a faster clone and less disk space used.

[2017-11-10 20:48] bridadan commented on #560
Ah I see, so you're saying just for the `mbed new` command (which always clones from the `latest` tag), just run `git clone https://github.com/ARMmbed/mbed-os -b latest` since that will be faster?

Seems fine to me, do you need some pointers on where to make the change? This is the relevant section of the CLI: https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L1727. You'll probably need

[2017-11-11 01:45] janjongboom opened #561 "Mbed CLI should do shallow clone by default on import"
On slow connections (and on some fast ones too), importing an Mbed OS program using CLI is extremely slow and might take up to half an hour. Enabling cache helps, but not the first time - so bad out of box experience -, plus users forget it.

This is mainly due to the time it costs to clone mbed-os. On the super-fast Seoul internet here (110 mbps down) it takes **3 minutes, 21 seconds** to clone m

[2017-11-11 01:48] janjongboom commented on #561
Ah, dupe of #560.

[2017-11-11 01:49] janjongboom opened #562 "Progress bar when importing"
Could we show some progress while importing? Maybe just normal git progress?

Currently we give no clue to a user how far the import process is.

[2017-11-11 04:20] janjongboom opened #563 "Building on Windows is significantly slower than on Mac/Linux"
I've seen it at my VM, and also at some folks here at Korea IoT hackathon. Building on Windows is way slower, it seems to pause in between files... Are we doing some heavy hard disk activity in between?

Same machine, in Linux VM it goes very fast.

[2017-11-13 15:09] andcor02 commented on #557
I am also getting the same issue

[2017-11-13 15:53] theotherjimmy commented on #563
Do you have any numbers on this? Does this affect mbed lib the same amount as Mbed OS?

We print those status messages after each compile job finishes. I'm hesitant to say that the Mbed OS tools are to blame here, as the compiler could be slow and that would have exactly the same symptoms.

We are not. The compiler (armcc/iccarm/gcc) probably is (there are many header files to include).

I have no

[2017-11-13 15:54] theotherjimmy commented on #563
Oh, FYI, Mbed CLI accounts for about 300ms the execution time of any job on my machine. I think if this is something we can solve, we are going to have to solve it in the Mbed OS Tools.

[2017-11-13 16:09] bridadan commented on #563
@janjongboom I've noticed this as well.

My laptop runs Windows 10 and has a 4 core CPU. Compiling blinky with GCC_ARM, ARM, and IAR all average 1 minute and 30 seconds.

On the same laptop, I run an Ubuntu Server VM that only has 2 cores allocated to it. With GCC_ARM, blinky compiled in just under seconds, a full minute faster. For fun I tried using the ARM compiler on Linux as well, but that too

[2017-11-13 17:13] theotherjimmy commented on #563
Using the makefile exporter with -j <num-cpus> would show if it's the compiler or not.

[2017-11-13 17:43] theotherjimmy commented on #562
Marked as "help wanted" because I'm bogged down in other things right now.

[2017-11-13 17:47] MarceloSalazar commented on #562
Feature already requested: https://github.com/ARMmbed/mbed-cli/issues/136

[2017-11-13 19:43] bridadan commented on #562
@janjongboom Should be straightforward enough, but like Jimmy said I'm loaded with other things at the moment.

If you run `mbed import` with the `-v` flag it will output the `git` command output, which includes the progress.

If that isn't good enough, we could look into maybe parsing the git output as its printed and just getting the progress info.

[2017-11-15 19:40] janjongboom commented on #563
@theotherjimmy @bridadan make is also slow on my Windows VM, but it might be that the virus scanner that IT put on that machine is to blame. It's just interesting to see that Brian sees it too, wonder what the underlying issue is; and if we can solve it somehow.

[2017-11-15 19:46] bridadan commented on #563
I have tried on my home Windows machine with Mbed CLI and it was slow as well, though I also have a virus scanner on that machine. It'd be worth trying it on a clean machine with both Mbed CLI and Make. If we're still seeing slow performance, maybe the compiler team can help us out?

[2017-11-15 19:46] theotherjimmy commented on #563
The makefile was also slow, so it's probably the compiler we are running that is causing the slowdown. Running the compiler is required, so I'm not sure that there is much we can do here.

[2017-11-15 19:47] theotherjimmy commented on #563
Aside from bug the compiler team. For IAR and GCC_ARM though, it might not be as easy

[2017-11-16 17:20] MarceloSalazar opened #564 "Traceback error when 'mbed detect' on mercurial project"
Error when using `mbed detect` on mercurial repository.
Instructions to reproduce:

[code]

`mbedls` works fine, so I assume the problem is in `mbed detect`

mbed-cli 1.2.2
python 2.7.14
OS X El Capitan

@theotherjimmy

[2017-11-16 17:24] theotherjimmy commented on #564
Thanks. I'll include `test_configs` in the Mbed OS 2 tools release I will be making to accompany the Mbed OS 5.6.5 release.

[2017-11-16 17:25] MarceloSalazar commented on #564
Interestingly, I'm also reproducing this on a Mbed OS 5 project.

[2017-11-16 17:27] theotherjimmy commented on #564
Do you have that traceback?

[2017-11-16 17:53] MarceloSalazar commented on #564
I take that back; my Mbed OS 5 project was being detected as OS 2, but now works ok.
The issue is still valid for a Mbed OS 2 project.

[2017-11-16 23:40] cmonr commented on #560
Yes, and no. More specifically, right now the `mbed new` command does a clone of the entire repo, _then_ switches to the `latest` branch.

Both `--depth=1` and `-b latest` are needed, the former to speed up the clone, and the latter to make sure that all files needed are actually pulled.

[2017-11-17 11:55] tweety9999 commented on #136
I will commit

[2017-11-17 22:51] bridadan commented on #560
Ah, I see, thanks for the explanation. I think that should be fine, but I think the final call may end up being @screamerbg's.

@theotherjimmy Do you know if this will affect the online compiler? Typically you can always go back in commits in the online compiler. If the online compiler uses mbed CLI in the back end then this would be a breaking change.

[2017-11-20 17:14] theotherjimmy commented on #560
The online compiler does not use Mbed CLI, as it's directory structure is very very different.

[2017-11-27 23:51] Alex-EEE opened #566 "mbed test"
1)  Please add to the documentation that new green tea test main.cpp files must be two folders deep in the TESTS directory.  This is not mentioned anywhere and took forever to discover!

2)  Your example seems to imply you can have a file with main {} in the root of an mbed program, but when I try to run mbed test, I get a compiler error.  Did I do something wrong or can you not really run mbed te

[2017-11-28 16:15] theotherjimmy commented on #566
Thanks for the feedback!

Re 1) Where would you expect to find that information?

Re 2) You did nothing wrong; You can not run mbed test from the root of a program. You are correct that the program's main will conflict with the test main.

[2017-11-28 16:34] phobos3 commented on #566
Thank you for the quick response!!!

1)  Section 8 of the README.md for starters, and what really through me off is that in the greentea section of the mbed handbook it says """
Host test detection

When developing with mbed OS, Greentea detects host tests automatically if you place them in the correct location. All tests in mbed OS are placed under a TESTS directory. You may place custom host tes

[2017-11-28 16:51] theotherjimmy commented on #566
I opened a handbook PR, armmbed/handbook#343, which I hope improves upon the text you just pointed out. [Rendered](https://github.com/ARMmbed/Handbook/pull/343/files?short_path=745d2f2)

[2017-11-28 16:53] theotherjimmy commented on #563
@janjongboom @bridadan I'm going to close this, as I don't think there is anything we can do about it. Please feel free to re-open it if you can come up with a path to resolving it.

[2017-11-28 16:53] #563 closed

[2017-11-28 16:53] theotherjimmy commented on #561
Closing this issue in favor of #560

[2017-11-28 16:53] #561 closed

[2017-11-28 16:53] phobos3 opened #567 "test found but won't run"
Hi,

I've added a custom tests to my program root.  It can find it with "mbed test --compile-list" like so:
[code]
However when I try to run it, it says "mbedgt: no platform/target matching tests were found!"  Do I need to add any information to my test folder / .cpp file to tie it to a particular platform?

Full output:
[code]

[2017-11-28 16:55] theotherjimmy commented on #559
Marked as documentation, as there is no explanation of the command line option mentioned in this issue.

[2017-11-28 17:01] theotherjimmy commented on #567
@phobos3 That error is trying to inform you that your platform does not match the test that you compiled.

[2017-11-28 17:02] theotherjimmy commented on #553
Please reopen if you need more assistance

[2017-11-28 17:02] #553 closed

[2017-11-28 17:04] theotherjimmy commented on #501
Please re-open this issue if your problem has not been resolved.

[2017-11-28 17:04] #501 closed

[2017-11-28 17:13] theotherjimmy commented on #520
@tz-arm Your workflow works just fine in Mbed CLI 1.2.2:
[code]

Are you complaining that this:
[code]
includes both the littelfs and mbed-os directories?

[2017-11-28 17:16] theotherjimmy commented on #517
I'm closing this as the original issue has been resolved.

[2017-11-28 17:16] #517 closed

[2017-11-28 17:17] theotherjimmy commented on #500
Closing this as a problem with a particular library.

[2017-11-28 17:17] #500 closed

[2017-11-28 17:24] theotherjimmy commented on #552
Given how long this has been open, I think that outside assistance would be appreciated.

[2017-11-28 17:25] #550 closed

[2017-11-28 17:26] phobos3 commented on #567
"your platform does not match the test that you compiled."  How does it match tests with platforms?  I'm just trying to run the Greentea example test, attached below.

Do you mean the K64 folder inside of BUILD/tests ?

When I run the mbed-os tests, they compile and run as I would expect.  What I'm trying right now, is disabling the mbed-os tests by renaming the TESTS folder to "skip", and just tr

[2017-11-28 17:28] theotherjimmy commented on #545
`mbed deploy` or `mbed update` should update the tools.

I'm going to close this issue as fixed.

[2017-11-28 17:28] #545 closed

[2017-11-28 17:31] theotherjimmy commented on #529
For anyone that would like to help out: I think that upcasing the _directory names_ would be a path forward here. I don't currently have time, and I would like to see this changed.

[2017-11-28 17:33] theotherjimmy commented on #526
@screamerbg Any news on this?

[2017-11-28 17:34] theotherjimmy commented on #523
@ismailhkose Please reopen if the above did not answer your question

[2017-11-28 17:34] #523 closed

[2017-11-28 17:36] theotherjimmy commented on #507
@arekzaluski Any news on this?

[2017-11-28 17:37] BlackstoneEngineering commented on #557
Latest cli, latest mbed-os, windows 10.

[code]

[2017-11-28 17:41] theotherjimmy commented on #484
@JanneKiiskila @ashok-rao I cannot reproduce the failure. Please reopen if this is still a problem.

[2017-11-28 17:41] #484 closed

[2017-11-28 17:43] theotherjimmy commented on #475
@amq Have your questions been answered?

[2017-11-28 17:46] theotherjimmy commented on #469
Please reopen if this is still a problem

[2017-11-28 17:46] #469 closed

[2017-11-28 17:48] theotherjimmy commented on #467
@wdwalker I don't think that we are going to change this. I'm closing this issue as "Won't do"

[2017-11-28 17:48] #467 closed

[2017-11-28 18:00] theotherjimmy commented on #567
Maybe your test is not being found? could you try `mbed test -l -m K64F -t IAR` with your test?

[2017-11-28 18:05] phobos3 commented on #567
Result.  Looks good to me, that last test "alex-sub" is what I'm trying to run.

PS C:\firmware\mbed\mbed-os-example-blinky> mbed test -l -m K64F -t IAR
Test Case:
    Name: mbed-os-features-frameworks-utest-tests-unit_tests-basic_test
    Path: .\mbed-os\features\frameworks\utest\TESTS\unit_tests\basic_test
...
Test Case:
    Name: mbed-os-rtos-target_cortex-rtx5-tests-memory-heap_and_stack
    P

[2017-11-28 18:33] phobos3 commented on #567
Alternatively, can you just tell me what you needed to do to get this file to run as a test under whatever mbed program you happen to have lying around?  (I'm testing with blinky right now)

[main (2).zip](https://github.com/ARMmbed/mbed-cli/files/1511156/main.2.zip)

[2017-11-28 19:16] theotherjimmy commented on #567
I think we discussed that you cannot have a test and an application in the same project over in #566

[2017-11-28 19:19] theotherjimmy commented on #426
Closing, as the question is answered.

[2017-11-28 19:19] #426 closed

[2017-11-28 19:20] theotherjimmy commented on #414
Closing from inactivity

[2017-11-28 19:20] #414 closed

[2017-11-28 19:27] cmonr opened #568 "Replace SHAs with git refs in .lib files"
This is related to PR https://github.com/ARMmbed/mbed-cli/pull/565, but not dependent on it.

This is an enhancement that:
1. should help clarify exactly what versions/releases all .lib repos are at, and
2. allows for shallow clones in https://github.com/ARMmbed/mbed-cli/pull/565 to function, since the SHA must be tied to a git ref.

[2017-11-28 19:45] cmonr commented on #568
Actually, branches could be used as well (specifically, branch heads).

If the reference is listed under `git ls-remote`, then it can be directly fetched from the remote, either from the ref name or the SHA.

[2017-11-28 20:02] theotherjimmy commented on #568
@cmonr We have a policy of not allowing branches in `.lib` and `.bld` files, as they _can move_. We have defined library references to be fixed, and updates require _explicit_ user requests. As such, I can't accept a PR that automatically swaps a SHA ref; slow clone, can't change meaning; to a branch ref; fast clone, can change meaning.

[2017-11-28 20:17] phobos3 commented on #567
Correct, I understand I can't have a main.cpp outside of test, but what I'm trying to add a custom test into a collection of mbed modules, similar to what's in the mbed-cli README

mbed-os-program
 |- pqr.lib             # Required libs
 |- xyz.lib
 |- test-app   # new module
 | |- TESTS
 | | |  alex
 | | | | alex-sub
 | | | | | main.cpp   # example greentea test file
 |- mbed-os
 |  |- frameworks

[2017-11-28 20:35] theotherjimmy commented on #567
Using the following dir structure:
[code]
Worked with a K64F mounted and `mbed test -t gcc_arm -m k64F`

[2017-11-28 20:38] theotherjimmy commented on #567
I also just tried with:
[code]
and that worked too.

[2017-11-28 20:41] theotherjimmy commented on #306
Closing, as "a way to easily specify toolchain" is already present, as shown above.

[2017-11-28 20:41] #306 closed

[2017-11-28 20:41] bridadan commented on #567
Hi @phobos3, not sure if I understand your whole problem, but I noticed the following line in your comments:

Renaming the `TESTS` folder to `skip` will not make them be skipped, **instead it will cause each of the tests to be included in the "common code"**. If you have added other tests, then this will almost certainly result in a link/compile error (specifically, multiple `main` functions).

Yo

[2017-11-28 20:43] theotherjimmy commented on #385
This issue was related to link order and has been closed for quite some time in mbed-os. The Linux and windows builds have the same size, across all supported compilers.

[2017-11-28 20:43] #385 closed

[2017-11-28 20:44] theotherjimmy commented on #380
Closing as fixed in mbed-os

[2017-11-28 20:44] #380 closed

[2017-11-28 20:49] theotherjimmy commented on #359
Sorry, rant's are not issues. We are not planning on moving away from python for the time being.

[2017-11-28 20:49] #359 closed

[2017-11-28 20:52] theotherjimmy commented on #393
The PRs mentioned in this issue are long merged. Closing.

[2017-11-28 20:52] #393 closed

[2017-11-28 20:53] #340 closed

[2017-11-28 20:54] theotherjimmy commented on #312
`.mbed` is the only file managed by Mbed CLI.

[2017-11-28 21:00] theotherjimmy commented on #283
@thegecko To summarize:
## Expected behavior

[code]
or
[code]

## Actual Behavior

[code]

[2017-11-28 21:20] theotherjimmy commented on #249
As mentioned above, `--protocol ssh` applies to all git interaction in a session.

[2017-11-28 21:20] #249 closed

[2017-11-28 21:59] phobos3 commented on #567
@bridadan That did the trick!  I wasn't quite understanding the messages I was getting from the tool, but now I can see that it was trying to build the test files into the library and it was failing, but the script continued to execute, but found no files to load b/c the build had been terminated!
*****
For anyone reading this later, if you see this, you probably have the same issue:

[Fatal Error

[2017-11-29 05:45] janjongboom opened #569 "Mbed CLI can leak GitHub OAuth tokens"
See https://github.com/johanstokking/arm-ttn-webinar/blob/f6f9cb9871d91ee664c8749fe8e0ee0a3e12e978/mbed-os.lib

For some reason there is a *valid* OAuth token leaked into mbed-os.lib. Any idea what this can be, and how we can prevent this?! This is a very serious security issue which could potentially lead to exposing our user's full GH accounts.

cc @johanstokking

[2017-11-29 05:45] janjongboom commented on #569
We should strip off all authentication parts in the URL before filling in the .lib file.

[2017-11-29 07:33] johanstokking commented on #569
Reproduce:

[code]

This is in my `~/.gitconfig`:
[code]

Why? Because [some tools need to get private stuff over https](https://gist.github.com/shurcooL/6927554).

This should _never_ be placed as-is in a repository by any tool.

In this particular case, Github was kind enough to automatically revoke this personal access token immediately.

[2017-11-29 16:06] theotherjimmy commented on #569
@janjongboom @johanstokking Thank you very much for this bug report! I will look into resolving this today.

[2017-11-30 09:03] andrewc-arm opened #571 "Mbed CLI with cache on can leak private source files"
Hi,

I see that Mbed CLI with cache on, it will store .git files in /tmp/mbed-repo-cache for Linux.
This is problematic for situation where the user may simply assume that it has deleted the private source code from where he/she downloaded but in fact the copy code is in /tmp.

We should mention how to wipe out Mbed CLI cache file and explicitly mention that it is user's responsibility to wipe out

[2017-11-30 15:15] theotherjimmy commented on #571
Hi @andrewc-arm,

Good catch! I think that moving the cache to a user specific location on all OSs would be beneficial.

Problems with `/tmp/mbed-repo-cache` on Linux:
  - correct permissions are required to hide private repos from other users of the same machine.
  - persistence through a reboot is not guaranteed, and possibly non-persistence is guaranteed.

I'm not a fan of `~/tmp/mbed-repo-cach

[2017-11-30 15:17] theotherjimmy commented on #571
In general,

Is not part of our threat model; we don't plan on plugging the "analog hole". In other words, if you goof up and give someone access to your private data, there's not much we can do about that. We should make it difficult to do though.

[2017-12-01 00:05] theotherjimmy commented on #567
It sounds like the problem has been resolved. Closing.

[2017-12-01 00:05] #567 closed

[2017-12-01 00:07] theotherjimmy commented on #232
So we're done here.

[2017-12-01 00:07] #232 closed

[2017-12-01 01:10] andrewc-arm commented on #571
Thanks for the positive feedback.

{quote}Is not part of our threat model.{quote}
Then we should explicitly mention to the user that
* It is their responsibility to be aware of the code copy existing from the cache directory they provided. (or if default location is chosen, we should print it out where it is)
* We have provided the instructions to wipe it out here and there and how to verify that

[2017-12-01 13:16] arekzaluski commented on #507
@theotherjimmy @tz-arm There is a ticket to implement this behaviour. ETA is not known yet.

[2017-12-01 14:58] theotherjimmy commented on #507
Thanks @arekzaluski. Could you keep this issue up to date? I would appreciate that.

[2017-12-01 15:30] theotherjimmy commented on #571
@andrewc-arm

Sharing a VM or a user account is not part of our threat model.

Yep, that seems reasonable.

Correct

All locations that you `mbed import` into may be affected as well, depending on what you imported. You probably knew that, I just want to be extra clear.

[2017-12-01 15:33] theotherjimmy commented on #571
To be clear:

This issue is complete when:
 * The cache is stored in a persistent, user-specific location such as a sub-directory of `~/.local/share` on linux
 * It's possible to remove the cache from an `mbed` subcommand
 * It's possible to verify that the cache has been removed
 * The location, removal method and verification method are documented.

[2017-12-01 15:48] bridadan commented on #571
@theotherjimmy think you nailed all of the requirements!

[2017-12-02 14:40] screamerbg commented on #564
@theotherjimmy Bump. This is related to mbed 2 SDK tools.

[2017-12-02 15:12] screamerbg commented on #571
Currently, mbed CLI calls tempfile.gettempdir() (https://docs.python.org/2/library/tempfile.html), e.g. `repo.cache = loc or os.path.join(tempfile.gettempdir(), 'mbed-repo-cache')`. Let's make sure that we add to these requirements:
* Must be unified cross-platform solution. E.g. need to solve this not just for Linux, but any OS.

[2017-12-02 15:14] screamerbg commented on #437
Bump @theotherjimmy @SeppoTakalo what's the latest status on this?

[2017-12-02 15:15] #398 closed

[2017-12-02 15:15] #396 closed

[2017-12-02 15:16] screamerbg commented on #352
Bump @bridadan @theotherjimmy What's the latest status on this?

[2017-12-02 15:22] theotherjimmy commented on #571
Yes, that's nice to state explicitly. I gave an example for Linux to show just how incorrect using a temp dir can be.

[2017-12-02 15:27] screamerbg opened #575 "Mbed CLI doesn't return supported targets with versions of Mbed OS before 5.5"
Broken backwards compatibility. Any developer using previous versions of Mbed OS cannot list supported targets if they update Mbed CLI to v1.2+.

Suspected that this was introduced with https://github.com/ARMmbed/mbed-cli/pull/460

CC @theotherjimmy

[code]

[2017-12-03 02:09] cmonr commented on #575
@screamerbg What's your `mbed --version` output? On 1.2.2, `mbed compile --supported` works for me.

Also, PR https://github.com/ARMmbed/mbed-cli/pull/572 happens to address issues that came up with #460.

[2017-12-03 17:40] screamerbg commented on #575
@cmonr Changed the title so it's clearer.

Simple way to reproduce this:

[code]

[2017-12-03 18:22] screamerbg commented on #571
From a related post:
* `mbed cache [default|on|off|none|/path]` - turns on or off cache, or sets location
* `mbed cache list` - shows cached repositories
* `mbed cache size` - calculates and shows the size of the cache
* `mbed cache purge|clean` - cleans the cache

[2017-12-04 09:55] SeppoTakalo commented on #437
I have not seen any documentation added regarding this one, so the status is exactly same as earlier.

[2017-12-04 14:08] seankinghan opened #577 "New feature request - let 'mbed add' use tag names"
mbed CLI currently supports tags for 'mbed update', but not for 'add'. It would be very useful to have this, both for the learning benefits of uniformity across the tool, and also for the same functionality benefits as are available for 'update'.

[2017-12-04 15:30] bmcdonnell-ionx commented on #299
This issue is closed. Should someone remove the "in progress" label?

[2017-12-04 15:39] bmcdonnell-ionx opened #578 "mbed import and mbed add broken on cygwin"
In my experience so far, most mbed-cli commands work as well in Cygwin as they do from the Windows command line. The import and add commands don't work, though, as shown below. (I tried a few different ways, to see if there was a workaround.)

Looks like it's just an issue with the way the output directory path is generated.

Issue #299 also relates to paths on cygwin, so be careful not to introdu

[2017-12-04 15:49] theotherjimmy commented on #578
@bmcdonnell-ionx It looks like you hit an odd corner case there. Did you try the workarounds mentioned in #299 after it was closed?

[2017-12-04 16:04] bmcdonnell-ionx commented on #578
Oh, I hadn't realized that #299 is a "won't fix (for now)".

The workarounds didn't work for this issue, though.

I just tried the [work-around by @mukymuk](https://github.com/ARMmbed/mbed-cli/issues/299#issuecomment-244164263):

But it made no difference.

[@tkstreet said](https://github.com/ARMmbed/mbed-cli/issues/299#issuecomment-330373232)

...but I do have `settings.py`, and I do not have `/c

[2017-12-04 16:12] bridadan commented on #352
Hi @screamerbg. Phew, this is an old issue! Looks like the tools really just need a more helpful error message? Maybe adding those two points I mentioned above?

I'm still getting caught up but I may get a PR up with those changes so we can close this out.

[2017-12-04 16:15] theotherjimmy commented on #578
Thanks for looking at that. You can find the executable for Mbed CLI with `which mbed`, but this may not be very useful.

[2017-12-04 16:19] bmcdonnell-ionx commented on #472
@wdwalker,

How about you make a "canonical" test app (as a peer repo to your lib), which includes both your lib and mbed-os as libraries?

[2017-12-04 16:23] bmcdonnell-ionx commented on #578
[code]

Why do you ask?

[2017-12-04 16:27] theotherjimmy commented on #578
I did not ask. I was just trying to help you find your `mbed.py`. As an alternative, you could clone this repo, modify `mbed.py`, and do `pip install -U .` in the root.

[2017-12-04 16:47] bmcdonnell-ionx commented on #578
Oh. The path to `mbed` returned by `which` is for `mbed.exe`, not `mbed.py`. I was running mbed-cli v1.1.1, though...

I just upgraded to mbed-cli v1.2.2, and I see that I do have `/cygdrive/c/Python27/Lib/site-packages/mbed/mbed.py`. But what needs to be changed in there?

[2017-12-04 16:50] theotherjimmy commented on #578
@bmcdonnell-ionx They seemed to indicate that adding `ROOT= ".."` would do something, but I am doubtful.

[2017-12-04 16:51] theotherjimmy commented on #578
As you mentoined, cygwin is not supported at this time. You could use `cmd.exe` instead.

[2017-12-04 16:53] bmcdonnell-ionx commented on #578
There is no `ROOT=` statement to edit, though.

[2017-12-04 16:54] theotherjimmy commented on #578
@bmcdonnell-ionx That's why I'm doubtful.

[2017-12-04 16:54] bmcdonnell-ionx commented on #578
Is there a place where a list of things broken on cygwin is kept?

[2017-12-04 17:01] theotherjimmy commented on #578
The very bottom of `README.md` contains a mention that Mbed CLI does not work from within cygwin. It's not a list though.

[2017-12-04 17:08] bmcdonnell-ionx commented on #578
I discovered that mention between when I opened this issue and now.

Is there a list somewhere else?

On #299, [@screamerbg said](https://github.com/ARMmbed/mbed-cli/issues/299#issuecomment-237229428)

"PR" means, "problem report", right? Is that the same or different from these issue reports here on GitHub?

- If they're the same, why are cygwin-related issues being closed? I'd think they should

[2017-12-04 17:30] theotherjimmy commented on #578
@bmcdonnell-ionx Nope, PR means Pull Request. Issues are different, though the numbers are unique between Issues and PRs.

[2017-12-04 17:34] bmcdonnell-ionx commented on #578
Thanks for clarifying.

Is there a good place to maintain the list of things broken on cygwin?

[2017-12-04 17:34] theotherjimmy commented on #578
They are closed when the original authors problem is resolved, which in the case of #299, was a documentation addition.

You can fork mbed-cli, checkout a feature branch `git checkout -b cygwin-support`, make changes that resolve you problem, commit the changes `git commit`, push the changes to your fork `git push -u bmcdonnell-ionx`, and then submit a PR (there's a button on the mbed-cli home pag

[2017-12-04 17:35] theotherjimmy commented on #578
@bmcdonnell-ionx We could maintain a list in that section in the readme I mentioned.

[2017-12-04 17:39] bmcdonnell-ionx commented on #578
I'm not sure how much sense forking makes, since I don't currently have the intent to fix this issue myself.

[2017-12-04 17:40] theotherjimmy commented on #578
@bmcdonnell-ionx If you're contributing at all, forking makes sense.

[2017-12-04 17:43] bmcdonnell-ionx commented on #578
Thus far, I'm only filing issue reports, not making any direct code contributions.

I'm concerned about visibility. I don't want to maintain a list of cygwin-related issues *for me*. It should be something that others can find relatively easily, and contribute to.

[2017-12-04 17:44] theotherjimmy commented on #578
@bmcdonnell-ionx Then please make edits to the Readme. I think that's the best place for such a list.

[2017-12-04 17:51] bmcdonnell-ionx commented on #578
Or did you mean that this issue can stay open? Having this here and open is good enough, IMO. I just thought you were going to close it like the other one...

[2017-12-04 18:41] bmcdonnell-ionx opened #580 "allow sharing static libraries (esp. mbed-os) among multiple projects"
This is a feature(s) request, originally discussed here: [How can I factor mbed-os out of my (offline) project?](https://os.mbed.com/questions/79547/How-can-I-factor-mbed-os-out-of-my-offli/).

Currently, AFAIK, there is no way to **use a single copy of a static library from multiple projects**. I think it would be quite useful to be able to do this both entirely within `mbed-cli`, and also in exp

[2017-12-04 18:45] bmcdonnell-ionx commented on #580
Related: #547.

[2017-12-04 22:18] theotherjimmy commented on #437
@SeppoTakalo Where would you expect to see this behavior documented?

[2017-12-08 07:43] wangnuannuan opened #581 "Mbed CLI Offline mode"
I try to modify the mbed.py ,so i can use the mbed-cli offline.what i do is copy the mbed-os to a folder:sys.executable(/usr/bin/)/mbedcli/mbed-os.

first for the "mbed compile XXXX" : I change the `get_os_dir()`
[code]
then when i run "mbed compile -m K64F -t GCC_ARM"
[code]

[2017-12-08 15:47] theotherjimmy commented on #581
Hi @wangnuannuan Thanks for reporting this! I updated your comment to use ` ``` ` for code formatting, which is required by github.

[2017-12-08 15:51] theotherjimmy commented on #581
@wangnuannuan Mbed CLI tries to make it clear when it will access the network, and should work when it does not have network access.

Commands that will use the network:
* `mbed new`       Create new mbed program or library
* `mbed import`    Import program from URL
* `mbed add`        Add library from URL
* `mbed deploy`     Find and add missing libraries
* `mbed publish`    Publish program or li

[2017-12-08 15:51] theotherjimmy commented on #581
Sorry about the spurious close. I miss-clicked.

[2017-12-08 16:05] wangnuannuan commented on #581
every time when i run '''mbed new'''or '''mbed import''. It takes long time to download the 'mbed-os',so  i change the code adding the mbed-os folder in the folder mbed-cli,and then  i install mbed-cli,the mbed-os will be copy to a fixed path. when run '''mbed compile'''  ,the above error occurred

[2017-12-08 16:08] theotherjimmy commented on #581
@wangnuannuan You could turn on caching. You could also just git/hg clone the repo followed by creating a symlink to a copy of Mbed OS matching the `.lib` file. That error happens because Mbed OS is not actually in your project.

[2017-12-08 16:19] wangnuannuan commented on #581
but i think that if my computer is ofline ,then i can't create a new project, i have to copy mbed-os to my project ,I think it's a bit of a hassle

[2017-12-08 16:37] theotherjimmy commented on #581
@wangnuannuan That's why I recommend using a symlink. It should be trivially fast, and take almost no extra disk space.

[2017-12-09 07:46] wangnuannuan commented on #581
thanks for your recommendation，i have solved the error

[2017-12-11 07:15] teetak01 opened #583 "mbed-cli goes to application main root when calling mbed deploy from sub-folder"
**version**
1.2.2

**Bug:**
Critical

**Expected behaviour:**

mbed deploy will deploy only the libraries in current folders and its subfolders.

**Actual behavior:**

mbed deploy will go to application root and start redeploying the whole application tree

**Steps to reproduce:**
[code]
[code]

This behaviour is highly problematic as I may very well have different versions of libraries in my deve

[2017-12-11 20:35] bridadan commented on #583
Hi @teetak01, thanks for filing such a detailed report! I was able to reproduce the situation. Let's go through it.

This is almost true. `mbed deploy` will only deploy libraries that are "below" the current library/application. This is done based on repositories. It will look for the nearest parent repository. Since in this case that is the application, it is in fact doing the correct thing, howe

[2017-12-12 07:40] teetak01 commented on #583
Hi @bridadan I think I understand this issue now a bit better. This is relatively corner-case what I am having.

If I need to deploy a single .lib file, I really do not have any straightforward way. Having something like

`mbed deploy mylib.lib` actually deploying only the given lib-file would be perfect. Instead we have to read the contents of .lib file and perform `mbed add` as you mentioned.

W

[2017-12-12 07:42] teetak01 commented on #583
Anyways, #584 is ok enough for this, unless you are willing to reconsider adding option to deploy existing lib-files directly.

[2017-12-12 16:16] bridadan commented on #583
I'm still a bit confused of your use case though. If you already have the .lib file present, you must know the URL you would otherwise be passing to `mbed add`. Do you have a repo I can look at where you're doing this? I'm a bit worried that we already have a mechanism to solve your problem and we may be over-complicating the issue 😄

[2017-12-13 23:40] robotdad opened #585 "Windows installer does not provide mbed cli on the path"
I just installed mbed_installer_v043.exe with the defaults. The command mbed is not available on the command prompt or in powershell. It is not clear what should be set to fix this as the only thing in the install directory are python scripts. I see nothing in the installation that would provide the mbed command used in all of the documentation.

[2017-12-13 23:48] robotdad commented on #585
OK, it looks like it installed it under my Python 2.7 install that was already present. I have to run mbed from within the scripts directory of the python 2.7 install location, it is not available on the system path.

[2017-12-14 00:01] robotdad commented on #585
And now trying to use that it fails to automatically install missing modules, so I have to install each by hand as I hit them. It also does not have the path to the arm-gcc compiler set etc.

[2017-12-14 15:32] bmcdonnell-ionx commented on #378
Why should it be that way?

You wind up telling one build system (`mbed build`) to ignore the files, but all the others (via `mbed export`) not to. (Right?) If you make any customizations to your exported project files to ignore the same things there, those modifications will be overwritten next time you `mbed export`.

[2017-12-14 15:58] theotherjimmy commented on #378
@bmcdonnell-ionx `mbed export` heeds `.mbedignore` files.

[2017-12-14 16:02] bmcdonnell-ionx commented on #378
So this issue has been addressed, and should be closed?

[2017-12-14 16:23] bridadan commented on #378
Well the issue is specifically that `mbed deploy` still deploys `.lib` files that are either ignored directly by `.mbedignore` files or they are contained within a directory that is ignore by `.mbedignore` files.

It sounds like we don't intend to change this, so I think it's still safe to close this as "won't fix" @theotherjimmy ?

[2017-12-15 05:44] teetak01 commented on #583
This came up in relative abnormal use-case (internal release generation), where I need to pick specific components from several libraries. Although I have also encountered this occationally in other use-cases too, often as part of CI-automation, which also often has to do some tricks to get the desired end result. Well, I have functional workaround for this, so this can be closed as part of #584.

[2017-12-15 09:40] JanneKiiskila opened #586 "mbed-cli support for .mbedignore file definition in mbed_app.json"
We have a situation that some of our configuration requires this kind of `.mbedignore` file and some other ones require a slightly different one.

Right now you can already say to mbed-cli with `mbed_app.json` file to use, but you can't give it the `.mbedignore` -file. We should either have the option to define that as well `--ignore <thisfileas .mbedignore>` OR alternatively add a config to the `

[2017-12-16 05:17] janjongboom commented on #580
@bmcdonnell-ionx So, one way would be to build the static library from a location, then link the static binary in through a symbolic link. Just a bit of work in initial setup, but after that it does what you want to do right?

[2017-12-16 05:41] bmcdonnell-ionx commented on #580
@janjongboom IT is heavily restricting local admin privileges on our PCs, so that would not be a practical solution for us.

https://github.com/git-for-windows/git/wiki/Symbolic-Links

Also, it would be preferable to have a group of repos that users can just clone and batch build. Clever, though.

[2017-12-19 21:36] theotherjimmy commented on #378
[The documentation](https://os.mbed.com/docs/v5.6/tools/ignoring-files-from-mbed-build.html) needs to be updated to explain that it affects `mbed export` as well as `mbed compile`. At the moment, it references the non-existent `mbed build` command.

[2017-12-20 11:17] Luka234 commented on #520
I have also observed that git exclude file is not updated ok. If you do mbed deploy with some library folders already present in app then those libraries are not added to git exclude file (they are removed).

For example:
   1. clone mbed application
   2. mbed deploy (in order to download used libraries)
         at this step all app libraries are added to app root folder and git exclude file (.g

[2017-12-20 11:32] JanneKiiskila commented on #586
Related items;

https://github.com/ARMmbed/atmel-rf-driver/issues/59 AND
https://github.com/ARMmbed/stm-spirit1-rf-driver/issues/1

This problem is not going away too soon, unfortunately

[2017-12-20 18:40] bmcdonnell-ionx opened #588 "export multiple profiles as multiple build configurations"
### Description

Can we add the ability to export multiple build profiles as multiple build configurations in a single IDE project.

Background:

Inspired by [C++11 in exported projects](https://os.mbed.com/questions/79757/C11-in-exported-projects/?c=29224).

In source control for my projects, I'm currently keeping just the files needed so that a developer can check out, and either build or export

[2017-12-20 18:45] screamerbg commented on #588
cc @theotherjimmy

[2017-12-20 18:45] screamerbg commented on #586
cc @theotherjimmy

[2017-12-20 18:46] screamerbg commented on #585
cc @arekzaluski

[2017-12-21 05:39] vkolotov opened #589 "Build for *_boot target fails with AddressOverlapError: Starting addresses are different"
Hi All,

I'm trying to build my projects locally with mbed-cli tool for a *_boot target. I can do this successfully via online compiler, but mbed-cli fails with "AddressOverlapError: Starting addresses are different".

I'm also able to build for *_ota and just without any postfixes, e.g.:
[code]
and
[code]

Here are some details:
[code]

Am I doing something wrong?
Cheers

[2017-12-21 07:09] teetak01 commented on #583
Ok, thanks @bridadan and @screamerbg

[2017-12-21 07:09] #583 closed

[2017-12-21 11:34] screamerbg commented on #575
Now fixed with mbed CLI 1.3 release

[2017-12-21 11:34] #575 closed

[2017-12-21 11:34] screamerbg commented on #569
Now fixed in mbed CLI 1.3 release

[2017-12-21 11:34] #569 closed

[2017-12-21 11:34] screamerbg commented on #564
Now fixed in mbed CLI 1.3 release

[2017-12-21 11:34] #564 closed

[2017-12-21 11:35] screamerbg commented on #526
Now symlinks supported in mbed CLI 1.3 release

[2017-12-21 11:35] #526 closed

[2017-12-21 12:11] screamerbg commented on #577
@seankinghan mbed CLI supports tags/branches to both add and import, e.g. using the the syntax `mbed add/import <url>[#rev|branch|tag]`.

Here's an example:

[code]

[2017-12-21 12:12] screamerbg commented on #589
cc @theotherjimmy @pan-

[2017-12-21 12:21] seankinghan commented on #577
Thanks. Can we have a look at the docs for it?

[2017-12-21 16:43] Alex-EEE opened #590 "mbed export fails with switch "--source ..""
Hi,

I'm trying to export while also including source files in the parent directory of my mbed program.  The following fails:
[code]

[2017-12-21 16:59] theotherjimmy commented on #590
@Alex-EEE That's going to try to scan the current directory twice... You many want to just run the export from the directory above instead.

[2017-12-21 17:00] theotherjimmy commented on #590
That being said, I don't know why you would be getting that error, unless you deleted the `.mbed` file from the tools directory.

[2017-12-21 17:02] theotherjimmy commented on #590
@Alex-EEE You seem to have left off the mcu argument. I assume that you had the `-m` argument present, as it got passed argument parsing.

[2017-12-21 17:12] Alex-EEE commented on #590
The command works when I run it "normally" (from the root of the mbed program) with no source switch.  I was able to do mbed test -compile --source .. and pull in TESTS folders from the parent of my mbed program, so I thought maybe export would work as well.  But perhaps export will be unhappy looking at folders that are not structured as mbed programs?
-MCU: I have it set in my global properties.

[2017-12-21 17:17] theotherjimmy commented on #590
@Alex-EEE

I suppose that this is possible, but unlikely.

-------------------

The error your seeing is quite odd, It's complaining about not being able to open a particular file, which exists.

I also expect that to work.

[2017-12-21 17:19] theotherjimmy commented on #590
@Alex-EEE You may be able to work around this issue by putting a `.mbed` file in the `C:\files\mbed\sandbox\framework` directory.

[2017-12-21 17:41] Alex-EEE commented on #590
So that let the export finish, BUT, it put the project file into ".." (makes sense), but it actually populated all the relative paths inside project file AS IF the project file was still in the root mbed directory ( the directory where I invoked mbed export ).  I moved the project file to there and now all the relative links work.

Couple more questions:
1.  How does mbed CLI "detect" if a folder

[2017-12-21 18:50] theotherjimmy commented on #590
1. the `.mbed` file

2. project local settings, including the `ROOT` element indicating the root of the project.

[2017-12-22 18:52] screamerbg commented on #562
@janjongboom @bridadan @MarceloSalazar PR #593 introduces this.

[2017-12-22 18:53] screamerbg commented on #136
@tweety9999 @BruceBuckland @SeppoTakalo PR #593 introduces this. Please try it out and let me know.

[2017-12-23 14:40] MarceloSalazar commented on #562
@screamerbg looks good, thanks!

[2017-12-27 12:25] JanneKiiskila opened #594 "mbed releases not working on Windows (pip publishing not done for 1.3.0?)"
Seems the command `mbed releases` is not working with the Windows version of this. I have installed the whole Mbed OS toolchain using the Windows installer we have.

[code]
As per documentation the `mbed releases` should list the version numbers (if available) from each repo.

[2017-12-27 12:33] JanneKiiskila commented on #594
Okay, some guess work - the mbed releases command was added to version 1.3 and I am now guessing that's not coming through to Windows (yet). The installer you link to - gives you only version 1.1.1.

https://github.com/ARMmbed/mbed-cli/tree/1.3.0#installing-mbed-cli

If you re-do the `pip install mbed-cli` - it only also gives you the 1.2.2.

[code]

[2017-12-27 12:41] JanneKiiskila commented on #594
However, doing `pip download` found 1.3.0. As did `pip search`.
I did an `pip uninstall` - then it failed removing it.

[code]

But, after that doing `pip install mbed-cli` brought me up to version 1.3.0. Something not quite working with `pip` here, I think.

[2017-12-27 12:41] #594 closed

[2017-12-27 14:18] screamerbg commented on #594
The correct command to upgrade is `pip install -U mbed-cli`

[2017-12-27 14:33] JanneKiiskila commented on #594
We should probably give that info in the `README.md` then.

[2017-12-27 14:40] JanneKiiskila commented on #594
https://github.com/ARMmbed/mbed-cli/pull/595

[2017-12-29 11:29] JanneKiiskila opened #596 "mbed releases -r - listing too long"
Why is the tool listing **all** versions for the components? The list is too long.. I would understand if you used something like `--all` to get ALL the versions, but for now - it should just list ONE version (the one that's used) OR the hash (if no version match).

[2017-12-29 11:30] JanneKiiskila commented on #596
@screamerbg

[2017-12-29 11:33] screamerbg commented on #596
@sg- has a similar feedback. Will look into it

[2017-12-29 11:57] janjongboom commented on #562
@screamerbg Nice!

[2018-01-02 15:01] MarceloSalazar opened #597 "mbed detect doesn't detect target unless using verbose mode"
Summary:
`mbed detect` does not show output when invoked without arguments, but does work when using `-vv`
Host OS: OSX and Windows 10 on VM.
Version: 1.3.0

Log:

[code]

[2018-01-04 17:47] janjongboom opened #598 "Cannot install on fresh Mac with High Sierra"
Got a new Mac today. Installation of Mbed CLI fails when trying to fix the mbed-os requirements:

[code]

@screamerbg

[2018-01-04 18:01] janjongboom commented on #598
You can fix it with:

[code]

[2018-01-05 15:55] MarceloSalazar commented on #597
I'm also seeing this problem natively on OSX.
IMO, this is a "major" regression issue. **Note** it doesn't happen on v1.2.2.

FYI @bridadan @screamerbg @theotherjimmy

[2018-01-10 18:11] davidhyman opened #599 "Docker image for development"
Development on such a project without a Docker image will be pot luck.

[2018-01-10 18:13] davidhyman opened #600 "Near-total test failure on Windows"
`=============== 3 failed, 7 passed, 30 error in 306.61 seconds ================`
A lot of them seem similar failures - for example:
[code]

[2018-01-10 18:17] davidhyman opened #601 "support Python3"
#376 updates documentation such that 'Python 3 is not supported'

This ticket is to add Python3 support.

Changes required:
- All print statements
- Some Lambdas e.g. L1118 `sorted_scms = sorted(sorted_scms, key=lambda m__: not m__[0]) `
- Some iterators

[2018-01-10 18:44] davidhyman opened #602 "test coverage"
Coverage for mbed\mbed.py : 50%
1776 statements   979 run 797 missing 0 excluded 122 partial

This indicates that there is work to be done either reducing the complexity of the code, or adding more tests to cover existing functionality.

As a heuristic guide, tools such as [this](https://codeclimate.com/github/davidhyman/mbed-cli) can assist in indicating areas to focus on.

[2018-01-10 18:46] davidhyman opened #603 "Source file size"
In my experience the size of the file makes it quite difficult to browse and work with, and is larger than usual for Python applications. With working tests and judicious application of namespacing it should be possible to split it up.

[2018-01-10 18:56] davidhyman opened #604 "undocumented environment vulnerability: 'python'"
L48:
[code]
The validity of doing this should be documented, because as it stands, it appears wrong: 'python' will invoke whatever executable has that name on the current system path. It may not be the same interpreter that is executing the current file. It may not work with other aliases of python, or in environments where python is not on the system path. This could cause a number of issues e.g.

[2018-01-10 18:59] davidhyman opened #605 "undocumented environment vulnerability: 'pip'"
L1375:
[code]
The validity of doing this should be documented, because as it stands, it appears wrong: 'pip' will invoke whatever executable has that name on the current system path. It may not be an executable from the same interpreter that is executing the current file. It may not work in environments where pip is not on the system path, or where the system path pip does not match the current in

[2018-01-10 20:19] screamerbg commented on #604
Mbed CLI executes a number of external tools:
* Python (+ all tools in mbed-os/tools/)
* Git
* Mercurial
* PIP
* mbed greentea

Contributions to the documentation are welcome.

[2018-01-10 20:20] screamerbg commented on #605
Let's use #604 to track this and other tools that mbed CLI executes

[2018-01-10 20:20] #605 closed

[2018-01-10 20:21] screamerbg commented on #603
Not a requirement for now, but we can consider it in the future.

[2018-01-10 20:30] screamerbg commented on #601
mbed CLI is the last tool to update from the mbed OS tools. The following tools are Python2 compatible and needs updating first:
* mbed OS build system (under mbed-os/tools/)
* mbed OS exporters (under mbed-os/tools/)
* mbed OS test spec generator (under mbed-os/tools/)
* the rest of mbed OS tools
* mbed greentea (https://github.com/ARMmbed/greentea)
* mbed htrun (https://github.com/ARMmbed/htrun,

[2018-01-10 21:50] screamerbg commented on #599
Where this requirement is coming from? Do you know how many embedded engineers use Docker? :)

[2018-01-10 22:04] theotherjimmy commented on #600
@davidhyman #606 should have fixed this for you.

[2018-01-11 11:02] davidhyman commented on #600
thanks @theotherjimmy , wfm

[2018-01-11 11:02] #600 closed

[2018-01-11 11:49] davidhyman opened #607 "improve test speed"
Local test runs currently take ~20 minutes - it would be easier to develop if they were faster.

[2018-01-11 12:08] davidhyman commented on #604
By documentation, I meant in the code, to explain this decision if it is explicitly intended to behave in the current manner.

What I would recommend instead, is using `sys.executable` in all cases where Python is being invoked. Alternatively, we could take the python executable path as a configurable argument?

For Pip, we should use `{sys.executable} -m pip` which would ensure the same executabl

[2018-01-11 13:37] davidhyman commented on #599
Maybe embedded engineers don't, and we're not about to change that by adding one to mbed-cli (although its certainly possible to make serial connections to connected boards from inside a container).

My primary motivation for this would be to have a reproducible build / test environment. Specifically, there are currently ~70 lines of tests run on CircleCI that aren't reproducible in a stable envir

[2018-01-11 14:01] davidhyman commented on #599
For reference: https://github.com/ARMmbed/mbed-tools-docker/blob/master/Dockerfile