[2018-01-11 14:05] screamerbg commented on #604
Thanks for the clarifications. Your suggestion makes sense. To make this more efficient in the future, perhaps add more detailed description so the intent/feedback/recommendation is clearer.

Regarding pipenv, it's a requirement to mbed CLI is to support both pipenv and native environments, without changing the environment on its own. In your experience, does `{sys.executable} -m pip` take into ac

[2018-01-11 14:55] theotherjimmy commented on #607
@davidhyman There is always a trade off between speed and completeness. You are welcome to suggest enhancements for the speed, as long as they maintain (or improve) the completeness of the tests.

[2018-01-11 14:58] theotherjimmy commented on #604
@screamerbg I'm pretty sure that `{sys.executable} -m pip` invokes the same code as `pip` with the added guarantee that it uses the same python interpreter as the executing code, matching versions.

[2018-01-11 15:01] theotherjimmy commented on #602
@davidhyman We use coverage + coveralls for the Mbed OS build tools, Mbed Greentea, Mbed Htrun and Mbed ls. You are welcome to set something similar up for Mbed CLI. Before changing any test code, I would first like to see what the coverage looks like.

[2018-01-11 17:22] loverdeg-ep commented on #599
@screamerbg Maybe more embedded engineers than you'd think...
Modernization of the embedded development process is a top 2 reason I'm pushing my peers to look into mbed.

[2018-01-12 13:21] screamerbg commented on #598
@theotherjimmy, @bridadan On Windows --user python would fail miserably as it tries to find user profile 'python'. On Mac this seems to be the only way to go. Not sure how this works on Linux, but Linux doesn't have "protected" libraries, like Mac ElCapitan/Sierra/HighSierra, therefore 'sudo' should work just fine. Any ideas how this could be handled?

[2018-01-12 16:33] screamerbg commented on #602
@davidhyman There's a lot going on circleyml that doesn't seem to be taken into account in these stats, e.g.
* Importing with Git, Hg, Bld
* Updating to a specific version with Git, HG, Bld
* Setting up config variables, default target
* Listing of supported toolchains, targets for compile, export, etc.

Do you could look at translating some of these to py.test tests so they are accounted against

[2018-01-12 16:44] screamerbg commented on #599
@loverdeg-ep @davidhyman Fair enough. In the same time let's make sure that Docker isn't required to develop mbed OS, nor mbed OS tools (including mbed CLI)

[2018-01-12 16:46] theotherjimmy commented on #598
@screamerbg What exactly are we handling? Cross platform `pip install`?

[2018-01-12 16:50] theotherjimmy commented on #602
@screamerbg after #608, We can use `coverage -m mbed` instead of `mbed` on the command line, and get the coverage info for those commands. That sounds like a bit less work.

[2018-01-12 16:51] davidhyman commented on #602
Yes - in theory - it would be a matter of using `coverage run mbed ...`  in place of `mbed` (then `coverage combine` and some other invocations)
In practise it may be somewhat fiddly getting this going, if we're only able to debug through CircleCI.

[2018-01-12 16:52] davidhyman commented on #602
converting them to a suite of pytest tests with subprocess calls could also work though, and provides a single entrypoint for all tests

[2018-01-12 17:14] #581 closed

[2018-01-17 15:41] Alex-EEE commented on #590
Workaround:
- Faking the root with .mbed is a no go b/c the cli toolchain expects mbed-os to either be directly beneath the execution directory, or in a parent of the execution directory.
- The exporter comes up with all the correct links *relative to the mbed root*, but then puts the project file into the target directory for --source (.. in my case)  If you move the project back into mbed root,

[2018-01-17 23:38] drewcassidy opened #614 "Installation instructions ask for sudo pip install"
The [installation instructions](https://os.mbed.com/docs/v5.6/tools/setup.html) for mbed-CLI ask the user to install using `pip`, and suggests using `sudo pip install mbed-cli` on macOS and Linux. According to [this stackoverflow answer](https://stackoverflow.com/a/33004920/7645957), doing this is incorrect and can cause problems on recent versions of macOS.

Instead, the instructions should recom

[2018-01-18 16:41] janjongboom opened #615 "Should not do full rebuild when switching profiles"
Right now when you switch profiles it'll trigger a full rebuild. That is very annoying, I'm switching quite often between debug and release builds to look at memory usage etc. Can we not do this?

Downside is that changing the paths to `BUILD/PLATFORM/GCC_ARM/PROFILE/` requires change in documentation.

cc @mark-edgeworth

[2018-01-18 16:48] mark-edgeworth commented on #615
alternative might be to add '-profilename' to the end of either the platform or the compiler parts in the BUILD structure, although this feels a bit hacky.

[2018-01-18 23:15] bmcdonnell-ionx commented on #333
@geky, @sg-,

Looks like this is no longer true. From geky's linked source:

Can this issue be revisited?

See also: https://www.iar.com/support/resources/articles/exploring-c11-and-c14/

Is mbed committed to supporting old versions of IAR? If so, how old?

Zooming out a bit... as an mbed OS user, I don't really care if mbed OS is built with C++11 enabled. (Can't think of a reason yet, anyway.) In

[2018-01-18 23:18] geky commented on #615
You could create a symbolic link for the old path every build. Would be a cheap way to keep the old paths working for a while. The symbolic links could be removed at a later timer (6.0?)

[2018-01-19 00:03] janjongboom commented on #615
I don't know if Windows properly supports them.

[2018-01-22 11:15] gggekov opened #616 "LoRa L-Tek FF1705_L151CC target name is incorrect"
### Description
- Type: Documentation Bug
- Priority: Minor

---------------------------------------------------------------

**Target**
FF1705_L151CC ( https://os.mbed.com/platforms/L-TEK-FF1705/)

**Toolchain:**
GCC_ARM

**mbed-cli version:**
1.1.1

**Behavior**
The documentation says the target name for the board should be **FF1705_L151CC**. However,this target name is unrecognised by mbed-cli

[2018-01-22 11:48] sg- commented on #333
Why dont you make a local, custom, build profile and pass this to the tools? https://os.mbed.com/docs/v5.6/tools/build-profiles.html

[2018-01-22 12:25] #616 closed

[2018-01-22 12:26] gggekov commented on #616
This issue should be raised in **mbed-os** repository.

[2018-01-22 20:28] bmcdonnell-ionx commented on #333
Because I'm not building with `mbed compile`; I'm using `mbed export`, which AFAICT doesn't support build profiles.

[2018-01-22 20:31] geky opened #617 "Doxygen command"
Is there a way to generate doxygen with mbed CLI?

Like the testing and config commands, a doxygen command would be quite helpful to verify that new doxygen is sane.

cc @theotherjimmy, @dannybenor, @AnotherButler

[2018-01-22 21:35] theotherjimmy commented on #617
Nope. We could add that though.

[2018-01-22 21:45] theotherjimmy commented on #333
@bmcdonnell-ionx `mbed export` accepts `--profile`, but some exporters ignore it.

[2018-01-22 21:48] bmcdonnell-ionx commented on #333
I'm currently using NXP MCUXpresso, but will hopefully move to Visual Studio Code at some point.

IDE editor features are handy, and debugging is the big win. I'm not opposed to being *able* to `mbed compile`, but I don't want to be locked-in to that.

[2018-01-22 21:55] theotherjimmy commented on #333
@bmcdonnell-ionx That's not the way I would normally use "locked-in" :). I think MCUXpresso may ignore the `--profile` argument.

[2018-01-24 02:08] bmcdonnell-ionx commented on #580
Let me draw a parallel here: consider MS Visual Studio solutions and projects.

# Solutions (the example)

Each project produces one output, be it an executable or a library. It is good practice to make projects modular. The solutions track dependencies between projects.

You could have a setup like this:

    $ ls -F MySuites/
    App1/
    App2/
    App3/
    libBar/
    libFoo/
    SuiteAll.sln

[2018-01-24 10:36] bridadan commented on #580
@bmcdonnell-ionx This almost works as you described as long as `libBar` and `libFoo` are git repositories.

All you have to do is the following:

[code]
That will clone `libFoo` into the current `App1`. The downside is this:

1) requires you to use an absolute path, so it will only work on the current machine (as opposed to using remote repositories, where they are cloned over the network).
2) cur

[2018-01-24 11:50] bridadan commented on #580
Just as an update to my previous post, good news! `#2` is actually already fixed on master!

It's important to note, however, that if you make an update to a shared library in `App1`, this update won't be reflected in `App2` since that is a separate clone of the library repository. If you want it to be updated in `App2`, you should commit and push your changes to the shared library and then update

[2018-01-24 16:09] bmcdonnell-ionx commented on #580
@bridadan, thanks for your input.

By "this", do you mean for single projects as described in [my OP](https://github.com/ARMmbed/mbed-cli/issues/580#issue-279103521)? Not a unified multi-project setup as described in [my later comment](https://github.com/ARMmbed/mbed-cli/issues/580#issuecomment-359996801) (a master top-level repo containing libs and "solutions"). Assuming so...

It doesn't seem to

[2018-01-24 19:45] theotherjimmy commented on #580
@bmcdonnell-ionx Why not just use a symlink? It seems to meet all of your requirements.

[2018-01-24 19:47] theotherjimmy commented on #580
Also, note that object files and static libraries are treated slightly differently WRT weak references by the linker, so we may not be able to package everything as a static library.

[2018-01-24 20:03] bmcdonnell-ionx commented on #580
[Answered above](https://github.com/ARMmbed/mbed-cli/issues/580#issuecomment-352163002):

Details: The Windows 10 Creators Update allows users to create symbolic links on Windows 10 without admin priviliges. Our IT department hasn't pushed it out yet. Alternatively, prior to the update, there is a way for domain admins to grant permission for certain people to use `mklink` without admin privs, but

[2018-01-24 20:04] bmcdonnell-ionx commented on #580
@theotherjimmy,

Could you elaborate? How are they treated differently? What problems would it cause? etc.

[2018-01-24 20:08] bmcdonnell-ionx commented on #580
Addendum: using symlinks would also make the development environments more platform dependent, or requires some git hackery to make it play nice when checked out by multiple OSes.

https://stackoverflow.com/questions/5917249/git-symlinks-in-windows

[2018-01-24 20:15] theotherjimmy commented on #580
Looking at [the ARM linker manual](http://www.keil.com/support/man/docs/armlink/armlink_pge1362065917715.htm), one sentence sticks out at me:

I'm not clear on how this would resolve weak references within libraries, or if it could even resolve weak references within libraries.

-----

Symlinks appear to be supported on Windows, [stating with Vista](https://msdn.microsoft.com/en-us/library/windows

[2018-01-24 20:20] theotherjimmy commented on #580
This is by design: the configuration system allows a project to change the contents of the library, which would prevent sharing or make sharing only possible with _exactly the same configuration_.

[2018-01-24 20:26] theotherjimmy commented on #580
In your multi-project workspace thingy, you could invoke the build tools directly and specify the paths to scan directly. For Example:
[code]

[2018-01-24 20:32] bmcdonnell-ionx commented on #580
I agree with the attempt to prevent developers from inadvertently using a version of a library that differs from what they reference in a project (in the `.lib` file), but "sharing...with exactly the same configuration" is exactly what I'm trying to do. So I respectfully disagree with the design decision - or perhaps just the implementation, if I'm missing something.

Isn't it a common use case to

[2018-01-24 21:12] Alex-EEE opened #618 "mbed export with "--source .." fails to discover mbed_app.json"
$ mbed export --source .. -i IAR
Scan: ..
Traceback (most recent call last):
...snip...
tools.config.ConfigException: Required parameter 'storage-selector.storage' defined by 'library:storage-selector' doesn't have a value

This happens despite having an mbed_app.json file that defines storage-selector.storage.

***
When I perform simply
mbed export -i IAR

The program finds the mbed_app.json file

[2018-01-24 21:16] bmcdonnell-ionx commented on #580
Reading further on that page, I see that weak *references* are distinct from weak *definitions*. I'd be concerned if weak definitions didn't work. I'm not yet familiar with use cases for weak references. Does Mbed OS use them?

This would require manually modifying the generated IDE project files, right? (Something I thought would be preferable to avoid, for maximum portability.) How would debuggi

[2018-01-25 08:18] bridadan commented on #618
Hi Alex,

The default value for the `--source` option is just the current directory (`["."]`). If you supply a `--source` option, you are replacing this default with what you supply, in this case `[".."]`. If your `mbed_app.json` is located in your current directory (`"."`) instead of in your new source directory (`".."`), then the `mbed_app.json` will not be included. If you wish to use the `mbed

[2018-01-25 09:02] bridadan commented on #580
@bmcdonnell-ionx first of all, sorry for missing some of the details of your posts! I admit I skimmed them at first and I didn't get the full picture, my bad!

I think most of the pieces to solve this are already in place. Let's run through it together first so we're all on the same page. :
1. First, build mbed-os as a static library. To create the static library, I'm fairly certain you must use M

[2018-01-25 09:05] bridadan commented on #580
I should also note that while this workflow works as of right now, it is by no means guaranteed to work in the future. Mbed OS is typically designed to work seamlessly in applications *only* when being compiled from source. If you do these steps, the "pieces of the puzzle" generally work together but it is not really a supported flow, so please use this at your own risk! I don't believe we plan on

[2018-01-25 11:15] 0xc0170 commented on #580
yes it uses, but we are building from source. The problem as mentioned earlier is with archives, known problem. Therefore for mbed 2 libraries, some files are object files that have weak symbols in for instance mbed retarget code file (see the code that handles it https://github.com/ARMmbed/mbed-os/blob/master/tools/build_api.py#L1043)

[2018-01-25 18:57] bmcdonnell-ionx commented on #580
@0xc0170, the code you linked to says it's copying the object files, so isn't that working around the fact that the weak references aren't in the built library? Such that you could use it as a built static library + a few object files.

I'm probably misunderstanding something, but if you're just building everything into a single executable output/object, I don't understand the need to copy those f

[2018-01-25 19:18] bmcdonnell-ionx commented on #580
@bridadan,

Thanks for taking another look.

Not a path I'm keen to follow, then. So here I am asking for new features. 😄

Back to the fundamental questions, then: *Does the Mbed OS team think that this currently-supported workflow is sufficient?*

Is my use case unusual? e.g. If a design/development team is experimenting by writing multiple applications for a device. Or maybe they sell products t

[2018-01-25 19:36] theotherjimmy commented on #580
All the time. I use symlinks, and don't consider them a hack.

[2018-01-25 19:41] bmcdonnell-ionx commented on #580
@theotherjimmy, do you commit the symlinks to your repos as symlinks? Or do you always have to `git clone`, `cd newprojdir`, `ln -s ../mbed-os .`, `mbed deploy` / `mbed export` etc., every time you grab a new application repo?

If there are actually symlinks in your repos, do they work across development platforms? (Windows/Linux/Mac)

[2018-01-25 19:44] theotherjimmy commented on #580
@bmcdonnell-ionx I do not commit the symlinks.

I also don't use `mbed deploy` or `mbed export`. `mbed deploy` does not suite a use case where you develop mbed-os, and `mbed export` is not useful when developing the build tools.

[2018-01-26 23:12] bmcdonnell-ionx commented on #580
@0xc0170,

I thought [compiling static libraries](https://github.com/ARMmbed/mbed-cli#compiling-static-libraries) is a supported feature...?

[2018-01-26 23:54] theotherjimmy commented on #580
@bmcdonnell-ionx Is that bit of instructions not working for you?

[2018-01-29 10:47] g40 opened #619 "Question? Best venue for support?"
This is almost certainly the wrong place to ask but ..

I can build a basic `mbed-os-program` with `-t GCC_ARM -m RZ_A1H` and get a .bin file (nice BTW, thanks). The build system has correctly cloned mbed-os. However if I simply add `#include usbmouse.h` I get

[code]
This does work with the online compiler and the target board. But in this case the relevant headers and source are in are `...\mbed

[2018-01-29 11:03] screamerbg commented on #615
cc @theotherjimmy

[2018-01-29 11:06] screamerbg commented on #619
@g40 you can use
[code]

Let me know how it goes.

[2018-01-29 11:38] g40 commented on #619
Thank you. I realized immediately after posting that I was better off with `mbed add http://mbed.org/users/mbed_official/code/USBDevice/`

Sadly that compilation fails. I will investigate further. BTW is issues acceptable for questions?

TAIA.

[2018-01-29 13:34] davidhyman commented on #614
https://github.com/pypa/pipenv is current best practice. It somewhat depends on what the user wants to do with their environments, but I would suggest that if they are just aiming for the easiest standalone install, this would be best across the board.
We could document both methods, but I feel that could be confusing for new users - it would be fair to assume that someone that already had a custo

[2018-01-29 14:37] bmcdonnell-ionx commented on #580
@theotherjimmy, what I mean is you seem to be saying here that compiling Mbed OS as a static library is not a supportable feature, based on the lack of support for weak references in Keil's compiler. But I'm pointing out that it *is* apparently a supported feature - though only for the Mbed CLI builder - as indicated by the reference I linked.

However, I'm here asking for this support for the sta

[2018-01-29 15:54] theotherjimmy commented on #615
@janjongboom I don't think in re-builds assembly. I'll freely admit that is at best a 2% speedup. @geky is correct in pointing out that we would have to make the final artifact available as part of the `BUILD/<target>/<toolchain>/` directory. Maybe just copying them would be sufficient? I'm open to ideas on this one.

[2018-01-29 16:08] theotherjimmy commented on #580
@bmcdonnell-ionx I think that I'm saying that we don't test "Mbed OS as a static library", and the tools are tested for building static libraries. So `--library` works, but may not work with Mbed OS. OTOH, `mbed compile --library` supports an additional `--no-archive` flag, that disables creation of the `.a` file. That **will** work with Mbed OS, as it will use the `.o` files from the build, witho

[2018-01-29 17:04] bmcdonnell-ionx opened #621 "mbed add breaks certain URLs"
Bug report. Using Mbed CLI 1.3.0; Mbed OS 5.7.3; on Windows 10.

I have some `.lib` files in my project which point to internal git repos which are of the form

    http://servername:portnum/path/to/repo

`mbed add` clones the repo, but then it puts the path in the `.lib` file as

    https://servername/portnum/path/to/repo

HTTPS instead of HTTP, and `/` instead of `:` delimiting `servername` fro

[2018-01-29 19:25] theotherjimmy commented on #621
Thanks for the detailed bug report. I don't have time to look into this right now.

@screamerbg Is the `http` -> `https` conversion by design? I don't think that the port-number handling was intentional. Would you be open to patches that resolve this issue?

[2018-01-29 21:25] Alex-EEE commented on #618
@bridadan thanks as always for a quick response!  Was actually working on that IP bridge we were discussing and had some interesting results!  Anyway, I'm back on this now, and yes, both of your suggested solutions ( move .json file to source target, or supply path with --app-config)  Note to anyone reading that the path to provided to app-config needs to be relative to where you invoked the CLI,

[2018-01-30 04:50] drewcassidy opened #622 "Suggestion: allow use of git submodules for libraries"
Supporting the use of git submodules could help with the use of mbed with libraries, since it would show an easy link to the submodule repository at the referenced commit, and would remove the clutter of the .lib files that mbed uses currently. .lib files would be kept for backwards compatability and use with other SCMs.

currently, attempting to use git submodules in addition to the .lib files ca

[2018-01-30 15:58] bridadan commented on #618
That's correct, thanks for underlining that fact! @Alex-EEE if that fixes your problem would you mind closing this issue?

[2018-01-30 16:15] Alex-EEE commented on #618
Thanks!

[2018-01-30 16:15] #618 closed

[2018-01-30 19:13] mray19027 opened #623 "mbed publish not authenticating"
Details:
When trying to execute `mbed publish` on an HG repository with no username/password set in ~/.hgrc, CLI fails with an abort stating:

[code]

Expected result:
Mbed CLI should bring a dialog box up or ask in command line for username and password to authenticate with which then gets passed to HG

[2018-01-31 17:06] bmcdonnell-ionx commented on #378
How can I ignore specific files in an `mbed export`ed project? And why is `mbed export` overwriting `.mbedignore`?

I have a project that uses a library, where the library has a `test.cpp` file in its directory. I can't build the Mbed project with that file.

When I add `libname/test.cpp` to my `.mbedignore` file, `.mbedignore` gets overwritten by `mbed export`. But there is apparently *some* way

[2018-01-31 19:39] theotherjimmy commented on #378
@bmcdonnell-ionx

Certain exporters may write their own `.mbedignore` files.

The `.mbedignore` files will work for both `mbed compile` and `mbed export`. I'm a little confused on what you mean do you mean `.mbedignore` then `mbed export`? or `mbed export` then (some IDE interaction) then `.mbedignore`? For either, you could just write in the `.mbedignore` file.

You could put the `.mbedignore` fi

[2018-01-31 19:48] bmcdonnell-ionx commented on #378
Bummer.

I could see them adding to it, but clobbering it seems like bad behavior, IMO.

Step 1. I added `libname/test.cpp` to the `.mbedignore` file.
Step 2. `mbed export -m LPC4088 -i mcuxpresso`
Step 3. Inspect `.mbedignore`. It has been overwritten, and no longer contains `libname/test.cpp`.

I don't want to pollute a library that knows nothing of Mbed.

[2018-01-31 20:06] theotherjimmy commented on #378
@bmcdonnell-ionx This sounds like an issue with `mcuxpresso`. I think mcuxpresso may not support .mbedignore of single files. Let's discuss this on another issue in the mbed-os repo, I think we have ventured off topic of this issue.

[2018-01-31 21:04] bmcdonnell-ionx commented on #378
Agreed. See reference above.

[2018-01-31 21:40] theotherjimmy commented on #622
@drewcassidy Are you just suggesting that we pass the `--recursive` option to clone? If so, I think that would be a reasonable change.

[2018-01-31 21:40] theotherjimmy commented on #622
@screamerbg Do you have thoughts on this?

[2018-01-31 23:18] drewcassidy commented on #622
that, plus allowing submodules in place of the folder + .lib files. currently mbed throws errors when both are present, and without the .lib files it wont update. running commands like `mbed update` should also call the appropriate git submodule commands

[2018-02-01 15:05] loverdeg-ep commented on #622
@screamerbg I believe using submodules was another reason our projects were exploding

[2018-02-01 16:37] screamerbg commented on #622
@drewcassidy @loverdeg-ep A core Mbed CLI requirement is support Mercurial and Git, and potentially other SCMs. Mbed CLI has to handle these seamlessly, regardless of how they are used, including use cases where SCMs are mixed in a code tree - e.g. a program on os.mbed.com uses Mercurial, pulls in Mercurial libraries, but also uses Mbed OS from github.

Git does support submodules, and it comes wi

[2018-02-01 19:18] drewcassidy commented on #622
Ah, thank you for the explanation! It would be nice if that was a bit more automated in the CLI tools, but thats probably a problem for another issue

[2018-02-01 19:27] theotherjimmy commented on #622
@drewcassidy I take it that this issue can be closed then? Is there something else that needs to be done here?

[2018-02-01 19:27] #622 closed

[2018-02-01 20:11] screamerbg commented on #622
@drewcassidy I think that we should explain this better in the documentation. Including working with submodules as library references in parallel

[2018-02-02 18:23] loverdeg-ep opened #624 "Can't find any documentation for creating own libraries"
I'm having trouble finding any documentation of the recommended procedure for creating libraries. with mbed-cli

[2018-02-02 21:10] theotherjimmy commented on #624
@loverdeg-ep Where did you first look for this information? (We'll probably put it there, so that you find it next time)

[2018-02-02 21:10] theotherjimmy commented on #624
@AnotherButler @screamerbg Do either of you know the answer to this question?

[2018-02-02 21:12] AnotherButler commented on #624
We have this content: https://os.mbed.com/docs/v5.7/tools/working-with-mbed-cli.html#compiling-static-libraries

[2018-02-02 21:58] loverdeg-ep commented on #624
@AnotherButler  we're actually just trying to figure out how to "libraryize" and existing git repository

There is an "mbed new --library" option we were evaluating but couldn't figure out how it was operating.

Eventually we think we've realized there isn't anything special about libraries and that we could just do "mbed add" on any old git repository to add it as a library.

However the existing

[2018-02-06 02:52] ssnover95 opened #625 "Calling mbed export with clean can cause crash"
I'm getting a crash when calling `mbed export` with the flag `--clean`. Here's the output:

[code]

On the line mentioned in `mbed-os/tools/project.py`, I noticed that the directory is never checked to be existing:

[code]

There's no check that the BUILD_DIR exists. This mainly came up because I was passing `--source` flags and the setting of `BUILD_DIR` appears to rely on the default behavior of

[2018-02-06 08:10] screamerbg commented on #625
cc @theotherjimmy

[2018-02-06 13:38] screamerbg commented on #623
@mray19027 could you provide more information on this? E.g. Mercurial and Mbed CLI versions, environment, perhaps non-secret contents of .hgrc or .hgini

[2018-02-06 13:38] screamerbg commented on #604
This is now merged and released in Mbed CLI 1.4.0

[2018-02-06 13:39] screamerbg commented on #597
This is now merged and released in Mbed CLI 1.4.0

[2018-02-06 13:39] #597 closed

[2018-02-06 13:40] screamerbg commented on #562
Now available in Mbed CLI 1.4.0

[2018-02-06 13:40] #562 closed

[2018-02-06 18:50] screamerbg commented on #621
@bmcdonnell-ionx Thanks for reporting this and apologies for the late reply. This seems like a bug in the formaturl() function. Could you provide me with an example URL string (but mask the actual host and sensitive path names)?

[2018-02-06 18:57] bmcdonnell-ionx commented on #621
Is the example provided insufficient? `http://servername:portnum/path/to/repo` What additional info do you need?

I don't know of a publicly-accessible repo that uses http and portnum, but if you do a PR I can test it on ours.

[2018-02-13 16:43] theotherjimmy commented on #625
Hmmm. That's definitely a bug. At worst, it should tell you not to use `-c` or something.

[2018-02-13 16:43] theotherjimmy commented on #625
I'll have time later this week to look into this.

[2018-02-13 20:19] screamerbg commented on #621
@bmcdonnell-ionx Would you be able to try my development branch at https://github.com/screamerbg/neo/tree/feature_safe_repo_urls ?

[2018-02-14 00:32] bmcdonnell-ionx commented on #621
Progress...

[code]

Please do not enforce a port number. We are not using the ports you specified. That shouldn't be an error. IMO, it shouldn't even be a warning. (Even if we were using one of the typical ports, someday someone will use a nonstandard port, and this is an unnecessary restriction.)

Also, looking at the help text...

[code]

I can understand why you might add the `--insecure` opti

[2018-02-14 02:01] screamerbg commented on #621
@bmcdonnell-ionx thanks for trying this out. I've just added a small fix to address the port number issue. Please let me know if that works for your use-case.

Regarding insecure, in majority of the use cases, the end-user doesn't know about every single repository URL that will be accessed/cloned during `mbed import/add`. And unlike the `git clone <url>` command, where end-user is de-facto aware

[2018-02-14 02:03] screamerbg commented on #623
@mray19027 ping

[2018-02-14 02:04] #604 closed

[2018-02-14 14:44] loverdeg-ep commented on #624
@screamerbg, @theotherjimmy, @AnotherButler
Any more info on this?

We've weighed the pro's and con's and will probably be, reluctantly, switching back to using git sub-modules until @ilg-ul's [xPacks](https://xpack.github.io/l) or cmsis-packs become more production ready.

To continue my own education; Is there a technical write-up anywhere of how mbed-cli manages git repositories and "libraries"

[2018-02-14 14:55] bmcdonnell-ionx commented on #621
@screamerbg, with your latest changes, using the `--insecure` option, `mbed add` and `mbed import` now work for our repos. And your explanation makes perfect sense, thanks.

I notice that the `--insecure` option is also listed in the help for `mbed update` and `mbed deploy` commands. I did not have to use it, though. Is that intentional?

[2018-02-14 15:37] theotherjimmy commented on #624
@loverdeg-ep  would #626 Resolve the problem for you? If so, I recommend that you mention your support in that PR.

-----

@loverdeg-ep I'm sure that @JonatanAntoni would like to hear what you think could help make cmsis-packs production ready for you at https://github.com/ARM-software/CMSIS_5

[2018-02-14 16:17] loverdeg-ep commented on #624
@theotherjimmy pulling in mbed-os as a submodule versus having mbed-cli do it is our next step so I'm all for it.

@JonatanAntoni eventually I may make an issue at https://github.com/ARM-software/CMSIS_5 but @ilg-ul but my thoughts on the topic aren't organized yet.

Overall @ilg-ul's vision for [xPacks](https://xpack.github.io/) is what we want period.

* package management tools
* build tool for

[2018-02-14 16:25] theotherjimmy commented on #624
@loverdeg-ep To be clear, I think that Keil uVision supports all three of your goals. Do you also want to use Mbed OS? That might be the rub then.

[2018-02-14 16:38] loverdeg-ep commented on #624
@theotherjimmy
Yes for sure want to take advantage of hardware abstraction mbed OS provides.

Also not a fan of being locked into a particular IDE especially uVision.

We're currently waiting for the right moment to hop on the [eclipse Che](https://www.eclipse.org/che/docs/6/che/docs/) train since it has the potential to fulfill the grand vision of doing serious embedded development without instal

[2018-02-14 16:44] theotherjimmy commented on #624
Good to know. Thanks for all of the feedback.

[2018-02-14 19:14] bmcdonnell-ionx commented on #621
CORRECTION...

Actually, it just requires the option on the first time you clone the repo, if either of those commands does so. If the library repo with the "insecure" URL is already present, then you don't need the `--insecure` option.

...Issue resolved, pending merge?

[2018-02-15 15:16] ArjanSmit commented on #590
We are building an application which can be simulated under Windows/Linux. Mbed-os is only one part of the source tree and we need to build it using a Makefile as part of the "application project'  loadcells and not within the instead of using the mbed-cli environment.
Project structure:
Root
|    projects
         -  loadcells (application)
         -  loadcells_simulated (application simulated,

[2018-02-15 15:27] theotherjimmy commented on #590
Hi @ArjanSmit

I think that's enough information to let me know what's going wrong here. I'll see what I can do about this today. I think it may be a quick fix.

[2018-02-15 15:28] theotherjimmy commented on #590
@Alex-EEE I think you may want to check out #626

[2018-02-15 15:36] Alex-EEE commented on #590
@theotherjimmy thanks!  @ArjanSmit you could also consider " --source .. "

[2018-02-18 10:22] daid commented on #590
(FYI, I work with ArjanSmith on this project, #626 won't solve this problem)
@theotherjimmy @Alex-EEE "--source .." won't work because it would include the "simulation" sources.

I've looked a bit more into this, and I came to the conclusion that "--source" in the "export" function is just broken. Simple example, file structure:
[code]
Then, executing ```mbed-cli export -i make_gcc_arm --source pr

[2018-02-19 05:02] janjongboom opened #628 "Cache does not work"
I have cache enabled:

[code]

However when I clone a project it still downloads Mbed OS.

[code]

It should not download anything. I have cache enabled.

[2018-02-20 16:22] theotherjimmy commented on #590
@daid I'm considering it a bug that mbed export does not correctly respect multiple `--source` parameters. I'm looking into resolving that today.

[2018-02-20 16:46] theotherjimmy commented on #590
@Alex-EEE @ArjanSmit @daid I got to it. It was easier than I thought! check out https://github.com/ARMmbed/mbed-os/pull/6143

[2018-02-21 15:46] bmcdonnell-ionx commented on #621
@screamerbg, is there anything left to do on this? Are you going to do a PR?

[2018-02-22 15:30] geoffrey-vl opened #629 "mbed add behaves different when changing to verbose mode (Win10)"
I found that the **mbed add** command behaves different when changing to verbose mode, on Windows 10.
In non-verbose mode it asks the credentials of the remote user, and although provided correctly authentication fails.
In verbose mode it found my id_rsa, and authenticates.

See below:

[code]

Note that my Windows machine has different id_rsa files. When using ssh it uses the C:/Users/me/.ssh fol

[2018-02-23 15:10] theotherjimmy commented on #629
@screamerbg Based on the description (different behavior based on -v), this looks very much like a bug to me.

@geoffrey-vl Is this blocking you in some way?

[2018-02-23 15:40] thinkberg opened #630 "parser for MBED_MEM_TRACE output"
### Description
- Type: Enhancement
- Priority: Minor

----------------------------------------------------------------
## Enhancement

The current memtrace is a very nice feature, but rather hard to use. Since my forum post is now in moderation for a week, maybe you'd like to integrate my little script into the cli tooling itself?

https://github.com/thinkberg/mbed-memtrace-logger

It parses the

[2018-02-23 16:00] theotherjimmy commented on #630
@thinkberg You're welcome to submit a PR. I'm not sure mbed CLI would be the best place for this. @screamerbg Do you have any thoughts on that subject?

[2018-02-23 16:15] geoffrey-vl commented on #629
No, as work around I'm using verbose mode.
Could it have something to do with following function in mbed.py?

[code]

[2018-02-23 16:26] thinkberg commented on #630
I remember something like `yotta debug` in the old system which could be helpful here too. An mbed client way to start openocd/jlink gdb server and maybe even log serial output in a file/pipe it through the the script I wrote if tracing is enabled.

I didn't know which is the best part to submit something too, so I wanted to get some feedback. It felt more home in mbed-cli than in the mbed-os part

[2018-02-23 18:32] screamerbg commented on #630
@thinkberg I agree with @theotherjimmy that Mbed CLI might not be the best place for the parsing. Do you think that this could be something like an external tool or python module, something that Mbed CLI could call? Or perhaps be part of Mbed OS tools given that many tools inside the OS have knowledge about the target, ram/flash, regions, even flash algos, device IDs, etc.

[2018-02-23 18:35] screamerbg commented on #629
@geoffrey-vl Thanks for the bug report. Yes, it has to do with the progress bars formatting. I'll look into this tomorrow.

[2018-02-23 18:41] thinkberg commented on #630
Sure, could be an external module that can be called. My reasoning was that its important enough to be easily accessible. Right now, having a memory leak involves quite some searching and guessing. Even the stack/thread debug that I referenced in the repo was a lucky find. You almost always find outdates mbed docs, unfortunately. Even if it would be part of the docs with reference to the external

[2018-02-23 19:11] screamerbg commented on #629
@geoffrey-vl Hmmm, I'm not able to reproduce it. Here's what I use as a command:
[code]

Every prompt appears just fine. What git version do you use?

[2018-02-23 19:36] geoffrey-vl commented on #629
Well, it's on my desktop pc at work, can't tell right now but it should be a recent one.
What I do now is that our IT infrastructure has been setup so that the Windows "home" folder was actually a network folder mapped to the P drive, but this is no longer the case (at least not on my machine). The P drive is still around though, it is still mapped as P, I can still access it and some tools still

[2018-02-26 16:51] gorankecman opened #631 "Mbed compile -m detect picks incorrect target"
`mbed compile -m detect -t gcc_arm` with a SEED_TINY_BLE plugged in will compile for the ARCH_BLE.

Original comment below

--------

I am a beginner with mbed and mbed-cli, and I have a problem which I need help for. If I selected a wrong place to ask this question, please forgive me and point me to the right place. I thought this might be related to mbed_cli, but also it might be related to arm

[2018-02-26 20:13] gorankecman commented on #631
Hi @theotherjimmy,

Fist I have tried target SEEED_TINY_BLE and now when the code is flashed, LED blinks. Thank you very much for the help! However, it is strange why then this target is not detected when I execute:
[code]
For the other part, I have also seen that file device.h is missing, but I do not know how to solve that. Can you clarify what does "incomplete clone" means? I exported working c

[2018-02-26 20:35] theotherjimmy commented on #631
I'm glad we could get something working for you. I think the "ARCH_BLE" and "SEED_TINY_BLE" may be indistinguishable to the tools.

-----

I think that the `hg clone` that Mbed CLI did for you may not have completed correctly. You could try removing the `mbed` directory and running `mbed deploy` again, or you could copy the `mbed` directory from your working project into the one that contains the

[2018-02-26 20:38] #625 closed

[2018-02-27 08:01] vidavidorra opened #632 "CMake export GCC_ARM .map"
First of all, I'm not sure whether I should post this question here or in the mbed-os repository . I'm usign CLion as IDE and use the CMake exporter to generate the CMakeList files using
[code]
When I compile the code it generates the .hex file as expected, but I'm interested in the memory map of the code. To create that, I believe I need a `.map` file and use the [memap tool](https://docs.mbed.co

[2018-02-27 11:04] gorankecman commented on #631
@theotherjimmy thank you for help!
All the problems were coming from the target provided when compiling the code. I was able to export the project from the online compiler and to get working hex file (LED blinks). You can see the procedure from commands:
[code]
Is there a command which can give me all the available targets?
I have executed `$mbed target --supported` but there is no SEEED_TINY_BLE

[2018-02-27 15:04] amq commented on #475
With an addition of SWO to mbed-os (https://github.com/ARMmbed/mbed-os/pull/5956), my goal seems to be a step closer.

To recap, I'm trying to do:
- flash the device using J-Link, basically, just run `JLinkExe -commanderscript firmware.jlink`
- execute the tests with SWO / semihosting

Related:
https://github.com/ARMmbed/mbed-drivers/issues/188
https://github.com/ARMmbed/mbed-trace/issues/67
https

[2018-02-27 15:14] theotherjimmy commented on #631
@gorankecman I'll mark this as a bug and edit the top post to call out the detect problem as a bug.

[2018-02-27 15:20] gorankecman commented on #631
@theotherjimmy just to once again give the output of the compile command with detect added:
[code]
Seeed Tiny BLE board is connected to the USB port.

[2018-02-27 15:31] bridadan commented on #475
J-Link detection was also just added to mbed-ls: https://github.com/ARMmbed/mbed-ls/pull/299

There's still work to be done in greentea and htrun though.

[2018-02-27 15:33] theotherjimmy commented on #632
@vidavidorra I don't think that exporter creates a map file. You could add the linker flag `"-Wl,-Map=%s"` replacing `%s` with the name of your map file. That would generate the map file for you.

[2018-02-27 17:53] bmcdonnell-ionx commented on #621
@screamerbg, bump.

[2018-02-27 20:58] michaelVisimid commented on #436
The issue still exists with version 1.4. This is pretty easily reproduced and still an issue. After you changed to your test program's directory you should have either run tree to see that the mbed libraries are not downloaded, or added a main.cpp which would have showed you the exact same thing. I'm not quite sure how the recreate steps taken would have recreated the issue as at no point were the

[2018-02-27 21:17] theotherjimmy commented on #436
@screamerbg I think the comment above provides ample steps to reproduce to open this issue.

[2018-02-27 22:58] michaelVisimid commented on #436
mbed-os programs have the same bug.

[2018-02-28 08:55] vidavidorra commented on #632
@theotherjimmy Thanks for your response. I've added the linker flag by adding the following line to my `project.cmake` and that successfully generates a `mbed-os-example-blinky.map` file.

[code]

When I run the memap tool from `mbed-os/tools` I get the following output. There are a lot of unknown objects found.  I've tried both running it using python2 and 3 and tried running it from the root dir

[2018-02-28 14:53] theotherjimmy commented on #632
@vidavidorra That's probably because memap.py assumes that object willl be named `*.o`. It looks like yours are named `*.obj`.

[2018-02-28 15:57] vidavidorra commented on #632
@theotherjimmy Can I do something about the name extension. I haven't changed anything from the default export as described in my initial post.
Manually changing `.c.obj`, `.cpp.obj` and `.S.obj` to `.o` seems to solve the problem and generates the following output (without the unknown object errors).

[code]

Would changing the [regular expression](https://github.com/ARMmbed/mbed-os/blob/master/t

[2018-02-28 16:22] theotherjimmy commented on #632
Sure, that sounds good.

[2018-03-01 08:30] vidavidorra commented on #632
@theotherjimmy I've made the changes and it works great. This should actually be a pull request in [ARMmbed/mbed-os](https://github.com/ARMmbed/mbed-os) as that is where the `memap.py` tool is, do you want me to make a ticket there referring to this ticket?
From which branch do you want me to make the changes and to which branch do you want me to create the pull request?

[2018-03-01 15:33] theotherjimmy commented on #632
@vidavidorra No need to make a new ticket; this one will do fine. From a branch on your fork of mbed-os to mbed-os master.

[2018-03-01 22:04] vidavidorra commented on #632
@theotherjimmy I've made the changes and am ready to make a pull request. The branch I want to mere is [this](https://github.com/withthegrid/mbed-os/tree/feat/cmake_memap), but when I try to create a pull request to ARMmbed/mbed-os/master it shows 400 commits and 1200+ files changed. So I'm not sure whether that's good. The only file I've changed is `memap.py`.
How should I make the pull-request?

[2018-03-02 00:26] theotherjimmy commented on #632
@vidavidorra It looks like your branch is based on a release. Our releases cherry pick bug fixes from master. If you submit a PR against master from a branch based on a release branch, your PR will include the **entire release history** because the commits, while they contain the same contents, have different time stamps and parent commits which causes them to have a different hash.

-----

You ca

[2018-03-02 10:44] geoffrey-vl commented on #629
I've asked our IT departed to completely remove the P: drive mapping and point everything to C:/Users/me. This seems to be okay, whe opening a promt I'm now taken to the home folder instead. However I'm running into issues. When I create a SSH key via Git-bash, and then run `mbed import`, I still get the same behavior as before:

- **non verbose mode**: uses system's default SSH executable
[code]

[2018-03-02 12:00] lfdebrux opened #633 "Should be able to specify profile with configuration file"
I want to enable C++11 for a project.

Right now that means adding the `-std=c++11` flag to a toolchain profile, then adding the profile flag to `mbed compile` every time it is run.

Obviously this could be solved with an alias or a Makefile, but it would be cool if the profile could be saved in the `.mbed` file, like the target and toolchain, so it is remembered and optionally could be pushed to

[2018-03-02 13:57] aschmidt75 commented on #599
I'd love to see standard build envs for mbed.

I'm using https://github.com/aschmidt75/docker-mbed-cli-gcc-arm
but would appreciate a way supported by ARM.

[2018-03-02 14:07] loverdeg-ep commented on #599
@aschmidt75 are you attempting to take the Eclipse Che path?

[2018-03-02 15:15] theotherjimmy commented on #633
That sounds great! @screamerbg This would help enable an easier path to reproduce-able builds for those who depend on a non-default profile. What do you think?

I'm also open to this. FYI, this would involve a PR to the mbed-os repo.

--------

For reference, you may specify `--profile` multiple times. The JSON files will be merged for you.

[2018-03-02 15:20] theotherjimmy commented on #629
Huh, That is strange! Thanks for exploring this more deeply. @screamerbg You may have to install 2 incompatible ssh executables to reproduce this behavior.

[2018-03-02 15:34] geoffrey-vl commented on #629
What I've done is enable the SSH client that's available in Win10 since december last year. Some info on how it can be installed: https://fossbytes.com/enable-built-windows-10-openssh-client/

[2018-03-02 16:56] lfdebrux commented on #633
Yeah, I noticed that! I created a repo https://github.com/RALSpaceASG/test-mbed-cxx11 where I was experimenting with how to use profiles.

Ah good point.

[2018-03-03 16:56] aschmidt75 commented on #599
I don't know about Eclipse's Che path, i'm just using containers for years now for this kind of build system helpers - works quite well.

[2018-03-05 08:00] geoffrey-vl commented on #577
I've been trying to use this feature but it doesn't seem to be working for me at this stage.
Here is the output:

[code]

[2018-03-05 15:19] theotherjimmy commented on #577
Hi @geoffrey-vl,

You can only use tags and hashes in the URL to `mbed add`. That's probably related.

[2018-03-05 22:39] geoffrey-vl commented on #577
Well that's confusing since:

Anyway, from what I can tell using a branch name is indeed not supported, but wouldn't that make a nice feature?

[2018-03-05 23:23] theotherjimmy commented on #577
@geoffrey-vl That depends on what you expect `mbed add` with a branch name to do.

I could see branch name -> current hash in `.lib` file as a nice feature. OTOH, if you want to see branch name -> branch name in `.lib` file, I would veto that: I think it's a footgun as it's opposed to the reproducability that we generally go for. Besides, if you had branch -> hash in `.lib` you could later run `mb

[2018-03-06 03:47] #590 closed

[2018-03-06 08:14] geoffrey-vl commented on #577
Yes I recon branch -> hash would be the better choice as well, that'd be nice and really convenient.

Just thinking out loud here, but maybe it could be the user's choice? Just like we do in Yocto, with Yocto you can use the autoinc option to auto fetch the latest revision. I think you'd only use this when targeting a branch that you control yourselves, otherwise you have no control at all on what

[2018-03-07 10:38] donatieng opened #635 "Document lack of Cygwin support"
Although we have a couple of issues open (#578, #299) referencing this, there is no mention in the docs that Cygwin is not supported:
https://os.mbed.com/docs/v5.7/tools/installation-and-setup.html

It would be great having either a mention in the docs, or (better!) the platform being detected at runtime with a warning such as "running mbed-cli within Cygwin, use at your own risks!".

[2018-03-07 15:16] donatieng opened #636 "Makefiles produced by mbed export don't include full paths to toolchains"
For instance, exporting with `mbed export -i MAKE_ARMC5 -m NUCLEO_F429ZI` will generate a Makefile calling `armcc` directly. If the compiler's location is not present in `PATH`, `make` will fail.

In that case the path configured in the `ARM_PATH` configuration variable should be used in the Makefile.

[2018-03-07 16:09] theotherjimmy commented on #636
@donatieng That's by design. What would we resolve those paths to in the online compiler's export?

[2018-03-07 16:11] theotherjimmy commented on #636
See [the handbook documentation](https://os.mbed.com/docs/v5.7/tools/exporting.html). The Make and Eclipse section calls out this requirement in a NOTE.

[2018-03-07 16:21] cmonr commented on #635
At the very bottom of README.md, this line exists:

"Currently Mbed CLI is not compatible with Cygwin environment and cannot be executed inside it (https://github.com/ARMmbed/mbed-cli/issues/299)."

Are we saying that we don't expect users to read the README, or that we should add more references around the codebase explicitly stating the Cygwin isn't supported?

[2018-03-07 16:22] cmonr commented on #635
Another option would be to somehow trim or split up the current README. Imo, it does seem quite long.

@theotherjimmy @screamerbg

[2018-03-07 17:16] donatieng commented on #635
Yes, it's very far down!
And there is no mention of it in the handbook.

[2018-03-07 17:21] donatieng commented on #636
It's a feature not a bug then ;) thoughI find it counter-intuitive.

Most similar tools include an overridable variable at the start of the Makefile, e.g.:
`TOOLCHAIN_PATH?=/Users/dongar01/toolchains/gcc-arm-none-eabi-6-2017-q2-update/`.

This could be left empty for what's generated by the online compiler. But as a user, I don't care what the online compiler is using under the hood to export and

[2018-03-07 17:51] theotherjimmy commented on #636
If you would like to see that change, could you open an issue on mbed-os?

[2018-03-08 04:58] cmonr commented on #635
@sg- @AnotherButler Looping y'all in.

[2018-03-08 11:18] dhwalters423 opened #638 "Windows installer installs old version of Mbed CLI"
The Windows installer linked here: https://os.mbed.com/docs/v5.7/tools/installing-with-the-windows-installer.html is installing version 1.2.2 rather than the newest version 1.4.

[2018-03-09 22:59] yennster opened #639 "[Feature Request] Serial Monitor"
I would love to see a serial monitor built in as a command line -- option within Mbed CLI.

I am developing for the ESP32 right now and have been using the [esp-idf](https://github.com/espressif/esp-idf) development framework to do a lot of C code debugging for an [Adafruit Huzzah32 Feather](https://www.adafruit.com/product/3405) board. In addition to esp-idf being extremely easy to setup, they al

[2018-03-13 21:14] bmcdonnell-ionx commented on #621
@screamerbg, @theotherjimmy, is there a reason this is still pending?

@screamerbg has had this proposed fix sitting in a branch in his fork for about a month now. It seems fine to me, but IDK if further review is required, who other stakeholders may be, etc. You're not waiting for me to do a PR, are you?

Apparently you're currently in process of releasing v1.5.0, and this didn't make it in. ☹️ M

[2018-03-15 15:44] theotherjimmy commented on #621
I opened #642.

[2018-03-16 16:45] JuricaResetar opened #645 "mbed-cli gcc arm compile problem"
Hi,
I'm trying to use mbed-cli to work with mbed-os offline.

### Description
- Type: Bug
---------------------------------------------------------------
## Bug

**Target**
NRF52_DK

**Toolchain:**
GCC_ARM

**Toolchain version:**
arm-none-eabi-gcc (15:4.9.3+svn231177-1) 4.9.3 20150529 (prerelease)
Copyright (C) 2014 Free Software Foundation, Inc.

**mbed-cli version:**
1.4.0.

**mbed-os sha:**
0b3

[2018-03-16 20:25] screamerbg commented on #645
cc @theotherjimmy @BlackstoneEngineering

[2018-03-17 14:27] JuricaResetar commented on #645
The solution for my problem was to install arm-none-eabi-newlib package.
Please see more info here #6381.

[2018-03-17 14:29] #645 closed

[2018-03-20 17:41] michaelVisimid opened #646 "new --create-only does not download mbed tools"
[code]
Tools copied into the directory manually at this point.

[code]

[2018-03-20 18:39] michaelVisimid opened #647 "new --mbedlib downloads mbed libraries in unusable format for export to SW4STM32"
The fix to the mbedlib not being downloaded on creation is using a directory structure which does not export to SW4STM32 correctly. I have not tested other IDEs.

Project creation and compilation:

[code]
At this point I import the program to SW4STM32 and compile it giving me this failure:
[code]
From here I use the CLI to delete the mbed library and add in mbed-dev. I also deleted the debug folde

[2018-03-20 18:55] theotherjimmy commented on #647
@michaelVisimid Could you provide more detail about the error you encountered. I would really like to see the text of the error itself.

[2018-03-20 19:56] theotherjimmy commented on #646
@michaelVisimid I think `--create-only` is supposed to not download the tools. @screamerbg Could you confirm that this is expected behavior?

[2018-03-20 22:08] michaelVisimid commented on #647
No problem. I've tested the export with Keil and it seems to work no problem. There seems to be something wrong with the exporter and the precompilied mbed libraries.

This path doesn't seem to exist:

Path in question:
[code]

Path where libc.a resides:
[code]
If we goto
[code]
We find libgcc.a

I am a bit busy so I don't have too much more time to look into this. Hopefully this will be enough in

[2018-03-20 22:14] michaelVisimid commented on #646
This is a new change between v4 and 5. In the previous version --create-only downloaded the tools. If it doesn't download the tools libraries cannot be added, program exported, etc. I'm guessing this was not the intended behavior, and if it is my question would be why?

[2018-03-21 15:29] loverdeg-ep opened #648 "Generate a default mbed_app.json with "mbed new" to increase config system awareness"
See [handbook-#462](https://github.com/ARMmbed/Handbook/issues/462#issuecomment-374974978)

It's also one less step the user needs to complete themselves. Step being, lookup name of file to create, mbed_app.json, and the basic syntax to follow.

[2018-03-21 15:45] loverdeg-ep opened #649 "Consider adding an 'mbed new library' command"
### Description
- Type: Enhancement
- Related issue:  [handbook-#462](https://github.com/ARMmbed/Handbook/issues/462#issuecomment-374974978) , #655 , #648
- Priority: Minor

--------------------------------------------------------------

## Enhancement

**Reason to enhance or problem with existing solution**

* There is limited documentation for creating libraries
* There is a lot of unnecessary e

[2018-03-21 15:54] Ruide commented on #516
Hi @adustm ,

I met the same issue. But after I restart my pc, and clear the cache files in .mbed folder, it works around. Hope this information helps you.

[2018-03-21 22:03] theotherjimmy commented on #646
@michaelVisimid I think you're right that it's a new behavior. When you say "v4 and v5" what are you referring to?

[2018-03-21 22:11] theotherjimmy commented on #647
@michaelVisimid Thanks for the logs.

Some comments for later:
 * It looks like the exporter is adding the `-Wl,--wrap__malloc` when it should not be

-------

This is a legacy thing: mbedlib program creation corresponds to Mbed 2, which has always been released as a pre-compiled library. Mbed OS generally refers to Mbed OS 5, which has always been released as source code so that you may configure

[2018-03-22 14:40] michaelVisimid commented on #646
Sorry I was a little distracted when I wrote that. I meant 1.5.0 and 1.4.0. The latest version that pip installs and the previous version that pip installed.

[2018-03-23 10:57] screamerbg commented on #646
@michaelVisimid Yes, that's correct. Starting with Mbed CLI 1.5.0, the Mbed 2 tools are downloaded only if Mbed 2/Classic library is in the source tree. The purpose of these tools is to support Mbed 2/Classic releases. Previously (< v.1.5.0) Mbed CLI would download the Mbed 2 tools tools if even if you import a repository that doesn't contain neither Mbed OS 5 nor Mbed 2/Classic library. This coul

[2018-03-23 10:58] screamerbg commented on #638
@arekzaluski Is it possible to add an option/checkbox to the installer to `[ ] Install the latest Mbed CLI (requires Internet connection)` which effectively invokes `pip install -U mbed-cli` ?

[2018-03-23 10:59] screamerbg commented on #636
Bump @donatieng

[2018-03-23 11:01] screamerbg commented on #635
@cmonr Splitting the README might lead to another problem - "It's in the documentation but I couldn't find it (Ctrl+F)". Perhaps it's a question of shortening some of the Mbed CLI readme content @AnotherButler

Also agreed that this should be in the handbook @AnotherButler

[2018-03-23 11:03] screamerbg commented on #632
@vidavidorra Does this solve your issue?

[2018-03-23 11:05] screamerbg commented on #631
@gorankecman Could you please copy/paste the contents of the mbed.htm from both boards? I remember that there was a batch of boards from Seeed that had an overlapping DEVICE ID.

[2018-03-23 11:08] screamerbg commented on #629
@geoffrey-vl Mbed CLI doesn't invoke SSH at all, rather Git does. The main difference between the 2 commands is the `--progress` and `-v` flags. Could you please try plain `git clone <repo>` and `git clone <repo> --progress -v` and let me know?

[2018-03-23 11:09] screamerbg commented on #628
@janjongboom Mbed CLI 1.5.0 is now release. Could you please install and try to reproduce?

[2018-03-23 11:11] screamerbg commented on #623
Closing due to inactivity. Please reopen if needed

[2018-03-23 11:11] #623 closed

[2018-03-23 11:11] vidavidorra commented on #632
@screamerbg So far yes, I'd like to see the `"-Wl,-Map=${CMAKE_PROJECT_NAME}.map"` in the profile, but that's not a huge deal for now because I use a custom profile at the moment. That seems to be a good solution to me, since it's real easy to create and use a custom profile.

I'm still waiting for ARMmbed/mbed-os#6254 to be merged, but only a little bit related to this issue. I'll close this than

[2018-03-23 11:11] #632 closed

[2018-03-23 11:12] screamerbg commented on #607
Some stuff was introduced to improve `py.test test` in Mbed CLI 1.5.0

[2018-03-23 11:14] screamerbg commented on #507
@arekzaluski What's the status of this?

[2018-03-23 11:14] screamerbg commented on #557
This is now fixed. Thanks for reporting this

[2018-03-23 11:14] #557 closed

[2018-03-23 11:15] screamerbg commented on #566
@Alex-EEE Are you happy to close the ticket if resolved?

[2018-03-23 11:15] #566 closed

[2018-03-23 11:16] screamerbg commented on #552
This is now supported in Mbed CLI 1.5.0. Thanks for the great suggestions!

[code]

[2018-03-23 11:17] #552 closed

[2018-03-23 11:18] screamerbg commented on #475
@amq Does this answer your question?

[2018-03-23 13:09] geoffrey-vl commented on #629
Results:
git clone <repo> => Asks my SSH key
git clone --progress <repo> => Asks my SSH key
git clone --progress -v <repo> => Asks my SSH key
mbed import -v <repo> => Asks my SSH key
mbed import <repo> => Asks credentials

[2018-03-23 14:29] michaelVisimid commented on #646
That makes sense. Thank you for the clarification.

[2018-03-25 20:58] amq commented on #475
@screamerbg the answer to my question is currently "a lot of progress has been made, but it's not possible yet".

[2018-03-26 12:32] arekzaluski commented on #638
@screamerbg  @dhwalters423 Yes, we already have a ticket to support this functionality. I don't know yet the estimated time of arrival for it.

[2018-03-26 12:37] arekzaluski commented on #507
@tz-arm @theotherjimmy @screamerbg This functionality has been implemented in newest version of installer : 0.5.1
Uninstaller removes now both github and mercurial if they were installed using installer.

[2018-03-26 21:10] screamerbg commented on #646
@michaelVisimid are you happy to close the ticket if resolved?

[2018-03-27 14:09] michaelVisimid commented on #646
I think closing the ticket is the correct action.

[2018-03-28 06:52] screamerbg commented on #352
Mbed CLI now provides the following message if USB devices are detected, but the target is not recognized.

[code]

@BlackstoneEngineering @bridadan does this solve the feature request? (bug is already fixed)

[2018-03-28 06:54] screamerbg commented on #274
I believe this is resolved. Please reopen if needed.

[2018-03-28 06:54] #274 closed

[2018-03-28 06:54] screamerbg commented on #298
I believe this is resolved. Please reopen if needed.

[2018-03-28 06:54] #298 closed

[2018-03-28 06:56] screamerbg commented on #312
There's the counter argument where users want to have these files visible (e.g. "I'm on Linux and the .mbed folder is hidden for me"). I'd rather leave this to the user to decide.

Will close the issue but feel free to reopen if needed.

[2018-03-28 06:56] #312 closed

[2018-03-28 06:56] screamerbg commented on #339
I believe this is resolved. Please reopen if needed.

[2018-03-28 06:56] #339 closed

[2018-03-28 06:58] screamerbg commented on #296
It's now documented. Further more, it is possible to configure the path to mbed-os via Mbed CLI config variable #626

[2018-03-28 06:58] #296 closed

[2018-03-28 06:59] screamerbg commented on #341
I believe this is resolved. Please reopen if needed.

[2018-03-28 06:59] #341 closed

[2018-04-03 16:00] Alex-EEE commented on #566
Sorry I didn't close this!  Yes, looks good, thanks for asking!

[2018-04-03 21:15] AnotherButler commented on #635
This has been in the Handbook: https://os.mbed.com/docs/latest/tools/test-and-debug.html

[2018-04-04 14:28] LiyouZhou opened #653 "Progress bar only goes up to 90%"
v 1.5.0 osx Python 2.7.12
[code]

The progress bar above only ever goes up to 90.0% and it disappears at 90.0%.

[2018-04-04 14:33] theotherjimmy commented on #653
@LiyouZhou I think that should be fine, so long as the operation is complete after the progress bar goes away.

[2018-04-04 14:35] linlingao opened #654 "Installation may fail even with sudo due to lack of admin privileges"
While following the example to create a program documented here:
https://os-doc-builder.test.mbed.com/docs/development/tools/working-with-mbed-cli.html
I ran into some warnings:
[code]

I then used sudo to execute "pip install -r requirements.txt", the following error occurred:
[code]
It doesn't seem "sudo" works. I finally ran "Make Me Local Admin" app and succeeded. This should be documented.

[2018-04-04 14:36] theotherjimmy commented on #653
It looks like the last bit is "checking out files" https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L961-L962

@screamerbg This may be a bug with the parsing of that progress.

[2018-04-04 14:38] theotherjimmy commented on #654
@screamerbg I think the recommended use of pip on mac may be to add `--user`. We can document this @linlingao.

[2018-04-10 14:37] loverdeg-ep commented on #648
@theotherjimmy does this belong in mbedOS?

Also, I'm finally starting to lock into my brain the names of mbed_app.json, mbed_lib.json, and the json object sections that go within them. All the previous syntaxes for yotta and whatever else was used since then weren't helping.

However I still consistently need to look up the names of sections.
This enhancement would save me a lot of time, confusio

[2018-04-10 14:42] loverdeg-ep opened #655 "Consider adding "mbed new target" command"
### Description
- Type: Enhancement
- Related issue:  #649 , #648
- Priority: Major

--------------------------------------------------------------

## Enhancement

**Reason to enhance or problem with existing solution**

* There is limited documentation for creating custom targets
* Currently limited support for custom targets
* There is a lot of unnecessary effort required to implement a custom

[2018-04-10 15:34] theotherjimmy commented on #648
@loverdeg-ep This belongs in Mbed CLI.

Agreed, this is probably a good idea.

[2018-04-11 13:59] JanneKiiskila commented on #586
@screamerbg  - can you get this moving, please?

[2018-04-11 14:17] screamerbg commented on #586
This is a build system question.
cc @theotherjimmy @sg-

[2018-04-11 14:51] theotherjimmy commented on #586
This is not something I would like to see. I see this as yet another way that the files in a
build would change.

Could you share that situation?

This is not how the `--app-config` parameter works right now, and I don't know what the `--profile` option is doing in that sentence. The `--app-config` parameter does not pretend that it's argument was found in the root, instead it treats the file spec

[2018-04-12 16:16] coisme opened #656 "mbed publish -h shows wrong URL"
When I ran the command `mbed publish -h`, this message appears.

However, the page not found.

[2018-04-15 17:41] alzix opened #657 "pip 10 support - no attribute get_installed_distributions"
it seems that `pip.get_installed_distributions()` is no longer available in pip 10.

`get_installed_distributions` is reference from https://github.com/ARMmbed/mbed-cli/blob/53f8b113c9b00ecffbf6031cc4b34333b8f52cf7/mbed/mbed.py#L1452
`mbed compile` fails with the following error:
[code]

[2018-04-16 09:25] hug-dev commented on #657
(`python -m pip install pip==9.0.3` to go back to the old version of `pip` that works with `mbed-cli`, safer in a virtual environment, until this gets fixed)

[2018-04-16 12:10] fkjagodzinski commented on #657
I've also run into this bug today and found one thing worth sharing before finding this GitHub issue: https://pip.pypa.io/en/stable/user_guide/#using-pip-from-your-program -- **pip's internal API was never considered stable and should not be used here**. The fix should use other Python module or call pip via the terminal.

[2018-04-16 14:04] theotherjimmy commented on #657
I was looking for that text the other day and could not find it. Thanks @fkjagodzinski

[2018-04-16 14:05] theotherjimmy commented on #657
Based on the link, importing pip is a bug.

[2018-04-19 05:59] JanneKiiskila commented on #657
This needs to be fixed ASAP, because `pip` will nag about this! I did it now, but now stuff is broken and I can't compile anymore. However, downgrading `pip` did not work, either.

[code]

[2018-04-19 08:11] JanneKiiskila commented on #657
Seems I have another package mismatch then as well...

[2018-04-19 20:56] #639 closed

[2018-04-20 15:06] MaartenArits opened #659 "Add python_requires '<3.0' to prevent python 3 issues"
I used pip to install Mbed-cli, by accident it installed under python 3.6. I think using [python_required](https://packaging.python.org/tutorials/distributing-packages/#id54) for distribution would fix this issue. I don't know enough to be sure but hopefully it would prevent this problem in the future.

[2018-04-24 07:59] adamelhakham opened #660 "Issue when several processes use mbed cache in parallel"
Hi,
We have a Jenkins job (on Ubuntu 14.04 machine) that runs `mbed deploy` multiple times in parallel in different directories. In order to speed things up we would like to use the cache feature.
However, occasionally, some of the processes run into the following issue:
[code]

Currently, in order to avoid this issue we turn off the cache feature with `mbed cache off`
Is the cache feature suppose

[2018-04-24 14:52] theotherjimmy commented on #660
@screamerbg We should probably consider this a bug.

-----

The python library [fasteners](https://pypi.org/project/fasteners/) contains interprocess locks to serialize among multiple processes for this purpose. We use them in the mbed-ls [platform database](https://github.com/ARMmbed/mbed-ls/blob/master/mbed_lstools/platform_database.py#L421-L441).

[2018-04-24 19:30] theotherjimmy commented on #660
@screamerbg

That sentence is confusing me. Executing multiple CLIs in parallel is what an interprocess lock would protect against.

[2018-04-25 08:52] jeromecoutant commented on #657
Hi
Any news about this pip issue ?  :-(
Thx

[2018-04-25 12:55] screamerbg commented on #657
Just put up a PR for this, which will fix future compatibility as well. A new version of Mbed CLI will be released to addresses this by the end of today (25th of April)

[2018-04-25 13:02] JanneKiiskila commented on #657
And you mean this PR; https://github.com/ARMmbed/mbed-cli/pull/661

[2018-04-25 15:33] screamerbg commented on #653
@LiyouZhou What version of Git do you use?

[2018-04-27 11:06] screamerbg commented on #657
The Mbed CLI 1.5.1 is now live and addresses this issue. @alzix @JanneKiiskila @hug-dev thanks for the bug report

[2018-04-27 11:07] screamerbg commented on #659
@MaartenArits Thanks for the suggestion! This is now implemented and live in Mbed CLI 1.5.1

[2018-04-27 11:14] JanneKiiskila commented on #657
Thanks for quick fix!

[2018-04-27 11:26] screamerbg commented on #629
@geoffrey-vl I'd like to revive this. I'm still not able to reproduce it on my local setup.

Verbose mode:
[code]

Non-verbose mode:
[code]

There are 2 differences:
* `--progress` is used in non-verbose mode, e.g. when you're wrongly asked about credentials
* the process output is piped (`popen()` vs `pquery()`). Neither of these have anything to do with different git being executed and so on.

B

[2018-04-27 12:33] dellgreen opened #663 "Netbeans export incomplete causing compilation failure"
When exporting mbed-os-example-blinky example to netbeans, the netbeans configurations.xml does not contain the full path to the C preprocessor ('arm-none-eabi-cpp' in my case). All other tools in this xml file are absolute and contain the full path.

Correcting manually the configurations.xml file before opening in netbeans fixes the problem

https://os.mbed.com/teams/mbed-os-examples/code/mbed-o

[2018-04-27 14:30] dellgreen commented on #663
no, using command line tools

[2018-04-27 14:45] theotherjimmy commented on #663
@dellgreen The code that implements the exporters is [here](https://github.com/ARMmbed/mbed-os/blob/master/tools/export/nb/__init__.py) I'll get time to look at this next week.

[2018-04-27 14:46] dellgreen commented on #663
ok great, many thanks :)

[2018-04-28 10:03] screamerbg commented on #656
@coisme Thank you for spotting this! Our web team fixed the URL.

[2018-04-28 10:03] #656 closed

[2018-04-28 10:03] #657 closed

[2018-04-28 10:04] #659 closed

[2018-04-28 10:05] screamerbg commented on #654
@linlingao Thanks for the detailed investigation. Do you think you could send a PR to the documentation so this is mentioned?

[2018-04-28 10:08] screamerbg commented on #653
Just tried it on Git 1.9.5 (Windows), Git 2.2.0 (Windows) and Git 2.10.1 (standard Git on Mac). On all of these I get progress bar between 90% and 100%. @LiyouZhou Please let me know of you Git version so I can reproduce.

[2018-04-28 10:09] screamerbg commented on #638
@arekzaluski Any update on this?

[2018-04-28 10:28] screamerbg commented on #607
The py.test tests have been reduced to about 1:30 minutes with the Mbed CLI 1.5.0 release. Hope that solves the issue. The extended tests that include importing of remote repositories, compile etc, take another 10 minutes, but could be executed separately and primarily exercise other Mbed OS tools like the build system, exporters, supported targets etc.

[2018-04-28 10:28] #607 closed

[2018-04-28 10:35] screamerbg commented on #596
@JanneKiiskila We've recently added wider release tags awareness to Mbed CLI.

Mbed CLI 1.5.1 now shows the release tags per library with the `mbed ls` command, e.g.
[code]

In the case of Mbed OS and mbed-client-mbed-tls, it will list multiple tags if detect.

Does this solve your suggestion?

[2018-04-28 10:36] screamerbg commented on #589
@vkolotov Have you been able to find solution to your question?

[2018-04-28 10:37] screamerbg commented on #588
Bump @theotherjimmy

[2018-04-28 10:39] screamerbg commented on #585
Bump @arekzaluski

[2018-04-28 11:55] screamerbg commented on #653
@LiyouZhou Also could you check the behavior when you import mbed-os? E.g.
[code]

[2018-04-28 13:40] screamerbg commented on #578
@bmcdonnell-ionx I just installed the latest Cygwin 64bit v2.10 from https://cygwin.com/install.html and importing with Mbed CLI works just fine.

From within Cygwin64 Terminal
[code]

Everything works fine except for the output buffering coming from Python itself. It can be disabled by running `export PYTHONUNBUFFERED=1` inside the Cygwin Terminal.

Windows Command Prompt:
[code]

Again, everythi

[2018-04-28 13:45] screamerbg commented on #635
Closing this issue. Let's follow-up in #578 instead. In my environment Cygwin v2.10 (latest) for Windows 10 64bit, Mbed CLI works just fine.

[2018-04-28 13:45] #635 closed

[2018-04-28 13:46] screamerbg commented on #352
Closing this issue as the bug was fixed. Let's follow-up in #578 regarding Cygwin support. In my environment Cygwin v2.10 (latest) for Windows 10 64bit, Mbed CLI works just fine.

[2018-04-28 13:46] #352 closed

[2018-04-28 13:51] screamerbg commented on #578
And here's Mbed CLI import to a non-home dir inside the Cygwin environment (using Windows Prompt)

[code]

Everything worked just fine, including progress bars (the Python buffered issue is present only in the standard Cygwin Terminal app)

[2018-04-29 22:03] sg- commented on #655
Does adding an 'easy command' to Mbed CLI solve the problems stated?

I think if we get to the bottom of these problems, it may or may not be necessary to have Mbed CLI create files for you. Also, what is the benefit from

[2018-04-30 03:08] loverdeg-ep commented on #655
There are 3 distinct "project type" patterns that I, we, have come across  while developing with mbed-cli.

* application Project
* library Project
* custom target/bsp project

`mbed-cli new` covers creation of an "application project" by pulling in mbed-os and whatever else it does

My thinking was that if mbed new defaults to an application project by default `mbed new target` would initialize a

[2018-04-30 13:43] theotherjimmy commented on #588
@bmcdonnell-ionx I have no plans to implement multiple profile support at this time.

[2018-04-30 13:54] bmcdonnell-ionx commented on #578
@screamerbg

I just did the same, and updated Mbed CLI to v1.5.1, but the problem persists for me.

[code]

[2018-04-30 15:00] theotherjimmy commented on #663
This looks intentional: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/nb/__init__.py#L205-L208

@cmens23 Could you comment on this?

[2018-04-30 15:03] bridadan commented on #578
I recently encountered an issue regarding git and cygwin on a Windows machine due to permissions. It eventually boiled down to cygwin's version of `git` was being used in my Windows command prompt (higher up in the system PATH) and caused all cloned files to be inaccessible. I'm curious if something along these lines are happening here.

Might be worth checking which instance of git is being used

[2018-04-30 15:08] bmcdonnell-ionx commented on #578
@bridadan

Looks like Cygwin is using its own `git`.

Windows Command prompt:
[code]

Cygwin:
[code]

[2018-04-30 15:29] bridadan commented on #578
Ah, looks like you might be using this branch? https://github.com/ARMmbed/mbed-cli/pull/642

(log line is here: https://github.com/ARMmbed/mbed-cli/pull/642/files#diff-dad37ed6e3ea3a963df6ff7090c2562fR1184)

Try uninstalling that branch first and reinstalling from pip to see if the issue is resolved.

[2018-04-30 15:41] bmcdonnell-ionx commented on #578
@bridadan

Yes. I merged `1.5.1` into it, and installed from source (`python setup.py install`).

How?

[2018-04-30 16:19] bridadan commented on #578
[code]

That should do the trick

[2018-04-30 16:40] bmcdonnell-ionx commented on #578
It hangs, and does not uninstall.

[code]

Should pip still be able to uninstall what was installed from source (i.e. not via pip)?

[2018-04-30 16:47] bridadan commented on #578
Yeah it definitely should be able to uninstall. I'm afraid I don't know how to help on this one, this problem seems pretty specific to your environment. You may try uninstalling it from outside of cygwin, but that may cause more issues. But I think its probably safe to say the uninstall issue is not a problem with mbed-ls specifically.

[2018-05-02 21:50] bmcdonnell-ionx commented on #578
I uninstalled Mbed CLI by deleting its files from `c:\Python27\Lib\site-packages` and `c:\Python27\Scripts`. I reinstalled version 1.5.1 via `pip`.

I also [uninstalled Cygwin](https://cygwin.com/faq/faq.html#faq.setup.uninstall-all), and reinstalled by running `setup-x86_64.exe --no-admin` from a Windows 10 command prompt.

**The problem persists.**

I included Python 2 & 3 in my Cygwin install.

[2018-05-08 12:40] gorankecman commented on #631
@screamerbg Sorry for the late response, I was working with another IC lately, and I didn't have the board with me for some time. Now it is back.
Again, when I execute the following command, I get the output given below:
[code]
The output of mbed.htm file is given below:
[code]

[2018-05-09 09:51] melvinvdb commented on #589
I'm having the same issue.
Reproduces using the ble_led example with command
`mbed compile --target NRF51_DK_BOOT --toolchain GCC_ARM -v`

results in:
`[DEBUG] SoftDevice file found s130_nrf51_1.0.0_softdevice.hex.
[DEBUG] Bootloader file found s130_nrf51_1.0.0_bootloader.hex.
[DEBUG] Merge SoftDevice file s130_nrf51_1.0.0_softdevice.hex
[DEBUG] Merge BootLoader file ./mbed-os/features/FEATURE_BLE

[2018-05-09 16:05] theotherjimmy commented on #589
@screamerbg I can reproduce this issue. I'll look into it while I'm thinking about it.

[2018-05-11 19:52] bmcdonnell-ionx commented on #621
Do you normally close issues when the fix has been merged, or released?

ETA on the release?

[2018-05-13 09:20] oneway3124 opened #669 "When I use mbed tools for my experiment, there is some errors as follows."
![i
mage](https://user-images.githubusercontent.com/3787176/39965746-9ed522b6-56d1-11e8-9a53-03a14b7c8e5c.png)
[code]

[2018-05-13 12:58] screamerbg commented on #669
Hello. This is caused by breaking changes in pip10. Please update mbed CLI to latest (1.5.1) or pip to version 9 or below.

[2018-05-14 09:07] oneway3124 commented on #669
OK, I will try it .

[2018-05-14 09:25] oneway3124 commented on #669
![image](https://user-images.githubusercontent.com/3787176/39989014-77e492de-579b-11e8-9a6f-39c1b23cbd97.png)
Hello , the pip version has been down to 9.0.0, and the mbed-cli is 1.1.1, but the error information donot change . How to do it in the next step?
Try pip version 10 and mbed cli 1.5.1 later?

[2018-05-14 09:26] oneway3124 commented on #669
reopen it

[2018-05-14 14:36] #351 closed

[2018-05-14 16:03] bridadan commented on #669
Yup, please go ahead and update both packages. You seem to be on a pretty old version of mbed-cli any way, so updating both to the latest is probably a good path forward. Let us know if you run into any other issues!

[2018-05-14 16:07] oneway3124 commented on #669
C:\Users\Administrator\Desktop\ML-KWS-for-MCU\Deployment>mbed new kws_simple_tes
t --mbedlib
[mbed] Creating new program "kws_simple_test" (git)
[mbed] Adding library "mbed" from "https://mbed.org/users/mbed_official/code/mbe
d/builds" at latest revision in the current branch
[mbed] Updating reference "mbed" -> "https://mbed.org/users/mbed_official/code/m
bed/builds/tip"
warning: LF will be replac

[2018-05-14 16:09] oneway3124 commented on #669
"xxx might take a minute " actually cost about one hour, I donot know why?

[2018-05-14 16:16] bridadan commented on #669
That step will depend greatly on your internet connection speed. I don't know the exact size of that library but I think its quite large.

But it sounds like mbed-cli is now functioning correctly for you? If that's the case, would you mind closing this issue? If you encounter other problems, feel free to raise a different issue!

[2018-05-15 14:56] JanneKiiskila opened #670 "mbed cli - compile - module size output failing"
The module size printout is failing with Mbed OS 5.7.6 (and 5.8.0).

`mbed cli` version 1.5.1.

Repro steps
[code]

Correct output

[code]

just change the Mbed OS to a newer version.

[code]

and you get this instead of the correct output.

[code]

Seems to me the parsing is somehow failing when the Mbed OS is updated.

[2018-05-15 15:05] JanneKiiskila commented on #670
Tried deleting the `BUILD` folder completely to avoid some "left-behind" things, but that doesn't help either.

[2018-05-15 15:56] screamerbg commented on #670
@cmonr and @theotherjimmy can provide more information on this

[2018-05-15 16:03] screamerbg commented on #670
@JanneKiiskila what about one of the least mbed OS 5.8?

[2018-05-15 16:28] cmonr commented on #670
@JanneKiiskila This particular problem was fixed with 5.7.7.

A PR was mistakenly merged into mbed-os because oddly enough there's no test to verify that the compiled output structure does not change.

Can you share the steps you did to test this with 5.8.0, because as it stands, I actually can't compile the example with mbed-os checked out to `mbed-os-5.8.0`, and want to know how you verified thi

[2018-05-16 05:44] oneway3124 commented on #669
If the exact size of that library is quite large , can I download it manually?

[2018-05-16 05:48] oneway3124 opened #671 "mbed import issue"
C:\Users\dav>mbed --version
1.5.1

C:\Users\dav\Desktop>mbed import https://os.mbed.com/teams/mbed/code/mbed_blinky
/
[mbed] Importing program "mbed_blinky" from "https://os.mbed.com/teams/mbed/code
/mbed_blinky" at latest revision in the current branch

[mbed] Adding library "mbed" from "https://os.mbed.com/users/mbed_official/code/
mbed/builds" at rev #aa5281ff4a02
[mbed] Downloading library bui

[2018-05-16 07:47] oneway3124 commented on #671
I think that this issue is an network issue, because this package of 300MB can be download by me quickly.
So the mbed.py create some error.

[2018-05-16 08:27] JanneKiiskila commented on #670
Just tried `mbed-os-5.8.0` and it's OK.

[2018-05-16 08:29] #670 closed

[2018-05-16 20:30] loverdeg-ep commented on #655
@sg- in this particular case, that being a "BSP project", no files with a main function would exist outside the TESTS directory.

It would be very similar to creating a target folder inside of "mbedOS/targets/TARGET_X/..." except:

* The target implementation folder resides outside of mbedOS
* mbedOS is included as an mbed .lib or git submodule in order to bring in mbedOS/tools and the rest of mbe

[2018-05-17 18:44] screamerbg commented on #628
Bump @janjongboom

[2018-05-17 18:46] screamerbg commented on #621
@bmcdonnell-ionx The release is now live. Mbed CLI 1.6.0. Thanks for your help and patience on this major change to Mbed CLI to support arbitrary URLs.

[2018-05-17 18:46] screamerbg commented on #621
Feel free to close the issue if this is now resolved for you

[2018-05-17 18:47] screamerbg commented on #653
Bump @LiyouZhou

[2018-05-17 18:48] bmcdonnell-ionx commented on #621
Thanks, @screamerbg!

[2018-05-17 18:48] #621 closed

[2018-05-17 18:52] #619 closed, assigned to nobody

[2018-05-21 11:25] RomanSaveljev opened #673 "mbed-cli should list compatible pip version as a dependency"
Through the hardship we have learned about https://github.com/ARMmbed/mbed-cli/blob/66f734d1cfb889a1f09e577d61e53c3006e3fcaf/README.md#mbed-cli-and-pip-compatibility, however for the better user experience, I think, it would be more useful, if its compatible version subset was included to `install_requires` in the `setup.py`. Then, possibly, pip itself would warn us, if we try to break the compati

[2018-05-21 21:31] cmonr commented on #671
@oneway3124 Could you post the output of the command when you run it with `-vv` ?

[2018-05-21 21:32] cmonr commented on #673
Hmm... So on the one hand, I completely agree, but with release 1.6.0, the pip issue has been resolved. And as far as I know, the fix is backwards compatible across older pip versions.

@screamerbg Thoughts on adding pip version to setup.py?

[2018-05-22 03:40] oneway3124 commented on #671
@cmonr I has tried to use your github code, as the following
https://github.com/cmonr/mbed-os-example-wifi
![image](https://user-images.githubusercontent.com/3787176/40340968-cfeb129a-5db4-11e8-947c-e5f66e89bb2f.png)
Is it ok?

[2018-05-22 05:37] teetak01 commented on #673
If definately should be improved. There is no guarantee that it would not break again later, or break a bit differently in future.

[2018-05-22 08:35] trianglee commented on #660
@screamerbg Is there an update on this issue? We are suffering terrible performance (and large network utilization) due to lack of cache in our automation tasks.

[2018-05-22 10:14] JanneKiiskila commented on #660
This should get high priority, this will impact our Jenkins jobs quite heavily, too.
We can't use the cache feature at all, until this is resolved.

[2018-05-22 13:45] screamerbg commented on #673
@teetak01 Agreed and following that thought, all requirements.txt in Mbed OS should be updated to limit to major releases of Python dependencies they have. As you said, there's no guarantee that they won't break in the future.

cc @cmonr @theotherjimmy

[2018-05-22 13:48] screamerbg commented on #660
@adamelhakham Could you try the `f/thread_safety`branch on my fork - https://github.com/screamerbg/neo/tree/f/thread_safety ?

[2018-05-22 19:55] cmonr commented on #671
@oneway3124 `-vv` is meant to be appended to the command as an additional parameter.

So instead of running `mbed import mbed-os-example-wifi`, the command would be `mbed -vv import mbed-os-example-wifi`

[2018-05-23 08:44] oneway3124 commented on #669
Maybe the information is resulted from the "mbed deploy".

![image](https://user-images.githubusercontent.com/3787176/40413467-74dd6bba-5ea8-11e8-9b08-5d0112d4b1b7.png)
@bridadan @screamerbg

[2018-05-24 04:27] oneway3124 commented on #671
I has done successfully now.

[2018-05-24 04:27] #671 closed

[2018-05-24 16:33] adamelhakham commented on #660
@screamerbg I ran the script I provided for a few hours and the issue did not appear. with the 1.5 mbed-cli it is reproduced within 10-20 minutes so it seems that the issue could have been successfully fixed.
Next week I will integrate your branch into our CI so that we can it better..
I will keep you posted. Thanks!

[2018-05-24 16:41] screamerbg commented on #660
@adamelhakham Great! Please let me know so we can plan a patch release with this fix.

[2018-05-24 21:02] jflynn129 opened #676 "Adding compile/link compiler flags/options"
Is there a way to add compile options to targets?  For example, if I want to compile with -finline-small-functions or -fprefetch-loop-arrays how can I add those flags to the compiler?  Is it in the mbed_app.json file somewhere?

[2018-05-24 21:23] theotherjimmy commented on #676
@jflynn129 See https://github.com/ARMmbed/Handbook/blob/new_engine/docs/tools/offline/toolchain_profiles.md

[2018-05-25 06:40] WonderMr commented on #657
For pip 10 use `from pip._internal.utils.misc import get_installed_distributions`

[2018-05-25 08:56] dellgreen commented on #663
anyone else know why this may be?

[2018-05-25 14:20] theotherjimmy commented on #657
@WonderMr That's pretty internal sounding. We don't want to rely on internals.

[2018-05-25 21:17] amq opened #677 "v1.7.0 is broken on Python 2"
When `v1.7.0` got released today, my CI builds started to fail with:

[code]

`Dockerfile` to replicate the issue:

[code]

[2018-05-25 21:29] amq commented on #677
Strangely, Python 3 also doesn't seem to work:

[code]

[code]

[2018-05-25 21:37] theotherjimmy commented on #677
@amq It looks like we're depending on the `future` package in pip, but it was not added to the dependencies in setup.py.

[2018-05-25 21:37] theotherjimmy commented on #677
As a workaround you should be able to pip install future.

[2018-05-25 21:42] amq commented on #677
Installing future fixes the problem.

[2018-05-25 23:50] amq commented on #677
There is a different problem when building:

[code]

[2018-05-26 08:31] screamerbg commented on #677
cc @cmonr

[2018-05-26 09:16] screamerbg commented on #677
@amq Thanks for the bug report. I've immediately reproduced the issue by removing `future`. I've also reissued a hotfix - #678 and published the Mbed CLI 1.7.1 release. Could you please update your Mbed CLI to 1.7.1 and let me know whether Python 2 is still broken for you?

[2018-05-26 09:29] screamerbg commented on #578
@bmcdonnell-ionx Apologies for the late reply. I've somehow missed this.

`which python` returns:
[code]

This is on Windows 10, where Python has been installed as a native application.

I'm not sure how your python is under `/usr/bin/`. How did you set up your cygwin box so python appears as a native cygwin app?

[2018-05-26 09:31] screamerbg commented on #536
@RobMeades @fahim-ublox Did you find answer to your question, and do you think this need further discussion?

[2018-05-26 09:32] screamerbg commented on #527
@arekzaluski @rspelta Is this still an issue?

[2018-05-26 09:35] screamerbg commented on #520
@Luka234 Can you add `mbed sync` after step 3 and let me know if this fixes your problem?

[2018-05-26 09:36] screamerbg commented on #586
Bump @JanneKiiskila

[2018-05-26 09:47] screamerbg commented on #577
@sg- The suggestion is to enable #branch/tag specifier to `mbed add` and `mbed import`, e.g. `mbed import https://github.com/ARMmbed/sd-driver#master_update`.  The .lib files will contain the actual hash of the specified branch/tag name. What do you think?

[2018-05-26 09:48] screamerbg commented on #571
Since Mbed CLI 1.5.0 and the introduction of the `mbed cache` feature, the default cache storage location is under the user home directory and essentially guarded by the default permission of the user home dir. I believe this satisfies the requirement.

[2018-05-26 09:48] #571 closed

[2018-05-26 09:50] screamerbg commented on #559
@AnotherButler Could you please discuss with @theotherjimmy what's the right explanation/terminology for the `--no-archive` option?

[2018-05-26 09:59] screamerbg commented on #630
@thinkberg @theotherjimmy Mbed CLI now has a serial terminal feature (#664). Perhaps this is something that could be added to the serial terminal hooks and enable runtime memtrace functionality? Note that Mbed CLI does not have any external python dependencies, so the pygtail dependency should be somehow workarounded.

[2018-05-26 10:07] screamerbg commented on #669
@oneway3124 Here's how you could download it manually.
Step 1. Go to Mbed OS 2 releases and choose a revision - https://os.mbed.com/users/mbed_official/code/mbed/graph/
Step 2. Click on revision of your choice, e.g. https://os.mbed.com/users/mbed_official/code/mbed/rev/4f6c30876dfa/
Step 3. In the URL, change `rev` to `archive` and append `zip`, e.g. From https://os.mbed.com/users/mbed_official/co

[2018-05-26 10:09] screamerbg commented on #647
Closing due to inactivity. Please reopen if this is still an issue.

[2018-05-26 10:09] #647 closed

[2018-05-26 10:09] #646 closed

[2018-05-26 10:11] screamerbg commented on #617
@sg- There are already doxyfiles inside Mbed OS that could be used as a default template for doxygen. What do you think?

[2018-05-26 10:12] screamerbg commented on #601
Python 3 support is now available as of Mbed CLI 1.7. Thanks for your contribution!

[2018-05-26 10:12] #601 closed

[2018-05-26 10:16] screamerbg commented on #598
@AnotherButler Could you please check with @janjongboom about some sort of cross platform `pip install` section in the documentation?

It seems that we have 3 cases:
* Windows - `pip install` works just fine
* Linux - `pip install` may work fine, but often it requires `sudo`, e.g. `sudo pip install`
* Mac - `pip install` often doesn't work, `sudo pip install` works well for manually installed Pyth

[2018-05-26 10:17] #568 closed

[2018-05-26 10:18] screamerbg commented on #560
@cmonr With the `mbed cache` feature now being default, do you still think we need this?

[2018-05-26 10:19] screamerbg commented on #547
@j3270 Did you find answer to your question? Are you happy to close this issue if resolved for you?

[2018-05-26 10:36] thinkberg commented on #630
Actually, pygtail was just a workaround due to buffering issues. If the mbed cli serial can pipe its data into a stream it would be simple to make it work.

[2018-05-26 10:39] thinkberg commented on #630
If you give me a hint where to integrate (where are the serial terminal hooks?), I can port it to be part of the cli.

[2018-05-26 10:44] #516 closed

[2018-05-26 10:46] screamerbg commented on #456
I think that this was related to the experimental (back then) mbed CLI caching feature. I suppose this is not longer an issue with Mbed CLI 1.7.1 (latest). Closing as there was no activity on this thread for a while, but feel free to reopen if the issue still exists.

[2018-05-26 10:46] #456 closed

[2018-05-26 10:49] screamerbg commented on #437
The build directory is now automatically ignored https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L2489. Please reopen if the issue still exists.

[2018-05-26 10:49] #437 closed

[2018-05-26 11:26] screamerbg commented on #436
@michaelVisimid @eavelardev I managed to reproduce the issue. Fix is on its way.

[2018-05-26 11:31] screamerbg commented on #436
@eavelardev @michaelVisimid PR #680 is now available which address this issue. Could you please try it and let me know if that fixes it for you as well?

[2018-05-26 11:32] screamerbg commented on #507
@arekzaluski Thank you!

[2018-05-26 11:32] #507 closed

[2018-05-26 11:35] screamerbg commented on #430
@maclobdell We should add some documentation to point out that Mbed CLI "prefers" `origin` remote and therefore you should change the "origin" URL if you're pulling from a fork. Is this something you could look at with perhaps @AnotherButler ?

[2018-05-26 11:38] screamerbg commented on #421
@adustm Could you please update your Mbed CLI to the latest version (1.7.1) and then run the following commands
[code]

Please let me know if that fixes your problem

[2018-05-26 11:39] screamerbg commented on #415
@jahess Is this still an issue?

[2018-05-26 11:40] screamerbg commented on #409
I'll second @bridadan. @janjongboom I'll close the issue as there wasn't any activity for some time, but please reopen or create new with proposal how this could work as a workflow.
@BlackstoneEngineering

[2018-05-26 11:40] #409 closed

[2018-05-26 11:42] screamerbg commented on #389
@kubaraczkowski Is this still an issue with Mbed OS 5.8? @stevew817

[2018-05-26 11:43] screamerbg commented on #387
Now implemented. Thanks @adbridge !

[2018-05-26 11:43] #387 closed

[2018-05-26 11:44] #377 closed

[2018-05-26 11:44] screamerbg commented on #376
It does starting from Mbed CLI 1.7.1. Note that this requires the latest Mbed OS (5.9)

[2018-05-26 11:44] #376 closed

[2018-05-26 11:46] #266 closed

[2018-05-26 11:47] #264 closed

[2018-05-26 11:49] screamerbg commented on #227
Mbed CLI 1.5 and onwards (1.7.1 is the latest as I'm writing this) has a default caching feature. Hopefully this address the long import times concerns. Closing this issue as it's very old but feel free to reopen if you feel that the caching feature doesn't solve your issue.

[2018-05-26 11:49] #227 closed

[2018-05-26 11:51] screamerbg commented on #218
There is already Windows installer. and @BlackstoneEngineering is working on Mac installer. @MarceloSalazar are you happy to write a new feature requirement for installers that bundle up Mbed CLI, python modules, git, hg, and latest Mbed OS for pre-cached operation. cc @arekzaluski about having Mbed OS git index as part of the installer which can be used as pre-populated cache.

[2018-05-26 11:51] #218 closed

[2018-05-26 11:54] screamerbg commented on #136
Now implemented and available in the official versions of Mbed CLI

[2018-05-26 11:54] #136 closed

[2018-05-26 15:05] amq commented on #677
Python 2 is fine now.

Python 3 problem remains.

[2018-05-26 15:54] cmonr commented on #560
OH. Forgot this was still open.

This can be closed. The crux of my problem was Shared Directory performance in VirtualBox.
But I agree that now that caching is a thing, things should be much faster.

[2018-05-26 15:54] #560 closed

[2018-05-26 17:05] cmonr commented on #677
@amq Interesting. Looks like there are still some tools in mbed-os that I missed.

I'll fix the issue and make a commit in the mbed-os repo, and ask if you can verify the fix.

[2018-05-26 21:30] cmonr commented on #677
Closing this here, and moving this to https://github.com/ARMmbed/mbed-os/issues/7026 since the issue is now focused around an mbed-os tool.

[2018-05-26 21:30] #677 closed

[2018-05-27 03:27] bmcdonnell-ionx commented on #578
I installed python from the Cygwin setup-x86_64.exe, like any other package.

I do also have python installed natively on Windows, though my Cygwin apparently isn't using that.

[2018-05-27 03:34] theotherjimmy commented on #559
@screamerbg @AnotherButler I think I did this a while back: https://github.com/ARMmbed/Handbook/pull/394

@tz-arm Does the current documentation answer your question?

[2018-05-29 09:32] adamelhakham commented on #660
@screamerbg
We now encounter the following error sometimes:
`[mbed] ERROR: Cache lock file exists with a different pid ("12822" vs "12727")`
Do you know why?
Thanks!

[2018-05-29 14:07] theotherjimmy commented on #630
@thinkberg The file you're looking for is: https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed_terminal.py

Let us know if you have any questions.

[2018-05-29 14:09] theotherjimmy commented on #617
@screamerbg @geky  See the [`cargo doc` documentation](https://www.mankier.com/1/cargo-doc) for an instance of prior work. @screamerbg @sg- and I would have to work out what is appropriate behavoir for a `doc` subcommand.

[2018-05-29 14:43] bridadan commented on #537
That seems reasonable honestly, and I bet a lot of folks would appreciate that.

@theotherjimmy how do you feel about that?

[2018-05-29 14:43] thinkberg commented on #630
I will take a look, thanks.

[2018-05-29 15:09] theotherjimmy commented on #537
Sounds like a workable plan to me.

[2018-05-30 20:39] DougAnsonAtARM opened #683 "mbed-cli complains about python package requirements when they are already satisfied..."
On my Mac, running 10.13.4 with brew installed, I am unable to convince mbed-cli v1.7.1 that the prerequisite packages needed (and called out in mbed-os/requirements.txt) are all installed and available.. each invocation of mbed-cli results in mbed-cli trying to (and failing for some unknown reason) to rectify those requirements...

I have installed python 2.7.15 via brew and access it in /usr/loc

[2018-05-31 02:29] flipflop22 opened #684 "Export issue: 'izip' is not found"
Hi I tried to export mbed-os-example-wifi using this command
`mbed export -i eclipse_gcc_arm -m UBLOX_EVK_ODIN_W2 --profile mbed-os/tools/profiles/debug.json`
then I always get this error,
`[mbed] ERROR: Unknown Error: global name 'izip' is not defined
---`

[2018-05-31 06:27] AriParkkila commented on #684
It seems to be broken in the latest release. As a workaround, you can downgrade to working version, e.g.:
pip install mbed-cli==1.6

[2018-05-31 08:02] kubaraczkowski commented on #389
I can't comment on this anymore I'm afraid...

On Sat, May 26, 2018 at 1:42 PM Mihail Stoyanov <notifications@github.com>
wrote:

[2018-05-31 09:54] flipflop22 commented on #684
Right. I also just found it

[2018-05-31 09:55] #684 closed

[2018-05-31 12:29] mudassar-ublox commented on #536
@screamerbg and @bridadan thanks, It worked for us by overriding "greentea_failure_handler" function.

[2018-05-31 16:51] ansondtx20 commented on #683
Also... Feature request: It would be great if we could have an option in mbed-cli that would enable me to see the full paths that mbed-cli is using in my install for python and pip... which binaries are being referenced?  Thanks!

[2018-06-01 12:33] drahnr opened #685 "custom_targets.json overwrites are not taken into account"
mbed-os 5.7

`custom_targets.json`

[code]

Still has `S132` defined as compilation parameter. `SOFTDEVICE_PRESENT` on the other hand is removed successfully by this setup.

This is also true if this chunk is appended to `mbed-os/targets/targets.json`

---

Workaround - remove the macro it in the `mbed_app.json`:
[code]
which defeates the prupose of using a `custom_targets.json`

[2018-06-01 15:14] theotherjimmy commented on #685
https://github.com/ARMmbed/mbed-os/blob/mbed-os-5.7/targets/targets.json#L3454-L3499

Is the offending target definition. It looks like you should be able to remove S132 from the macros, and if SOFTDEVICE_PRESENT is correctly removed, then that should be too.

[2018-06-01 17:42] drahnr commented on #685
But that is exactly the point - S132 is not removed when done within a `custom_target.json` target definition. It works fine within an `mbed_app.json`

[2018-06-01 19:30] theotherjimmy commented on #685
@drahnr Does it only affect `S132`? is there any other macro that behaves similarly? If there is we might have a pattern here. Further, any fixes for this behavior (supposing that there is a bug) will come to 5.9.0 or later.

[2018-06-02 09:40] MarceloSalazar opened #686 "Traceback error when using v1.7.2 + Python 3"
Mbed CLI v1.7.2 supports Python 3
This is expected to work well when using Mbed OS 5.9+

However, for those users of Mbed OS 5.8 and earlier versions, there is a really bad traceback error when attempting to compile.

[code]

This is a serious problem for workshops and training events where we continue to use Mbed OS <= 5.8.

**The proposed solution** : catch the error and display a message that P

[2018-06-03 00:52] cmonr commented on #686
@MarceloSalazar Thanks for opening up an issue to discuss the technical aspects of the fix.

That's an interesting solution. I'm not a fan of unconditionally blaming Python 3 because it creates the implication that all cli errors are caused by the Python 3 backwards compatibility issues. _However_, I would be open to printing a message _asking_ user verify their version of Mbed OS is Python 3 comp

[2018-06-03 10:08] screamerbg commented on #686
@cmonr Agreed with you concerns and suggested approaches. I thought that you added warning when mbed CLI is running with python 3?

[2018-06-03 13:35] jenia81 commented on #660
@screamerbg can you help @adamelhakham with his question?

[2018-06-03 17:55] cmonr commented on #686
@screamerbg That's the weird thing. I very clearly recall adding a warning, but looking at my personal branch's commit history, it looks like it didn't get committed.

@MarceloSalazar AH! Thanks for the link. That's the bit that I was missing. I thought they only way to read out Mbed OS' version was through git.

On Monday, I'll look into doing one or the other, either reading the file, or catchin

[2018-06-03 19:10] screamerbg commented on #686
@cmonr Let's not get ahead of ourselves. Firstly, mixing code, build system and CLI to determine python 3 compatibility sounds wrong. There are other ways to achieve this. Also this functionality was originally planned and the fact that it didn't land in mbed CLI 1.7 is the main reason for this bug report / feature request to exist. Let's fix that first.

[2018-06-04 09:49] drahnr opened #687 "Duplicate linker files - unhelpful error message"
[code]
when I accidentally had two linker files in my project directory.

[code]

[2018-06-04 11:06] MarceloSalazar commented on #528
This continues to be a problem when not having the latest mbed-ls version installed.
Another example: https://github.com/ARMmbed/mbed-os-example-cellular/issues/70

Again, Mbed CLI/OS should check that the latest versions of the required tools are installed, if not, attempt to install it.

[2018-06-04 13:50] MarceloSalazar opened #688 "[mbed] ERROR: Unknown Error: __init__() should return None, not 'bool'"
New error is shown when attempting to program the platform with a terminal application already connected: "[mbed] ERROR: Unknown Error: __init__() should return None, not 'bool'"

Mbed CLI 1.7.2

Steps to reproduce:
[code]

[2018-06-04 14:37] theotherjimmy commented on #686
Several thoughts:

Version detection of mbed OS it hard @MarceloSalazar : mbed.h is all 0's on master; versions are commits that don't exists on master.

Let's not do version detection when it might work, only when it has already failed. Even then, I'm not sure we should be doing version detection.

@screamerbg Most of this work was about getting python 3 support in Mbed OS and it's dependencies.

[2018-06-04 14:41] theotherjimmy commented on #687
@drahnr Yep see https://github.com/ARMmbed/mbed-os/pull/6914

[2018-06-04 14:43] theotherjimmy commented on #688
@MarceloSalazar Yep bug.

[2018-06-04 14:56] cmonr commented on #686
Fyi: https://github.com/ARMmbed/mbed-cli/pull/689

[2018-06-04 20:11] cmonr commented on #686
Moving the conversation back here about the second part of the original suggestion.

Is there anything we could do in CLI to catch the trace back for this particular use case?

Specifically which error? The exception that causes the traceback, or the usability issue? If a user were to use the latest Mbed CLI version (assuming #689 is merged and released) and a user uses Mbed OS v5.8 (for example),

[2018-06-04 22:03] MarceloSalazar commented on #686
@cmonr I get your point and understand the interest not to add specific code to catch the traceback.

Considering that the warning will be printed before the traceback, it should be OK to give the user a hint on where the problem is coming from.

Apart from detecting the version of Mbed OS (and @theotherjimmy already commented the inconveniences) I can't think of anything else.

I'll consider this

[2018-06-05 03:42] maclobdell commented on #430
ah, I see.  I thought that it could figure out which remote you want to specify based on if you have a specific remote/branch checked out, but I guess that isn't possible.   I agree this would be good to document.  Perhaps also this could be mentioned in the help for mbed sync (mbed sync -h).

[2018-06-05 12:51] melvinvdb commented on #589
Changing `binh.merge(blh)` to `binh.merge(blh, overlap='replace')` in mbed-os/tools/targets/__init__.py seems to solve this issue.
It is kind of weird because the hex files do not overlap (checked in hex editor).

[2018-06-05 14:11] theotherjimmy commented on #589
@melvinvdb Yeah, it might be that both files have a start address, which will conflict and generate overlap errors.

[2018-06-06 00:46] imsherlock opened #692 "Export make_gcc_arm error with v1.7.2 + Python 3"
Using `mbed export -i make_gcc_arm` with Python 3 for the K82F target results in the following Runtime Error:

[code]

[2018-06-06 14:00] theotherjimmy commented on #692
https://github.com/ARMmbed/mbed-os/pull/7092 Should have fixed that error. Are you using mbed-os 5.9.0-rc2?

[2018-06-06 15:49] ciarmcom commented on #692
ARM Internal Ref: MBOTRIAGE-439

[2018-06-06 15:49] ciarmcom commented on #688
ARM Internal Ref: MBOTRIAGE-440

[2018-06-06 15:49] ciarmcom commented on #686
ARM Internal Ref: MBOTRIAGE-441

[2018-06-06 15:49] ciarmcom commented on #685
ARM Internal Ref: MBOTRIAGE-442

[2018-06-06 15:50] ciarmcom commented on #683
ARM Internal Ref: MBOTRIAGE-443

[2018-06-06 15:50] ciarmcom commented on #669
ARM Internal Ref: MBOTRIAGE-444

[2018-06-06 15:50] ciarmcom commented on #663
ARM Internal Ref: MBOTRIAGE-445

[2018-06-06 15:50] ciarmcom commented on #660
ARM Internal Ref: MBOTRIAGE-446

[2018-06-06 15:50] ciarmcom commented on #654
ARM Internal Ref: MBOTRIAGE-447

[2018-06-06 15:50] ciarmcom commented on #653
ARM Internal Ref: MBOTRIAGE-448

[2018-06-06 15:50] ciarmcom commented on #631
ARM Internal Ref: MBOTRIAGE-449

[2018-06-06 15:50] ciarmcom commented on #629
ARM Internal Ref: MBOTRIAGE-450

[2018-06-06 15:50] ciarmcom commented on #624
ARM Internal Ref: MBOTRIAGE-451

[2018-06-06 15:50] ciarmcom commented on #615
ARM Internal Ref: MBOTRIAGE-452

[2018-06-06 15:50] ciarmcom commented on #614
ARM Internal Ref: MBOTRIAGE-453

[2018-06-06 15:50] ciarmcom commented on #589
ARM Internal Ref: MBOTRIAGE-454

[2018-06-06 15:50] ciarmcom commented on #547
ARM Internal Ref: MBOTRIAGE-456

[2018-06-06 15:50] ciarmcom commented on #536
ARM Internal Ref: MBOTRIAGE-457

[2018-06-06 15:50] ciarmcom commented on #527
ARM Internal Ref: MBOTRIAGE-458

[2018-06-06 15:50] ciarmcom commented on #520
ARM Internal Ref: MBOTRIAGE-459

[2018-06-06 15:50] ciarmcom commented on #475
ARM Internal Ref: MBOTRIAGE-460

[2018-06-06 15:50] ciarmcom commented on #472
ARM Internal Ref: MBOTRIAGE-461

[2018-06-06 15:51] ciarmcom commented on #442
ARM Internal Ref: MBOTRIAGE-462

[2018-06-06 15:51] ciarmcom commented on #436
ARM Internal Ref: MBOTRIAGE-463

[2018-06-06 15:51] ciarmcom commented on #430
ARM Internal Ref: MBOTRIAGE-464

[2018-06-06 15:51] ciarmcom commented on #421
ARM Internal Ref: MBOTRIAGE-465

[2018-06-06 15:51] ciarmcom commented on #407
ARM Internal Ref: MBOTRIAGE-466

[2018-06-06 15:51] ciarmcom commented on #389
ARM Internal Ref: MBOTRIAGE-467

[2018-06-06 15:51] ciarmcom commented on #378
ARM Internal Ref: MBOTRIAGE-468

[2018-06-06 15:51] ciarmcom commented on #370
ARM Internal Ref: MBOTRIAGE-469

[2018-06-06 15:51] ciarmcom commented on #283
ARM Internal Ref: MBOTRIAGE-470

[2018-06-06 15:52] #653 closed

[2018-06-06 16:39] cmonr commented on #686
https://github.com/ARMmbed/mbed-cli/releases/tag/1.7.3

[2018-06-06 16:39] #686 closed

[2018-06-07 14:04] mauriziobanfi opened #693 "Problem compiling mbed 2.0 programs for NRF51_DK_OTA or NRF51_DK_BOOT"
Hello,
I just set up CLI to compile mbed 2.0 programs. Everything works correctly when I compile for the Nordic NRF51_DK platform. As I attempt to compile for NRF51_DK_OTA (FW not including SoftDevice) or for NRF51_DK_BOOT (FW including the bootloader), the compiler returns the following error message:

`C:\Users\Maurizio Banfi\mbed_blinky>mbed compile -t GCC_ARM -m NRF51_DK_OTA
Building project m

[2018-06-07 14:15] theotherjimmy commented on #693
Here's my process for examining this:
1) Start at the target definition: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L2583-L2588
2) Go up to the inheritance chain until I find the target that's released for Mbed 2: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L2388-L2394, https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L2375-L2380,

[2018-06-07 14:16] theotherjimmy commented on #693
You may want to use Mbed 5 for this project.

[2018-06-07 15:48] mauriziobanfi commented on #693
The reason why you write "None of those devices are released for mbed 2.0." is because none of my targets and none of their "parents" display the line: "release_versions": ["2", "5"], or "release_versions": ["2", "5"]?

[2018-06-07 15:49] ciarmcom commented on #693
ARM Internal Ref: MBOTRIAGE-586

[2018-06-07 15:54] theotherjimmy commented on #693
@mauriziobanfi That's correct.

[2018-06-07 16:26] mauriziobanfi commented on #693
@theotherjimmy Thank you! I actually just realized that I obtain the same error even when I attempt to compile for the same targets with the online compiler. With some previous versions of Mbed-2, however, that used to be possible... I will begin studying Mbed-5 :-)

[2018-06-07 17:33] #693 closed

[2018-06-08 05:56] atomichan opened #694 "Export make_gcc_arm results in TypeError with v1.7.3 + Python3"
In producing make file by mbed export command, it fails as follows:

[code]

My environment:
[code]

cc @MarceloSalazar @ashok-rao

[2018-06-08 07:49] ciarmcom commented on #694
ARM Internal Ref: MBOTRIAGE-607

[2018-06-08 08:33] geoffrey-vl commented on #629
Sorry for the delay, but I tested both commands and both work.

Also I repeated my previous test with a newer version of mbed-cli (1.5.1), but the outcome is that it isn't working either. The output:

**mbed import :**
`C:\Users\me\Downloads>mbed import ssh://someserver/mbed-os-example-filesystem
[mbed] Importing program "mbed-os-example-filesystem" from "ssh://someserver/mbed-os-example-filesyste

[2018-06-08 08:48] MarceloSalazar commented on #694
@atomichan thanks for the report
Can you confirm you switched to the mbed-os-5.9.0-oob branch?
Can you share the output of 'mbed ls'?

[2018-06-08 10:59] MarceloSalazar commented on #694
I've tried with the 5.9 OOB branch and I'm able to reproduce this issue.
The nucleo_l476rg is marked as supported with make_gcc_arm exporter.

FYI @adbridge @theotherjimmy

[2018-06-08 11:33] MarceloSalazar commented on #692
Duplicate of https://github.com/ARMmbed/mbed-cli/issues/694 ?

[2018-06-08 12:39] atomichan commented on #694
@MarceloSalazar thank you for the information of reproduction.

Here’s the output of ‘mbed ls’

[code]

According to the error message, can this issue relate to the change of behavior that map object in python 3.x returns iterator object, not a list?

https://docs.python.org/3.6/library/functions.html#map

[2018-06-08 13:09] cmonr commented on #694
Will look into it. Should have been fixed with https://github.com/ARMmbed/mbed-os/pull/7092

[2018-06-08 13:13] cmonr commented on #694
@MarceloSalazar @atomichan Could y'all retry the command with Mbed OS checked out to master?

https://github.com/ARMmbed/mbed-os/pull/7111 is already in the repo and slated for 5.9.1.

[2018-06-08 13:14] cmonr commented on #692
@MarceloSalazar Not quite.

[2018-06-08 14:16] atomichan commented on #694
I retried the command with the master branch of Mbed OS and made sure that it was successful.

[2018-06-08 14:29] teetak01 opened #695 "mbed-cli should report actual failure reason as part of ERROR message."
Sometimes it is a bit difficult to identify why mbed-cli failed some operation, especially if it is reported by third-party only showing normal logs.

For. ex.

[code]

Here it would be more useful to give also some error code for ex.

`[mbed] ERROR (Forbidden: code 403): Unable to clone repository (...)`

or just

`[mbed] ERROR (code 403): Unable to clone repository (...)`

I this case the error

[2018-06-08 15:07] screamerbg commented on #688
@theotherjimmy Could you provide more information where this bug is coming from? I'm unable to reproduce it.

[2018-06-08 15:33] cmonr commented on #694
@atomichan Thanks for the quick check. Going to close since it sounds like #7111 resolves the issue.

[2018-06-08 15:34] theotherjimmy commented on #201
@LiyouZhou There's definitely command line validation, just not for the `--protocol` switch. Try compiling for a `K649` or something, and you'll see it.

[2018-06-08 15:36] theotherjimmy commented on #695
I'm not sure how that plays with `--protocol ssh`. There's probably an error code in either case.

[2018-06-08 15:37] theotherjimmy commented on #688
Sure. Just a sec.

[2018-06-08 15:37] theotherjimmy commented on #688
here: https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed_terminal.py#L38
and: https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed_terminal.py#L46

[2018-06-08 15:38] cmonr commented on #694
Actually, going to reopen. Need to verify if #7111 fixes the problem, or #7092. If it's the latter, then somehow it didn't make it into RC2 properly.

[2018-06-08 15:56] screamerbg commented on #695
@teetak01 Could you attach the original error you received?

[2018-06-08 16:16] teetak01 commented on #695
mbed-cli really did not output anything more than that and that is from customer reported issue (thus hiding some details).

This is more of a general request to relay some error codes. Especially with quite common issues like missing RSA keys, failing authentication etc. which can happen when working with private repositories.

This might be reproducible if you give invalid rsa keys and try to de

[2018-06-08 17:30] LiyouZhou commented on #201
@theotherjimmy, yes I understand there is some command line validation. I think the original issue was regarding the --protocol command. Also this issue was raised 2 years ago, hence thing might have changed a lot.  If you think this ticket no longer applies, feel free to close.

[2018-06-08 17:57] mlubinsky opened #697 "Multiple linker scripts detected; Library name xxx is not unique"
**Issue:**  I was able to build this project in the past and I do not see why it fails now:
[code]
**Environment:**
  mbed --version       => 1.7.3
 python -V    =>     Python 2.7.15
 MacOS High Sierra 10.13.4

[2018-06-08 18:39] theotherjimmy commented on #697
You may want to check that Mbed-OS is clean. It seems like you may have pre-K64F-migration stuff mixed with post-K64F-migration stuff.

[2018-06-08 18:40] theotherjimmy commented on #697
AH! you have 2 mbed-os's one in the project root as `mbed-os` and one in `tls-client/mbed-os`. This generally won't work. You probably don't need the one in tls-client.

[2018-06-08 18:46] mlubinsky commented on #697
I think it is is because  there are 2 "targets" folders:
 ./mbed-os/targets/
./tls-client/mbed-os/targets/
When I step into ./tls-client/  then the compilation works.

[2018-06-08 18:46] #697 closed

[2018-06-11 16:42] cmonr commented on #694
Confirmed that https://github.com/ARMmbed/mbed-os/pull/7111 solves issue.

[2018-06-11 16:42] #694 closed

[2018-06-11 16:45] cmonr commented on #692
@imsherlock Could you share the tool versions that you're using? The instance of Mbed OS inside of the blinky example needs to be v5.9+.

Otherwise, I'm not able to reproduce this on my end using the latest releases of mbed-cli (1.7.3), Python 3 (3.6.5), and Mbed OS checked out to master (Windows has a fix incoming for 5.9.1, but Linux should be fine).

[2018-06-12 08:41] MarceloSalazar commented on #692
@imsherlock you can just type `mbed ls` inside the blinky project and share the output?

You can use `mbed update mbed-os-5.9.0-oob` to switch to the latest branch and confirm it works for you.

[2018-06-12 15:12] theotherjimmy commented on #283
Looking through the source, you should only see this warning when it's relevent: when you're asking for things like `mbed update` (could update the project working copy from scm), `mbed add` `mbed remove` (this one is debatable), `mbed deploy` `mbed sync` (could update the project's working copy from scm) `mbed new`, `mbed ls` (used to read current version), `mbed status` (it's so similar to `git/

[2018-06-12 15:22] thegecko commented on #283
`mbed deploy` shouldn't require SCM IMO

[2018-06-12 15:46] yennster opened #698 "Mbed tools are not present when creating a new Mbed OS 2 program with --mbedlib"
**mbed-cli version:** 1.7.3

I follow the instructions in the Mbed CLI README documentation for creating a new Mbed OS 2 program (https://github.com/ARMmbed/mbed-cli#creating-a-new-program-for-mbed-os-2) and I receive the following output:

[code]

Unlike in the README, the Mbed 2.0 build tools are not downloaded. So, when I try to use commands like `mbed export`, `mbed compile` etc. I get the fol

[2018-06-12 15:47] theotherjimmy commented on #283
I think it just warns about it, not requires it. I'm in agreement though: it's mainly for dep related stuff, so it should not complain about a lack of SCM for the base project.

[2018-06-12 15:49] ciarmcom commented on #698
ARM Internal Ref: MBOTRIAGE-670

[2018-06-12 15:51] theotherjimmy commented on #283
It seems that deploy updates the git/hg ignores to exclude your deps from the project SCM (https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L2105). Tabling the discussion of if it should do that, I think that the warning about no SCM is overkill in that instance.

[2018-06-12 23:02] bmcdonnell-ionx opened #700 "separate build subdir for each build profile"
Feature/behavior request: make the default build dir for `mbed compile` a subdir under `BUILD/`. Name the subdir the same as the name of the build profile file, without extension.

[EDIT: revised paths in table.]

e.g.

| Command                                                       | Build Dir                                          |
| -----------------------------------------------------------

[2018-06-12 23:13] bmcdonnell-ionx commented on #700
I suggest parsing from the build profile filename once it is found on the file system, not from the command line. That way, on a case-insensitive filesystem, e.g. `mbed compile --profile debug` and `mbed compile --profile DEBUG` don't create duplicates.

[2018-06-12 23:49] ciarmcom commented on #700
ARM Internal Ref: MBOTRIAGE-679

[2018-06-13 09:00] 0xc0170 commented on #421
I tested this locally with 5.8.6, can't reproduce anymore. I'll close this issue as resolved

[2018-06-13 09:00] #421 closed

[2018-06-13 14:09] amitchone opened #701 "MAX32620HSP OS5 support"
Hi,

Trying to compile a project (using the CLI tools) that is verified working with the online compiler using the MAX32620HSP board.

`mbed compile -m MAX32620HSP -t ARM`
`>> Building project KYM_BIO-HSP (MAX32620HSP, ARM)`
`>> Scan: .`
`>> Scan: mbed`
`>> Scan: env`
`>> Scan: FEATURE_BLE`
`>> Could not compile for MAX32620HSP: Target does not support mbed OS 5`

The board is visible to my system

[2018-06-13 14:12] theotherjimmy commented on #701
Sorry, That board is not OS5 compatible: https://github.com/ARMmbed/mbed-os/blob/master/targets/targets.json#L2858

[2018-06-13 14:14] amitchone commented on #701
That leaves me ever more confused.. The [platform listing](https://os.mbed.com/platforms/MAX32620HSP/) states OS5 compatibility and compilation via the online tool works just fine using OS5?

[2018-06-13 14:53] theotherjimmy commented on #701
The second bit is a bug. It should fail in the online compiler with the same message as the offline compiler.

[2018-06-13 15:49] amitchone commented on #701
Is there a published timeline for official inclusion of OS5 support available? Thanks for your help.

[2018-06-13 15:49] ciarmcom commented on #701
ARM Internal Ref: MBOTRIAGE-690

[2018-06-13 16:59] theotherjimmy commented on #701
@amitchone I don't think there are any open PRs that add "5" into the release versions list I linked above.

[2018-06-13 17:00] theotherjimmy commented on #701
@screamerbg @maclobdell @bentcooke This is venturing into your department.

[2018-06-14 08:41] 0xc0170 commented on #700
I think this is similar to the one #615 (might be duplicate)

[2018-06-14 13:30] bmcdonnell-ionx commented on #615
I think you would want to do something like

`BUILD/<target>/<toolchain>/<build-profile-name-without-json-extension>/`

as I intended to suggest on #700.

[2018-06-14 13:35] bmcdonnell-ionx commented on #615
Several (most?) versions of Windows require administrator rights to create symbolic links. I don't think you want to impose that requirement on your users. (Please don't.)

[2018-06-14 14:31] theotherjimmy commented on #669
@screamerbg Should we add that information in a troubleshooting section somewhere? @oneway3124 Where would you expect to find the above method for downloading the mbed library manually, if we put it in the handbook?

[2018-06-14 18:22] NiallBegley commented on #688
I'm having this same issue, is there currently any work arounds?

[2018-06-15 07:43] MarceloSalazar commented on #688
Afaik this is not a fatal error.
In my environment, only happens when a serial terminal is open and I attempt to program the device (mbed compile ... -f)

[2018-06-15 12:52] Luka234 commented on #520
Yes, adding `mbed sync` step fixes exclude file.
Thx

[2018-06-18 16:18] mtfurlan opened #702 "[mbed] ERROR: Unable to reset the target board connected to your system."
I'm getting
[code]
with return code 1, because `mbed_sterm`  has no way to return true if `sterm` is false.
https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L1785

I think just setting `result` to true if `sterm` is false is fine? I did it locally and it fixed my issue, but I didn't check all the places it's called.

[2018-06-18 16:21] theotherjimmy commented on #702
I'm thinking it should be a bit more nuanced:
[code]

[2018-06-18 16:22] theotherjimmy commented on #702
That would require all operations specified to pass for a `True` return value.

[2018-06-18 16:28] mtfurlan commented on #702
That would be wrong if `mbed_serial.serial` is false.
Also the `MbedTerminal` init tries to return false in a few places as noticed in #688, so some way of handling those errors is probably important, though that may be handled by checking `mbed_serial.serial`, but it doesn't help return a useful error message.

[2018-06-18 17:02] theotherjimmy commented on #702
@mtfurlan Yep. that's correct. Edited.

[2018-06-18 18:21] mtfurlan commented on #702
So trying that, I've learned that on my computer, the reset function does not complete successfully. `mbed_sterm` does appear to correctly handle failures now.

In the reset function, `sendBreak` throws a broken pipe error.
Also the catch for that tries to run setBreak, which got removed from the serial library.
http://pyserial.readthedocs.io/en/latest/pyserial_api.html#serial.Serial.setBreak

As

[2018-06-18 19:16] mtfurlan commented on #702
Ignoring it works fine for me.
Not calling reset at all does fail to reset it (pressing the reset button works fine), so I think that means that calling `sendBreak` and ignoring the broken pipe resets it fine.

[2018-06-18 19:39] screamerbg commented on #702
Note that the mbed_terminal reset method is (almost) a copy of the htrun reset module.

E.g. https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed_terminal.py#L145
[code]

https://github.com/ARMmbed/htrun/blob/266d18dbccd1724e02e7e7be4bf2133f71cda953/mbed_host_tests/host_tests_plugins/module_reset_mbed.py#L67
[code]

I'm wondering if this is a delay issue. E.g. there should be a bit of delay a

[2018-06-18 19:41] screamerbg commented on #701
Bump @maclobdell @bentcooke

[2018-06-18 19:49] ciarmcom commented on #702
ARM Internal Ref: MBOTRIAGE-770

[2018-06-18 19:50] mtfurlan commented on #702
Debian 9, Linux boethiah 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
I'm running mbed_cli with Python 2.7.13 because that's the default for my system. I could try python 3 if needed.

I'm working with the Nordic-nRF52840-DK, and I just put the mbed firmware 0221 on it this morning.

I updated mbed-cli with pip this morning to 1.7.3, and `mbed-os/mbed.h` says `#define

[2018-06-18 19:55] screamerbg commented on #629
@geoffrey-vl Thanks for the extended debug report. I'm certain that there's something wrong with Git, but I'm out of ideas how to reproduce it to find workaround for your specific issue. What version of Git do you use? And could you update to the latest one?

[2018-06-18 19:56] screamerbg commented on #589
@theotherjimmy What's the conclusion on this? Can we close the issue here?

[2018-06-18 19:57] #547 closed

[2018-06-18 19:58] #527 closed

[2018-06-18 19:58] #520 closed

[2018-06-18 19:59] screamerbg commented on #436
This is now tracked in #698

[2018-06-18 19:59] #436 closed

[2018-06-18 19:59] #415 closed

[2018-06-18 20:17] screamerbg commented on #702
@mtfurlan Thanks for the prompt response. Python 2.7 is absolutely fine. I'm trying to understand what causes this weird behavior. I'm using Mac OSX and the behavior of Ubuntu Linux VM and the USB stack is very different than the native one. Could you perhaps add a 4 second sleep at the very top of reset()?

[2018-06-18 20:38] mtfurlan commented on #702
Putting a sleep at the top of reset didn't change anything, I still got a
broken pipe.
I changed `self.serial.setBreak(False)` to
`self.serial.break_condition=False` as per the documentation, to prevent
the `'Serial' object has no attribute 'setBreak'` issue, but that just
throws a second broken pipe error.
I can try setting up a clean OS install on a different device and see if it
does the same t

[2018-06-19 04:17] janjongboom commented on #615
@bmcdonnell-ionx Yes, exactly same proposal.

[2018-06-19 14:30] theotherjimmy commented on #589
https://github.com/ARMmbed/mbed-os/pull/7263

[2018-06-20 02:40] cmonr commented on #589
@vkolotov @melvinvdb @screamerbg The fix has now been merged. Would y'all mind retesting?

[2018-06-20 14:20] bmcdonnell-ionx commented on #700
Closed as dupe of #615.

[2018-06-20 14:20] #700 closed

[2018-06-21 10:41] geoffrey-vl commented on #629
As a quick resume he're my current versions.
- via **cmd.exe**:
[code]
- via **git-bash.exe**:
[code]

And here is after installing latest git.
Note when installing I've used the "Use OpenSSH" option which make sure that git uses the ssh.exe as delivered with it (and will not use the system's openssh).
- via **cmd.exe**:
[code]
- via **git-bash.exe**:
[code]

Also note that in the mean time I've a

[2018-06-21 11:22] NeilMacMullen commented on #586
FWIW I would also like the ability to change the subset of compiled files depending upon configuration.  My scenario is that I wish to compile both a minimal bootloader and an application from the same codebase.  There is a small amount of shared code but the 'feature set' is very different between the two builds and I don't want the bootloader dragging in all the unused features.  More generally,

[2018-06-21 11:30] geoffrey-vl commented on #629
At this stage I think all is ok, I still have some other issue but I believe it should be handled in a different issue ticket.
Thanks

[2018-06-21 13:57] geoffrey-vl opened #705 "mbed import/add over ssh forces to add a username"
As a result of following issue/patch #278 mbed-cli now **always** looks for a username in the url, and if none found it appends the **git** user. At least that's how I understand it.
However this removes the option where username matching can be done through the SSH layer, either by finding a matching username on the remote server or through the SSH config file.

Our internal git server relies on

[2018-06-21 15:49] ciarmcom commented on #705
ARM Internal Ref: MBOTRIAGE-841

[2018-06-21 17:40] OmerRosler commented on #475
I am willing to take the time and effort to fully implement this feature.
Is there a road-map/direction to get started?

[2018-06-22 13:38] mtfurlan opened #706 "mbed import treats URLs differently differently than git clone"
I would like to import from a git repo on a computer.
[code]
This fails, because it tries to clone from `ssh://user@host/path/to/repo/from/home/dir`
It then proceeds to try mercurial, and complains that mercurial isn't installed in spite of passing `--protocol`
If you do
[code]
It effectively expands (no idea how it actually does it) to  `ssh://user@host/home/user/path/to/repo/from/home/dir`
So th

[2018-06-22 14:53] theotherjimmy commented on #706
@mtfurlan The confusion comes from the fact that git is not a protocol. `ssh` and `http` and `https` are the protocols used. You don't specify the VCS to use when running `mbed import`

Mercurial is a dependency, so that makes sense. (the `--protocol git` is effectively a noop).

I have no idea what "we can't assume `/home/user`" is supposed to mean

Maybe mention that in the results of mbed help

[2018-06-22 15:04] bridadan commented on #475
My understanding of serial over SWD is that it is only unidirectional (from the MCU to the host pc). Is this correct? If so, that would currently break a lot of the tests within the Mbed OS test suite. Many of them require back and forth communication.

[2018-06-22 15:05] screamerbg commented on #706
@mtfurlan Somewhat repeating what @theotherjimmy said, Git's documentation outlines that:
[code]
https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols

Regarding the `host/user/home` conversion, could you please attach a log and mask the actual IP/hostname?

Lastly the `help` command can be easily extended to support that. Thanks for the suggestion

[2018-06-22 15:06] mtfurlan commented on #706
It's true that git is not a protocol, I mean that `mbed import` treats URLs differently than `git clone`.

I took a URL I can pass to `git clone`, and `mbed import` gave unrelated errors. (Yes mercurial is a dependency, but that is completely unrelated to why it can't clone my git repo)

On `--protocol`, the help claims it exists, but yeah it's completely unused right now right now.
https://github

[2018-06-22 15:07] screamerbg commented on #705
@geoffrey-vl Definitely. I'll introduce this as a small patch to support non-username mode.

[2018-06-22 15:16] mtfurlan commented on #706
@screamerbg I'm not sure what log you want, here is the very verbose output of mbed import:
[code]

So yeah the issue is using the scp-like syntax with mbed.
Thinking a bit better, not converting the URL in [formaturl](https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L1764) from the scp-like syntax would be best.

[2018-06-22 15:22] MarceloSalazar opened #707 "Error when using baudrate"
Error:

```make.py: error: unrecognized arguments: --baudrate 115200```

As per docs: https://github.com/ARMmbed/mbed-cli#serial-terminal

Instructions to reproduce:

```mbed compile -t GCC_ARM -m K64F -f --sterm --baudrate 115200```

Environment:
- Mbed CLI 1.7.3
- Windows 10 and OSX El Capitan

[2018-06-22 15:40] screamerbg commented on #705
@geoffrey-vl I spoke too soon.

Falling back to `git@` username was introduced to handle the way Github and Gitlab do authentication when converting URL from https to ssh.

For example, if I issue `git clone ssh://host` without username, then Git assumes that it should use my local host username, which in the case of Github and Gitlab will always return auth error, e.g.
[code]
It's rather confusin

[2018-06-22 15:42] screamerbg commented on #707
@theotherjimmy Yes, it's an option to `mbed sterm`, not to `mbed compile --sterm`

[2018-06-22 15:49] ciarmcom commented on #707
ARM Internal Ref: MBOTRIAGE-861

[2018-06-22 15:49] ciarmcom commented on #706
ARM Internal Ref: MBOTRIAGE-862

[2018-06-22 15:56] screamerbg commented on #706
@mtfurlan According to the log, `mark@10.4.4.198:advanced/b2v/ble5/mbed/marco` is converted to `ssh://mark@10.4.4.198/advanced/b2v/ble5/mbed/marco`, which is the correct behavior. E.g. can you try to clone with the ssh schema URL, e.g. `git clone ssh://mark@10.4.4.198/advanced/b2v/ble5/mbed/marco` and let me know if that works?

Regarding the path handling the remote host host, if user `mark` has

[2018-06-22 15:59] screamerbg commented on #702
@mtfurlan I'm trying to understand where the problem comes from. I was wondering if this might be related to the issue - https://github.com/ARMmbed/mbed-cli/pull/704. Note that this will be available in the Mbed CLI 1.7.4 release (hopefully out today)

[2018-06-22 16:04] screamerbg commented on #629
@geoffrey-vl Great, thanks!

[2018-06-22 16:04] #629 closed

[2018-06-22 16:05] geoffrey-vl commented on #705
So actually people should have ssh config setup correctly when using github/gitlab :-) Https is favored anyway, so I don't think it would be such a big effort for others to setup ssh correctly because it was their decision to opt for the less-favored ssh. So in the end I think we should at least be able to override/disable that behavior.

Aside of that, I've never set protocol in mbed config, I'm

[2018-06-22 16:05] screamerbg commented on #529
This is now available in Mbed CLI 1.7.3

[2018-06-22 16:05] #529 closed

[2018-06-22 16:07] MarceloSalazar commented on #707
My bad, this is indicated in the docs and I confirm works ok.

[2018-06-22 16:07] #707 closed

[2018-06-22 16:08] screamerbg commented on #631
@gorankecman Have you had time to check my comment above?

[2018-06-22 16:10] screamerbg commented on #705
Mbed CLI 1.5.1 didn't handle well certain cases with private repositories. Could you please update to the latest Mbed CLI (1.7.3)?

[2018-06-22 16:28] mtfurlan commented on #706
- `$ git clone ssh://mark@10.4.4.198/advanced/b2v/ble5/mbed/marco`
  - `fatal: '/advanced/b2v/ble5/mbed/marco' does not appear to be a git repository`
- `$ git clone ssh://mark@10.4.4.198:advanced/b2v/ble5/mbed/marco`
  - `ssh: Could not resolve hostname 10.4.4.198:advanced: Name or service not known`
-  `$ git clone ssh://mark@10.4.4.198:/advanced/b2v/ble5/mbed/marco`
   - `fatal: '/advanced/b2v/

[2018-06-22 19:22] mtfurlan commented on #702
So I just tried the code in the master branch, and I got a lot of
[code]
I didn't see anything in the diff from 1.7.3 to master to explain how it was opening the serial port differently, but I didn't look too closely and just applied only the patch #704
That made it go back to
[code]

The issue I'm having is that
https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed_terminal.py#L147
is throwin

[2018-06-23 04:30] masoudr opened #709 "Board name for Seeed-Arch-max"
Hi,
I have a custom STM32 board based on `STM32F407VE`. I searched and found out it is the same chip as Seeed-Arch-Max board [link-here](https://os.mbed.com/platforms/Seeed-Arch-Max/). I tried the online compiler with this board and it worked fine.
Now I'm trying to compile my code with cli. I used the `mbed compile -S` command to get supported boards but I can`t find the right name for it. Is the

[2018-06-23 07:49] ciarmcom commented on #709
ARM Internal Ref: MBOTRIAGE-872

[2018-06-24 02:40] toyowata opened #710 "utf8 error by importing mercurial repository"
When importing repository in the os.mbed.com (Mercurial), I got following problem in my PC (Japanese Windows 7).

[code]

There is no problem importing GitHub repositiry.

[code]

Also, mbed-cli v1.6.0 did not have this problem.

[code]

[2018-06-24 03:49] ciarmcom commented on #710
ARM Internal Ref: MBOTRIAGE-885

[2018-06-24 05:38] screamerbg commented on #710
@toyowata Thanks for the bug report. Which version of python do you use?

Cc @cmonr

[2018-06-25 00:41] toyowata commented on #710
The version of python is v2.7.15.

[2018-06-25 07:03] geoffrey-vl commented on #705
Mbed version:
`
C:\Users\me\Downloads>mbed-cli --version
1.7.3
C:\Users\me\Downloads>git --version
git version 2.17.1.windows.2
`

Cloning the application repo:
`
C:\Users\me\Downloads>git clone ssh://someserver/myapp
Cloning into 'myapp'...
remote: Counting objects: 1192, done.
remote: Compressing objects: 100% (869/869), done.
remote: Total 1192 (delta 644), reused 585 (delta 263)R
Receiving obj

[2018-06-25 10:38] screamerbg commented on #710
@toyowata Can you rerun the command with `-vv` and paste the log here?

[2018-06-25 10:41] screamerbg commented on #709
@masoudr The board is called ARCH_MAX. E.g. `mbed compile -m ARCH_MAX`

[2018-06-25 10:45] screamerbg commented on #706
@mtfurlan Thanks for this. Could you also try:
* `git clone ssh://mark@10.4.4.198/home/mark/advanced/b2v/ble5/mbed/marco`
* `git clone ssh://mark@10.4.4.198/~advanced/b2v/ble5/mbed/marco`

I'm trying to understand how this deviates from the Git official documentation. There is no mention at https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols#_the_ssh_protocol regarding paths handling.

[2018-06-25 13:09] mtfurlan commented on #706
The first one works, the second one doesn't.

Yeah, the docs just say it supports "scp-like syntax", which is the home dir if not specified. I can't find the official scp documentation specifying this syntax (I didn't look much past the man page and a few google results), but there are a lot of examples of `user@host:fileInHomeDir` online.

What is the reason mbed converts URLS to `ssh://`? Git do

[2018-06-25 14:19] masoudr commented on #709
Thanks.I just used `mbed compile - S` that shows different results.

[2018-06-25 16:17] cmonr commented on #710
@toyowata Would you also mind running and sharing the outputs of `python --version` and `pip list --verbose`?

[2018-06-25 16:58] masoudr opened #711 "Configure debugger with VSCode"
Hi,
I'm trying to configure debugger using `Openocd 0.10.0` with VSCode from [this reference](https://os.mbed.com/docs/v5.8/tutorials/visual-studio-code.html) on Windows 10. I can run `Openocd` and `arm-none-eabi-gdb` manually with exact configuration without any problem but on VS Code it seems that gdb debugger doesn't run at all and only the debugger server runs.
Here is `launch.json` that gener

[2018-06-25 17:56] theotherjimmy commented on #711
@janjongboom Could you comment?

[2018-06-25 19:49] ciarmcom commented on #711
ARM Internal Ref: MBOTRIAGE-913

[2018-06-26 00:55] toyowata commented on #710
@screamerbg @cmonr

Interestingly, after I put ```-vv``` option for the Mbed-CLI, I could import the repository successfully.  I can now import any mercurial repos without any problem.  This is strange.

Imported log file is here:
[mbed_import.txt](https://github.com/ARMmbed/mbed-cli/files/2135167/mbed_import.txt)

[Python version]
[code]

[pip list]
[code]

[2018-06-27 07:57] janjongboom commented on #711
@masoudr See https://gist.github.com/janjongboom/51f2edbee8c965741465fa5feefe4cf1 - the `serverStarted` command needs to be different for OpenOCD.

[2018-06-27 11:15] amitchone commented on #701
Regarding the above reference (#7345), could that be due to the removal of support for this platform?

[2018-06-27 13:17] masoudr commented on #711
@janjongboom Thank you. I just added the server args missing `-c init -c \"reset init\"` and edited `serverStarted` command and short `serverArgs` path worked for me. I think the documentation should be fixed for this. It didn't say anything about `serverStarted` command for `OpenOCD`.

[2018-06-27 13:19] loverdeg-ep commented on #711
@masoudr  Start an issue in the docs repository. I'd like to develop with VS code but have never felt that the documentation was complete enough to make it worth the effort.

[2018-06-27 13:36] masoudr commented on #711
@loverdeg-ep I will. But I think I still have the issue, now the command can debug my code and chip is getting debugged but when I run the blinky example I get a weird exception:

[2018-06-28 17:30] masoudr commented on #711
I opened this issue in the [docs repository](https://github.com/ARMmbed/mbed-os-5-docs/issues/611#issuecomment-401087526).

[2018-06-28 17:30] #711 closed

[2018-06-29 12:40] loverdeg-ep commented on #711
@masoudr This repo or the mbed-os repo are probably was the correct location for this particular issue.

My comment was in regard to your earlier statement

[2018-06-29 21:09] #378 closed

[2018-07-04 08:43] adamelhakham commented on #660
There is progress, @screamerbg has made some fixes. We are doing some further testing and will keep you posted

[2018-07-04 08:46] MarceloSalazar opened #713 "Program one of multiple platforms connected"
This is an enhancement request.

I have many platforms connected to the USB port.

I'd like to compile and program one platform using this command:
```mbed compile -t <toolchain> -m <platform> -f```
This is very useful because finds the binary, detects the platform and programs it.

However, there is currently a limitation:
```[mbed] ERROR: Only 1 target board should be connected to your system.``

[2018-07-04 11:18] MarceloSalazar opened #714 "Program wrong platform"
Issue: defect.

I compile an application and want to program a platform using this option:
```mbed compile -t <toolchain> -m <platform> -f```

However, if have a **different** platform connected, that's ignored and the binary I've just compiled is used to program the wrong platform.

Solution / proposal:

It should detect that I don't have that platform detected and display the corresponding error

[2018-07-04 11:49] ciarmcom commented on #714
ARM Internal Ref: MBOTRIAGE-1062

[2018-07-04 11:49] ciarmcom commented on #713
ARM Internal Ref: MBOTRIAGE-1063

[2018-07-05 14:13] theotherjimmy commented on #713
At least we need a better error message, with a "next step" for the user.

[2018-07-06 12:48] #701 closed

[2018-07-09 08:55] jeromecoutant opened #715 "ssl certificate error when using pip command"
Hi

In our network, we got SSL error when using "pip" command in mbed command line :-(

Do you think it is possible to add "--trusted-host=pypi.org" in mbed.py script ?

Regards,

[2018-07-09 11:49] ciarmcom commented on #715
ARM Internal Ref: MBOTRIAGE-1145

[2018-07-09 12:17] RobMeades commented on #475
FYI, I am also interested in this as I have exactly the same use case.  My board has our NINA-B1 module on it, which provides only one serial port which is already connected to another device on the board (a cellular modem) hence it is unavailable for testing.  I have an SWD connector through which I can flash the NINA-B1 module and reset it (using the hooks in [host_test_plugins](https://github.c

[2018-07-09 16:22] ValentinoPeluso opened #716 "[ERROR] cannot use a string pattern on a bytes-like object"
Hi,
when I try to compile I get this error:

[ERROR] cannot use a string pattern on a bytes-like object
[mbed] ERROR: "/usr/local/bin/python3" returned error code 1.

I am using Ubuntu 16.04 with Python3.6.0 and mbed-cli 1.7.3.

I created a test project with the command:
mbed new test

and then I try to compile with:
mbed compile -m auto -t GCC_ARM

Regards.

[2018-07-09 16:24] screamerbg commented on #716
Cc @cmonr

[2018-07-09 19:49] ciarmcom commented on #716
ARM Internal Ref: MBOTRIAGE-1151

[2018-07-10 16:03] ValentinoPeluso commented on #716
Using python 3.5.2 I got:

Traceback (most recent call last):
  File "/home/peluso/Work/arm/test/mbed-os/tools/make.py", line 41, in <module>
    from tools.tests import TESTS, Test, TEST_MAP
  File "/home/peluso/Work/arm/test/mbed-os/tools/tests.py", line 18, in <module>
    from tools.data.support import DEFAULT_SUPPORT, CORTEX_ARM_SUPPORT
  File "/home/peluso/Work/arm/test/mbed-os/tools/data/su

[2018-07-10 16:48] ValentinoPeluso commented on #716
@theotherjimmy mbed-os-5.9.2

[2018-07-10 19:04] theotherjimmy commented on #716
I get a different traceback on that version, corrected by https://github.com/ARMmbed/mbed-os/pull/7466

[2018-07-10 19:05] theotherjimmy commented on #716
you may want to `git clean -xf` in mbed-os. That will clean up any old byte code that you may have generated with an old version of mbed-os (which had that problem).

[2018-07-11 08:20] ValentinoPeluso commented on #716
@theotherjimmy I tried the following commands:
cd mbed-os
git clean -xf

but I continue to get the same error message when I try to compile.

[2018-07-11 11:58] asifrizwanubx commented on #638
@screamerbg

I prefer fast and easy installation (one click) and I used Windows installer but today I noticed it is old version of mbed-cli (mbed-cli 1.1.1) and pip install -U mbed-cli never work with it.

And due to which I faced issues in importing of mbed-os.

[2018-07-11 11:59] asifrizwanubx commented on #638
Error:

Collecting mbed-cli
  Using cached https://files.pythonhosted.org/packages/2e/b6/9c5112f682fbb0dc516e9e29cb16fcc7a9ce8482d0e7fe5c8d463948a313/mbed-cli-1.7.3.zip
Installing collected packages: mbed-cli
  Found existing installation: mbed-cli 1.1.1
    Uninstalling mbed-cli-1.1.1:
      Successfully uninstalled mbed-cli-1.1.1
  Running setup.py install for mbed-cli ... done
Exception:
Traceb

[2018-07-11 12:06] arekzaluski commented on #638
@asifrizwanubx Thanks for reporting. We are looking into improving the installer. Allowing it to install the latest version of mbed-cli if internet connection is present and installing mbed-cli in a way that it can be easily updated.

Adding @theotherjimmy

[2018-07-11 12:16] screamerbg commented on #710
@toyowata Can I ask you to modify your local Mbed CLI installation and change `if very_verbose:` to `if very_verbose or 1:` (around line 3023) and try again?

[2018-07-11 16:42] theotherjimmy commented on #716
I cannot reproduce the specific error you encountered.

[2018-07-11 18:15] mecwerks commented on #716
Having the same issue here. Installed mbed cli though mingw, using python 3.4.5, downloaded the mbed-os-example-blinky project and get the same error as @ValentinoPeluso

[2018-07-12 15:50] cmonr commented on #715
I don't see why not.

But would you mind posting the output of that SSL error?

[2018-07-12 15:53] jeromecoutant commented on #715
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError(SSLError(1, u'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)'),)) - skipping

ST IT security.... :-(

[2018-07-13 12:47] RobMeades commented on #475
Further FYI, I've tried using the `stdio` redirect feature to get `stdio` to appear on SWO, which works really well, however Greentea uses `RawSerial` to talk directly to the serial port and so redirecting SWO in this way doesn't help.  I don't think I can get any further without significant Greentea surgery to abstract the transport.

[2018-07-13 17:20] #713 closed

[2018-07-16 07:39] ilovealbis commented on #716
Also having the same issue. I was trying to compile the Blinky example code. Using Windows and installed mbed-cli through pip.

### Version
[code]
[code]
[code]
### Compiler Path
[code]
### Command and Output
[code]

[2018-07-16 13:52] Albis-dev commented on #716
I looked into this issue and found a temporary fix.

#### Original mbed-os\tools\toolchains\gcc.py
[code]
#### Output value of "arm-none-eabi-gcc --version"
[code]
Basically gcc.py uses regex to extract the substring '7.3.1' but run_cmd() returns the value to byte, not string. That's why we get a TypeError.

#### Quick Fix. Modify gcc.py
[code]

[2018-07-16 14:10] theotherjimmy commented on #716
@Albis-dev Maybe you missed the comment above where I submitted a PR to mbed-os with a fix for the very issue you ran into. https://github.com/ARMmbed/mbed-os/pull/7466 is the PR.

[2018-07-16 14:34] cmonr commented on #716
@ValentinoPeluso @Albis-dev @mecwerks Since the PR that fixes the issues is now on master (and in the mbed-os-5.9 branch), would y'all mind updating your installations and verifying that the issue was fixed?

[2018-07-16 16:00] theotherjimmy commented on #716
@ValentinoPeluso @Albis-dev @mecwerks Note that it's on master of mbed-os, and that you need to update mbed-os to get the fix.

[2018-07-16 16:03] Albis-dev commented on #716
@cmonr Can confirm it's working now.

[2018-07-17 15:49] ciarmcom commented on #327
ARM Internal Ref: MBOTRIAGE-1290

[2018-07-20 01:43] toyowata commented on #710
@screamerbg

I used latest version of the Mbed-CLI in the Github master branch and I added ```or 1``` for the if statement around line 3052:
[code]

I can import the mbed-os-blinky example here without any problem:
[code]

However, I got import error for the repository below:
[code]

[2018-07-23 17:26] BlackstoneEngineering opened #720 "Get 'sterm' baud rate from mbed_app.json file"
## Problem
default speed on 'sterm' command is 9600, but a bunch of the mbed 'golden code' uses 115200 as the default speed. This creates a usability issue where users expect the 'mbed compile --flash --sterm' command to 'just work' and it doesnt.

## Solution
Get default baud rate from mbed_app.json, specifically the `"platform.stdio-baud-rate": 115200` variable.

[2018-07-23 19:49] ciarmcom commented on #720
ARM Internal Ref: MBOTRIAGE-1387

[2018-07-24 09:45] #714 closed

[2018-07-25 11:37] janjongboom opened #721 "sterm crashes"
Running something based on Mbed Cloud Client:

[code]

[2018-07-25 11:49] ciarmcom commented on #721
ARM Internal Ref: MBOTRIAGE-1411

[2018-07-25 12:31] screamerbg commented on #721
This is because the device disconnected the serial com port while the terminal was still open. The device exception cannot be handled by mbed CLI as it happens in a thread initiated by the pyserial library. In other words, it's a known issue that disconnecting the serial com port (or the device itself) while stern is still open causes python error and at the moment there's no workaround.

[2018-07-25 19:30] yennster opened #722 "Request to change MBED_OS_DIR config name to MBED_OS_TOOLS_DIR"
After getting some help for a different issue from @theotherjimmy he pointed out this PR https://github.com/ARMmbed/mbed-cli/pull/626 that adds support for a global config param called `MBED_OS_DIR`

From my understanding, this param basically allows you to not have to download the Mbed OS tools multiple times over your many Mbed OS 2 or 5 projects. However, this config param does not allow you to

[2018-07-25 19:49] ciarmcom commented on #722
ARM Internal Ref: MBOTRIAGE-1417

[2018-07-26 19:42] cmonr opened #724 "`mbed update` does not pull from master when updating to branch with empty sha"
When running `mbed update <branch>` on a project, if the mbed-os.lib file has no sha, I expect that the HEAD of master branch from mbed-os should be pulled and used (similar to how specifying no other information when doing a git clone <url> pulls the master HEAD).

This is not the case.

### Steps to reproduce
[code]

[2018-07-26 19:49] ciarmcom commented on #724
ARM Internal Ref: MBOTRIAGE-1433

[2018-07-26 19:50] theotherjimmy commented on #724
@cmonr The tag (should be branch, 'cause it moves) `latest` is used whenever possible. This is what happens when you use that tag. I think thin is intended behaviour

[2018-07-26 19:58] cmonr commented on #724
Using `latest` would be fine as well.

Come to think of it, it's not even going to the "latest revision in the current branch" correctly.
If it did, then in this example, it should have jumped from 5.9.0 to 5.9.3, since that's all in the mbed-os-5.9 branch.

Using `latest` makes sense since it's also a part of the mbed-os-5.9 branch and would/should fir the "latest revision in the current branch"

[2018-07-27 05:49] janjongboom opened #725 "Should have an easy way to update Mbed OS in exported project"
I'm writing an application note for MDK and this is a real issue I encounter.

1. Find a project.
2. Export to MDK.
3. Now I want to update Mbed OS.

Because mbed-os is not under source control the normal `update`/`sync`/`deploy` things don't work. I need to:

1. Remove mbed and mbed-os folders.
2. Remove mbed.lib / mbed.bld / mbed-os.lib.
3. Run `mbed add mbed-os`.

Could we have some command tha

[2018-07-27 07:49] ciarmcom commented on #725
ARM Internal Ref: MBOTRIAGE-1443

[2018-07-27 08:15] janjongboom opened #726 "Downloading library build, takes very long, progress bar?"
On an Mbed 2 project I'm running `mbed deploy`.

Then it says:

[code]

It's been doing this for over 10 minutes already. I have a very fast internet connection (200 mbps). What is it doing and can I have a progress bar similar to when we clone Mbed OS?

[2018-07-27 11:49] ciarmcom commented on #726
ARM Internal Ref: MBOTRIAGE-1448

[2018-07-27 14:02] theotherjimmy commented on #725
@janjongboom You're specifically talking about exports from the online compiler/os.mbed.com. Exports from Mbed CLI would just have to `mbed update` & `mbed export` again.

[2018-07-27 14:04] theotherjimmy commented on #726
@janjongboom Good suggestion. We could have a progress bar to indicate to users "get a cup of coffee".

[2018-07-29 09:07] sstelian opened #727 "Inaccurate wait() on LPC1768"
I'm using mbed-cli with arm-none-eabi-g++ version 7.1.0 on Fedora 28. I tested the project setup on a LPC1768 and I noticed the blink code blinks about 10 times slower when compiled with mbed-cli than compiled with the web-based mbed compiler. The correct timing is the one in the online compiler, of course. Here is the code :

[code]

[2018-07-29 11:49] ciarmcom commented on #727
ARM Internal Ref: MBOTRIAGE-1467

[2018-07-30 09:58] janjongboom commented on #725
@theotherjimmy Yes, exports from Online Compiler. Now I need to have stuff in my documentation like:

[code]

[2018-07-30 13:45] theotherjimmy commented on #725
That is the workaround. If you have mbed-cli, what's the point of doing an export from the online compiler?

[2018-08-01 13:14] 0xc0170 commented on #327
@jaustin Can you review this issue? The libraries are 2 years old by looks of it.

[2018-08-01 14:31] janjongboom commented on #725
@theotherjimmy How else would I move from Online Compiler to MDK? This is not about importing existing examples, it's about migrating a codebase that I started online to MDK.

[2018-08-01 15:01] jaustin commented on #327
@theotherjimmy looked into this a while back, and I thought he had success with building the older programs. There was an inconsistency between the online compiler and the offline one WRT armcc, but that shouldn't be a factor here....  Jimmy, did you bump into any of the issues like Rob has?

[2018-08-01 15:24] theotherjimmy commented on #725
@janjongboom, That's a very good point. We should consider having a way to pull private examples in Mbed CLI, and fix this particular problem.

[2018-08-01 15:30] theotherjimmy commented on #327
@jaustin, I did, and I resolved them with a build profile that was like `develop`, but without disabling VLA.

[2018-08-02 21:02] awe-coursera commented on #327
I also came across the kind of problem discussed above when trying to build a simple BBC:Microbit C++ program using the mbed-cli ... is there a simple set of instructions and example to show me how to do this please ...

[2018-08-03 09:50] drahnr opened #729 "#pragma message will never be printed"
#warning works, but I assume `#pragma message` goes to `stdout` which is consumed by mbed cli

[2018-08-03 11:49] ciarmcom commented on #729
ARM Internal Ref: MBOTRIAGE-1485

[2018-08-03 12:09] 0xc0170 commented on #729
Can you provide examples, what works and what does not?  What toolchains?

`#pragma message string` - this one? it's during compilation (is it only supported in GCC ?) so should not use stdout (its not runtime message).

[2018-08-03 12:35] drahnr commented on #729
gcc 7.0.0 and gcc 7.1.0

works:
[code]

does not:
[code]

[2018-08-03 13:56] theotherjimmy commented on #729
@drahnr those messages show up with `-v`. without the verbose option, the mbed build tools try to limit the amount of terminal noise you get to just warnings and errors. This is by design.

[2018-08-03 14:05] drahnr commented on #729
The issue with `-v` is, that one gets flooded with compiler defines / commandine options so the desired effect of a message is either being lost in too much information or not printed at all.
Use case: Easy tracking of certain important configuration options without the noise without generating warnings which would error our build.

[2018-08-03 14:43] theotherjimmy commented on #729
@drahnr I'm a little shocked that you managed to find a target that does not emit warnings. We could parse the `#pragma message` stuff and emit it in the same way as warnings/errors. That would take a bit of work thought, as it would have to work for all 3 supported compilers.

[2018-08-03 16:59] drahnr commented on #729
@theotherjimmy it only works with compiling many chunks of the final application as libs, mbed-os itself is for sure not free of warnings...

[2018-08-06 14:11] theotherjimmy commented on #729
@drahnr I think we could also implement a "filter warnings" feature if that would be useful to you. It would have to be for 5.10.

[2018-08-06 14:17] drahnr commented on #729
@theotherjimmy can you be a little more specific what exactly would be the your usecase? Right now I am not sure how that helps my case: I have a lib which has to be warning free -> filtering warnings won't change the output, or maybe I just did not get what you meant :]

[2018-08-06 14:30] theotherjimmy commented on #729
@drahnr We could add a filter that ignores warnings within certain paths. So you could do something like `mbed compile --no-warnings mbed-os` and not get warnings from mbed-os.

[2018-08-06 14:46] drahnr commented on #729
@theotherjimmy Independent of above's discussion: That 'd be great!

The initial problem of not seeing `#pragma messages` is still there though, filtering warnings would only help if I would make them all warnings (which our compilation would prevent).

[2018-08-06 15:12] theotherjimmy commented on #729
@drahnr I'll be happy to add something like "[INFO]" for messages, if we have a way to find them in all 3 compilers, and we can document how to use it.

[2018-08-06 18:51] bmcdonnell-ionx commented on #615
#712 has been merged to `master`, though not released yet.

Should this issue be closed?

[2018-08-10 14:38] cblack-lab651 opened #732 "Consider using .gitignore rather than .git/info/exclude"
Since .git/info/exclude is not version controlled by default, using .git/info/exclude only works on the original developers program/repo.

Why is this used instead of .gitignore?  It is very annoying when working with a team, if one person adds a library only their local repo has the correct git ignore settings.

[2018-08-10 15:49] ciarmcom commented on #732
ARM Internal Ref: MBOTRIAGE-1508

[2018-08-10 20:01] Navis-Raven opened #733 "Mbed-cli and Windows serial driver does not finish installation for many boards (critical bug) (title updated)"
At the end of installation of mbed-cli, it asks me to connect an arm mbed enabled microcontroller, so I do it with my nRF52-DK board. However after clicking OK, it sais that "no mbed microcontroller found"

![image](https://user-images.githubusercontent.com/15887222/43978783-bf99fdfc-9ce8-11e8-867a-19060929614b.png)

[2018-08-10 20:04] Navis-Raven commented on #733
Note that I've used one hour before SEGGER IDE and it updated automatically the nRF52-DK firmware

[2018-08-10 23:13] cmonr commented on #732
@screamerbg Would you mind shedding some light on this? Feels odd to me as well.

[2018-08-10 23:49] ciarmcom commented on #733
ARM Internal Ref: MBOTRIAGE-1512

[2018-08-14 13:56] nicbkw commented on #688
using xenial in chroot on Chromebook
mbed version 1.7.5
mbed sterm
[mbed] Detecting connected targets/boards to your system...
[mbed] Opening serial terminal to "DISCO_L072CZ_LRWAN1"
[mbed] ERROR: Unknown Error: __init__() should return None, not 'bool'

[2018-08-15 03:02] cmonr commented on #733
How was mbed-cli installed in this instance? Was it with our Windows installer? Which version of Windows?

[2018-08-15 03:33] Navis-Raven commented on #733
Yes it was the windows installer. It asked me to plug the arm mbed enabled microcontroller, and I plugged the nRF52-DK and pressed ok, but it prompted this error message.

My Windows version is Windows 7.

at the end, I installed it one hour ago with pip, and it didn't asked me to plug a microcontroller

[2018-08-15 07:32] jaimejim commented on #599
adding to @loverdeg-ep and @davidhyman , on the IETF we are using the mbed cli to test what we call a [suit manifest file](https://tools.ietf.org/html/draft-moran-suit-manifest-02). There are [detailed notes](https://git.io/fNYC6) about a couple of hackathons we have had and a common problem we identified is that newcomers need a lot of time to get started with their environment. We found it could

[2018-08-15 13:29] theotherjimmy commented on #599
Thanks for the link @jaimejim

@screamerbg Requirement or not, we certainly have proof that it would be used.

[2018-08-19 21:10] amq commented on #580
`mbed cache on` solved this for me.

[2018-08-20 13:38] bmcdonnell-ionx commented on #580
@amq, I don't see any connection between `mbed cache` and my feature request here.

[2018-08-22 13:07] artokin opened #736 "An extension added to map file in mbed-cli v1.7.5"
After updating mbed-cli to version 1.7.5 and building a application a map-file with extension `.map` does not exists anymore in the build directory. There are `x.map.csv`, `x.map.html`, `x.map.json` and `x.map.old`.

Some of our test jobs are failing as they expect to have `.map` file available in the build directory.

Is this an error or intended behaviour?

[2018-08-22 14:14] theotherjimmy commented on #736
@artokin That behavoir is not controlled by Mbed CLI. It's probably related to https://github.com/ARMmbed/mbed-os/pull/7590 as it contains a move of the map file (https://github.com/ARMmbed/mbed-os/pull/7590/files#diff-f9cb941bde5647a5763e18fc220efc51R830)

[2018-08-22 14:16] jflynn129 opened #737 "Compiler Version mismatch"
When using the latest GCC_ARM compile, the following is output. It isn't causing a failure but is troublesome to see displayed during compilation.

**[Error] @,: Compiler version mismatch: Have 7.2.1; expected version >= 6.0.0 and < 7.0.0**

ARM Version info:
arm-none-eabi-gcc (GNU Tools for Arm Embedded Processors 7-2017-q4-major) 7.2.1 20170904 (release) [ARM/embedded-7-branch revision 255204]
C

[2018-08-22 14:21] theotherjimmy commented on #737
@jflynn129 That's a mirror of what we test with in CI. There are small corner cases where you can get incorrect output with Mbed OS + GCC 7. I'm not going to lay blame on which one is at fault.

[2018-08-22 15:49] ciarmcom commented on #737
ARM Internal Ref: MBOTRIAGE-1546

[2018-08-22 15:49] ciarmcom commented on #736
ARM Internal Ref: MBOTRIAGE-1547

[2018-08-22 22:55] cmonr commented on #733
@Navis-Raven That's good to know. I'm going to keep this open for now, since this sounds like an installer issue, and it would be useful to know if this is a Windows 7 only issue otr or not.

[2018-08-23 13:35] theotherjimmy commented on #733
@Navis-Raven The windows installer is designed to be a "one stop shop" for all things related to Mbed CLI. This includes drivers. The pip module is just the CLI, without any supporting drivers or similar. It's probably possible to catch the crash.

[2018-08-24 15:02] fasthazard commented on #688
@NiallBegley, @nicbkw, and @MarceloSalazar, the workaround for me was to update pyserial.
My system already had pyserial-2.7 and pip install --upgrade pyserial resulted in pyserial-3.4

Added traceback.print_exc to identify failing calls to self.serial.reset_input_buffer(), etc.

To me it looks like there are two bugs here:
1) switch to MbedTerminal class in #664 looks like it kept some error hand

[2018-08-26 19:04] floxch opened #738 "Import fails with utf8 error"
Hi,
when trying to import the following project via mbed import I get an error:
`mbed import http://os.mbed.com/users/simon/code/USBMIDI_HelloWorld/`

The error is as follows:
`[mbed] ERROR: Unknown Error: 'utf8' codec can't decode byte 0xc4 in position 13: invalid continuation byte`

[2018-08-26 19:49] ciarmcom commented on #738
ARM Internal Ref: MBOTRIAGE-1560

[2018-08-27 09:06] Navis-Raven commented on #733
I have the same problem when trying to install mbedWinSerial_16466.exe on a Windows 8.1 for my nRF52-DK cardboard

![image](https://user-images.githubusercontent.com/15887222/44651310-454dc980-a9e9-11e8-9f6e-88bc5e945b48.png)

[2018-08-27 15:09] bridadan commented on #738
Hi @floxch, I was able to import the project on Windows 10 using the latest Mbed CLI (1.7.5) and Python 2.7.13. Could you provide the following info?

- What version of Mbed CLI are you running?
- What version of Python are you using?
- What OS are you using?

[2018-08-27 18:43] floxch commented on #738
Hi bridadan, thanks for your reply.

- mbed CLI 1.7.2 (latest version from the installer)
- Python 2.7.14
- Windows 8.1

[2018-08-27 20:15] bridadan commented on #738
I just tried with 1.7.2, still no problems importing, but I'm not using the installer. I don't have a Windows 8.1 machine to test on unfortunately. If you haven't already done so, it'd be worth trying to reimport it (be sure delete any created directories from the previous run of `mbed import`).

[2018-08-28 19:03] theotherjimmy commented on #738
@floxch It may be related to the directory you're calling `mbed import` from. Do you have a non-utf-8 system encoding? do you have non-utf8 characters in the path you're calling `mbed import` from?

[2018-08-28 19:20] floxch commented on #738
I just called it directly from my C-drive - same problem :(

[2018-08-29 12:42] Navis-Raven commented on #733
I've just tried with STM32 B-L475E-IOT01A (DISCO-L475VG-IOT01A) board, it does not work as well !!!

So the problem is not a problem of a particular OS (same problem is in windows 7 as well as on windows 8.1), nor a problem of dev board (same problem on both of nRF52-DK and B-L475E-IOT01A), it's a more general problem and critical bug !

So I will change the title in function of these results.

[2018-08-29 14:07] theotherjimmy commented on #733
@Navis-Raven @cmonr The "mbed serial driver" needs a daplink board, probably. @Navis-Raven You're using boards that don't have daplink.

[2018-08-29 14:26] Navis-Raven commented on #733
@theotherjimmy Thanks for the remark

For the nRF52-DK:
As explained, here: http://docs.platformio.org/en/latest/platforms/nordicnrf52.html#debugging
And here, http://docs.platformio.org/en/latest/plus/debug-tools/cmsis-dap.html#debugging-tool-cmsis-dap

There is already a CMSIS-DAP on board debugger on the nRF52-DK.

For the DISCO-L475VG-IOT01A I will make another test on my windows 7 computer la

[2018-08-29 14:29] theotherjimmy commented on #733
@Navis-Raven The installer may be looking for a Particular vendor and product ID pair. The NRF52-DK has a Segger J-Link with a different vendor and product ID.

[2018-08-29 15:00] Navis-Raven commented on #733
No it has a segger J-Link AND a CMSIS-DAP on-board debugger

![image](https://user-images.githubusercontent.com/15887222/44796317-07999e00-abad-11e8-98c5-352d3a48c597.png)

[2018-08-29 15:18] bridadan commented on #733
Hi @Navis-Raven, it's true the debugger on board supports either CMSIS-DAP or J-LINK, though the board usually ships configured to use J-LINK. You can verify this by looking on the storage device that appears on your computer when you plug in the usb cable. If you do not see an `MBED.HTM` file, then it is probably using JLINK.

If you'd like to stick with J-LINK, you can install the J-LINK drivers

[2018-08-29 15:55] Navis-Raven commented on #733
As you can see here there is already the MBED.HTM file in my nRF52-DK board and it's declared as "mbed enabled"

![image](https://user-images.githubusercontent.com/15887222/44798492-e4252200-abb1-11e8-863c-79ac59f1a81a.png)

I'm following platformIO installation guide (because I'm using platformIO ecosystem) (https://docs.platformio.org/en/latest/plus/debug-tools/cmsis-dap.html#debugging-tool-cmsi

[2018-08-29 16:11] Navis-Raven commented on #733
As for the website you gave me, it's the same problem: it says to install "serial port driver" for Windows 8 or older (And I have Windows 7 and another PC with Windows 8.1, I think the webmaster forgot to add the ".1" since Win 8.1 is the same as Win 8 except the GUI).

![image](https://user-images.githubusercontent.com/15887222/44800175-0e78de80-abb6-11e8-9450-4c0dc73a989e.png)

That's it the sam

[2018-08-29 16:11] Navis-Raven commented on #733
@bridadan  As for the website you gave me, it's the same problem: it says to install "serial port driver" for Windows 8 or older (And I have Windows 7 and another PC with Windows 8.1, I think the webmaster forgot to add the ".1" since Win 8.1 is the same as Win 8 except the GUI).

![image](https://user-images.githubusercontent.com/15887222/44800175-0e78de80-abb6-11e8-9450-4c0dc73a989e.png)

That's

[2018-08-29 16:37] bridadan commented on #733
@Navis-Raven I realize I said that if the "Mbed.htm" was on the board's storage, then its using CMSIS-DAP. In this case, it  looks like the J-Link firmware also has a copy of the "Mbed.htm" file (all J-Link firmwares are customized for the specific board, so its hard to say for sure what files will be present).

Really the give away that this board is using JLINK is **the "Segger.html" file presen

[2018-08-29 18:02] theotherjimmy commented on #733
@Navis-Raven I said *DAPLink* and you're saying *CMSIS-DAP*. These are different things:
 * CMSIS-DAP is a protocol, as you correctly pointed out
 * DAPLink is an implementation of CMSIS-DAP, and more, on some ARMv6 and ARMv7 MCUs

I'm claiming that the "mbed serial driver" works with DAPLink devices. Your counter point was that  you tried a NRF52-DK, and DISCO-L475VG-IOT01A. Neither of the debugg

[2018-08-29 19:48] Navis-Raven commented on #733
@theotherjimmy  I'll answer your comment later.

Only small thing has changed on the installer of mbed-cli: It has been renamed from mbed_installer_v047 to Mbed_installer_v0.4.7

![image](https://user-images.githubusercontent.com/15887222/44811211-4f7feb80-abd4-11e8-94f6-9e8ef259e9fc.png)

But nothing changed, the bugs are still here, except that it introduced a small documentation issue to fix,

[2018-08-29 19:56] Navis-Raven commented on #733
Now a recap of the tests done:

### Mbed-cli installation
nRF52-DK on windows 7: FAIL
nRF52-DK on windows 8.1: FAIL

DISCO-L475VG-IOT01A on windows 7: FAIL
DISCO-L475VG-IOT01A on windows 8.1: FAIL

### serial port driver installation
nRF52-DK on windows 7: FAIL
nRF52-DK on windows 8.1: FAIL

[2018-08-29 20:46] Navis-Raven commented on #733
Ok, that's it I found from where is the bug.
As I suspected and **I WAS RIGHT** the bugs of both of mbed-cli and "serial-port-driver" **are stritly the same** !

Look at the image:
![image](https://user-images.githubusercontent.com/15887222/44813602-780ae400-abda-11e8-967a-fc02722542f2.png)

As you see for any cardboard, when you install mbed-cli with the windows installer it installs also the "se

[2018-08-29 21:01] Navis-Raven commented on #733
This is the proof that one of the first thing I did on my nRF52-DK is trying to install mbed-cli and "serial port debugger" **BEFORE** any possible modification by Segger J-Link tools. SO, this is not linked to segger, this is a bug of **ARM SERIAL PORT DRIVER INSTALLER. PLEASE ARM CORRECT THE BUGS OF YOUR TOOLS. THANK YOU !**
![image](https://user-images.githubusercontent.com/15887222/44815231-3d

[2018-08-30 07:48] Navis-Raven commented on #733
Nota Bene: It is probable that this bug is specific to windows 8.1 and previous versions (windows 7 for instance), and not applicable to windows 7, because as said here: https://armmbed.github.io/DAPLink/?board=Nordic-nRF51822 , it is probable that there is no need for drivers on windows 7.

![image](https://user-images.githubusercontent.com/15887222/44837335-a79d0900-ac39-11e8-8cbb-40aee3fb87c2.p

[2018-08-30 14:14] theotherjimmy commented on #733
@Navis-Raven

The first one run J-Link out of the box and can run _DAPLink_ if you flash it. I don't see how that's different from what I said:

My claim is that the "mbed serial driver" only works with _DAPLink_. Please stop saying that I'm incorrect and sighting evidence that does not contradict that statement.

No. That's proof that you downloaded the Setup_EmbeddedStudio... application before

[2018-08-30 15:50] Navis-Raven commented on #733
@theotherjimmy From the beginning you act like the fault was not a bug but a misuse of arm tools by me, whereas I followed strictly the arm mbed process in one hand, and platformIO process 1 or 2 weeks later in the other hand on two PC with two differents setupsin two different places (home and at work) and following two different tutorial, and you are still thinking that the problem is my setup :

[2018-08-30 16:40] theotherjimmy commented on #733
Sure. I'm trying to rule out all other possibilities. I'm trying to verify that we have a bug here. We seem to: The installer assumes that you want to install the mbed serial driver. If a misuse is the problem, we should improve the documentation to indicate that users should not do whatever caused the problem, and/or improve the installer so that it is harder to "shoot yourself in the foot". Look

[2018-08-31 12:28] teetak01 opened #740 "Disabling toolchain config"
Pretty basic question, how do I remove my local toolchain configuration? I did not find any information in manual. Default is mentioned as "none".

Setting mbed toolchain none sets none as toolchain instead of disabling it. Same with null or 0.

[2018-08-31 14:03] theotherjimmy commented on #740
`mbed config -U` "unsets" configuration.

[2018-08-31 15:49] ciarmcom commented on #740
ARM Internal Ref: MBOTRIAGE-1572

[2018-08-31 18:08] teetak01 commented on #740
Thanks!

[2018-08-31 18:08] #740 closed

[2018-09-05 07:17] lorjala opened #742 "mbed test --unittests requires a target and a toolchain to be specified"
mbed test --unittests fails to run if target and toolchain are not specified or .mbed file with those values do not exist.

Commands like `mbed test --unittests -m K64F -t GCC_ARM` can be confusing for users and in CI since unit tests do not use any target or toolchain (gcc compilers are used).

[2018-09-05 07:26] lorjala commented on #742
@OPpuolitaival @theotherjimmy Can we do anything about this?

Having different tools under the same command with shared options can cause inconsistencies like this.

[2018-09-05 07:49] ciarmcom commented on #742
ARM Internal Ref: MBOTRIAGE-1585

[2018-09-05 08:32] OPpuolitaival commented on #742
@theotherjimmy can we make target and toolchain optional and check in case of icetea or greentea? Then mbed unitttest command looks better.

[2018-09-05 10:37] OPpuolitaival commented on #742
Fix: https://github.com/ARMmbed/mbed-cli/pull/743

[2018-09-05 14:03] theotherjimmy commented on #742
Thanks for the bug report. 1.8.0 will release with the fix in #743

[2018-09-05 14:03] #742 closed

[2018-09-06 08:56] MarceloSalazar commented on #692
We can't reproduce this issue. Closing.
Please try with 5.10 if you can and reopen if you think it's still a problem. Thanks!

[2018-09-06 08:56] #692 closed

[2018-09-06 10:09] dhwalters423 opened #745 "No ability to select API host with `mbed dm` command"
Currently, the Mbed CLI tool defaults to the production api.mbedcloud.com instance of Pelion Device Management.

While this is okay for most customers, there should be an optional argument `-s` that allows you to specify the instance of Pelion Device Management, such as api-os2.mbedcloudstaging.net.

There are 2 reasons for this:

- Internal testing (not critical)
- Support for Pelion On Premises

[2018-09-06 10:14] dhwalters423 opened #746 "API key provided for `mbed dm` command must be Administrator"
Using the `mbed dm init` command, the API key configured with ` mbed config -G CLOUD_SDK_API_KEY` must be an API key with administrator privileges on Pelion Device Management.

When running the `mbed dm init` command with a 'Developer' privilege level, the following error occurs;

[code]

This is a critical issue. Most developers will NOT have access to an Administrator API key.

[2018-09-06 10:16] dhwalters423 commented on #746
To clarify more, the following Groups can be assigned to an API key:

![image](https://user-images.githubusercontent.com/20944655/45151473-573c2300-b1c6-11e8-80c2-5284448b08af.png)

[2018-09-06 10:39] yogpan01 commented on #745
Agreed with @dhwalters423. We have requirement to support Cloud on-prem solution where the Cloud deployment is not Production but customer specific deployment.

[2018-09-06 11:49] ciarmcom commented on #746
ARM Internal Ref: MBOTRIAGE-1595

[2018-09-06 11:49] ciarmcom commented on #745
ARM Internal Ref: MBOTRIAGE-1596

[2018-09-06 13:34] dhwalters423 commented on #746
Temporary documentation note: https://github.com/ARMmbed/mbed-os-5-docs/pull/710

[2018-09-06 13:51] MarceloSalazar opened #747 "Missing help for 'mbed dm' feature"
Mbed CLI v1.8.0

The help output should contain more information about the required parameters for device management.

[code]

We'd expect to see information about key parameters/commands, `init`, `domain` and `model-name`
See docs:
https://github.com/theotherjimmy/Handbook/blob/3d9066d10eef3ad1462b95333284c6a5a31056be/docs/tools/offline/cli-device-management.md

Also applies to: `mbed dm init` an

[2018-09-06 15:18] theotherjimmy commented on #746
@dhwalters423 I think this may have something do do with the api-key being owned by something other that the current user. The current API should allow you to query for information about the user that owns an API key, which is what the code is doing.

[2018-09-06 15:19] theotherjimmy commented on #745
@dhwalters423 does `mbed config -G CLOUD_API_HOST` not work?

[2018-09-06 15:19] theotherjimmy commented on #745
@dhwalters423 Why `-s`?

[2018-09-06 15:20] theotherjimmy commented on #747
@MarceloSalazar This is not the only command with missing help. `mbed compile` and `mbed test` both are missing help.

[2018-09-06 15:38] yogpan01 commented on #745
@theotherjimmy `-s` would represents own cloud environment. API key is specific to account inside a given environment.

[2018-09-06 15:41] dhwalters423 commented on #745
@theotherjimmy -G CLOUD_API_HOST is not documented anywhere.

[2018-09-06 15:43] dhwalters423 commented on #746
I think I am misunderstanding.

the workflow is:

1. login to Pelion Portal
2. Create an API key
3. Copy it
4. `mbed config -G CLOUD_SDK_API_KEY`
5. `mbed init...`

There is no way to specify in mbed-cli who owns an API key.

[2018-09-06 15:43] theotherjimmy commented on #745
@dhwalters423 We can fix the documentation issue.

@yogpan01 I was asking why `-s` was picked over other letters, not what it's supposed to mean. Sorry for the confusion.

[2018-09-06 15:49] ciarmcom commented on #747
ARM Internal Ref: MBOTRIAGE-1598

[2018-09-06 16:12] dhwalters423 commented on #745
@theotherjimmy sounds good to me.

[2018-09-06 17:49] MarceloSalazar commented on #747
Help for `mbed compile` is available
[code]

Help for `mbed tests` is available
[code]

Help for `mbed dm`, it's missing the `init` subcommand
[code]

Help for `mbed dm init`, it's missing the `-d` and `--model-name` parameters
[code]

Help for `mbed dm update`, it's missing the `device` and `prepare` subcommand and parameters
[code]

[2018-09-06 18:14] theotherjimmy commented on #747
@MarceloSalazar
`mbed compile` runs `make.py`

`make.py`'s help:
[code]

missing arguments that a user might actually use: `--color` `-D` `-l` `--ignore` `-j`

-----------------------

My point is that the help is always behind. I think this is an issue with the current architecture of Mbed CLI.

We can improve the help for `mbed dm`.

[2018-09-07 14:01] teetak01 commented on #747
@theotherjimmy the DM is giving out incorrect instructions (effectively those what manifest-tool uses), but which will not work with mbed-cli.

[code]

It is suggesting that I should use "-m" for MODEL_NAME, which is correct for manifest-tool, but conflicts with "--mcu" flag in mbed-cli.

[2018-09-07 14:05] teetak01 opened #748 "Feature: Need to be able to provide own certificate for 'device management'"
Currently I do not see any option how I could provide my own developer-certificate for the init-command.

There should be some flag which allows user to supply their own dev.c file.

[2018-09-07 14:07] teetak01 opened #749 "mbed-cli always doing some Auto-installing which can be slow"
With mbed-cli 1.8.0 I always get this trace:

[mbed] Auto-installing missing Python modules...

I have installed the latest mbed-os/requirements.txt files so there should be no such step needed.

[2018-09-07 14:09] theotherjimmy commented on #747
@teetak01 Yep. that's also true.

[2018-09-07 14:10] theotherjimmy commented on #747
To summarize:

* help is incorrect.
* help is incomplete.
* help is missing subcommands.
* `-m` conflict is not resolved.

[2018-09-07 14:42] theotherjimmy commented on #749
The "check that you have all the deps" thing may not be perfect. I see this on my mac, but not my Linux box. Weird...

[2018-09-07 14:42] theotherjimmy commented on #749
What's your system like?
 * OS
 * Python version

[2018-09-07 15:49] ciarmcom commented on #749
ARM Internal Ref: MBOTRIAGE-1608

[2018-09-07 15:49] ciarmcom commented on #748
ARM Internal Ref: MBOTRIAGE-1609

[2018-09-08 17:09] Tony-YI commented on #698
same for 1.7.2

[2018-09-10 06:03] teetak01 commented on #749
Python 2.7.12, Ubuntu 16.04

[2018-09-10 06:05] teetak01 commented on #748
I think effectively we just need a flag/variable to tell the tool to skip the certificate fetching and expect to find valid certificate in the execution folder. Or it could be something like:

0/null (disabled, expect functional cert in folder)
1 (auto-fetch, default)
"string.c" (user-supplied certificate. (maybe something to consider).

[2018-09-10 11:44] adbridge commented on #745
@dhwalters423 Is there a PR addressing this issue ?

[2018-09-10 11:52] screamerbg commented on #738
@floxch Could you try importing with `-v` option and paste the output here please?

[2018-09-10 11:54] screamerbg commented on #733
@cmonr @bridadan Any follow up on this?

[2018-09-10 11:55] screamerbg commented on #733
CC @arekzaluski

[2018-09-10 11:57] screamerbg commented on #737
@theotherjimmy Given that this is not stopping/aborting compile, should this be converted to `[Warning]`?

[2018-09-10 12:01] jflynn129 commented on #737
If it going to be announced as an error or warning then sufficient information should be provided to allow a user to take action (or not if they choose). At this point, this is simply an annoyance to the user.

[2018-09-10 12:29] screamerbg commented on #721
@janjongboom I don't experience this issue with my K64F. Are you by chance having another process/program running which has the com port open?

[2018-09-10 12:50] #715 closed

[2018-09-10 14:38] theotherjimmy commented on #698
Thanks for verifying that this bug is still present.

[2018-09-10 18:35] maclobdell commented on #749
I see this same issue on Windows.  Every time I issue a compile command it results in this, even though I also have the requirements all installed.

[code]

[2018-09-11 06:48] teetak01 commented on #660
@screamerbg when is this issue fixed? Still present in 1.8.0

[2018-09-11 07:02] yogpan01 commented on #660
@theotherjimmy @ARMmbed/mbed-os-maintainers This is an issue for 5.10 release and setup for client testing.

[2018-09-11 15:05] theotherjimmy commented on #736
@artokin Could you expand on what you're using the map files for?

[2018-09-11 15:08] theotherjimmy commented on #737
@jflynn129 That information depends on how you want to install the compiler. We could include some text like "please configure a version of GCC_ARM within the expected version range".

[2018-09-11 17:12] jflynn129 commented on #737
@theotherjimmy the problem is that most people will go to https://launchpad.net/gcc-arm-embedded/+announcement/15015 OR https://developer.arm.com/open-source/gnu-toolchain/gnu-rm and download the ARM GCC tools.  Then when you run the mbed compiler that error message is displayed.  I know that keeping up with the GCC releases is probably something you don't want to do, but rather than announce **"[

[2018-09-11 17:36] theotherjimmy commented on #737
@jflynn129 Thanks for the suggestion on text. I like it and I can make a PR to update the text to something similar. RE: warning/error that was requested of me. I don't recall who, but my gut says that @sg- will have an opinion on the warning/error status.

[2018-09-11 20:15] AnotherButler commented on #746
Does [mbed-os-5-docs PR #710 ](https://github.com/ARMmbed/mbed-os-5-docs/pull/710) solve this issue from a documentation standard for Mbed OS 5.10?

[2018-09-12 06:29] artokin commented on #736
The map files were stored by CI job but now the CI jobs have been updated.

[2018-09-12 13:40] theotherjimmy commented on #745
@cmonr They're not new options. They're just re-used options.

[2018-09-12 13:56] theotherjimmy commented on #736
I'm sorry that my PR broke your CI. I'm glad you were able to work around it.

[2018-09-12 13:58] theotherjimmy commented on #736
OH! You could set the environment variable `MBED_COMPARE_FIXED` to `True`. Then it would not move the map file on you. Sorry I did not think of that earlier.

[2018-09-12 14:45] AnotherButler commented on #746
ping @dhwalters423

[2018-09-12 15:19] janjongboom commented on #721
@screamerbg I can't really recall the exact conditions, but I doubt it.

[2018-09-12 15:28] oliverjharper commented on #746
@AnotherButler seems discussion is ongoing about this one, see IOTCORE-416

[2018-09-12 15:41] theotherjimmy commented on #660
I was able to reproduce this with parallel-rust. Steps:
run the reproducer in the issue top comment to generate the dir_{1..8} directories.
make a `reproducer.bash` with the following contents:
[code]
run
[code]
This will force ALL 8 `mbed` invocations to run at almost exactly the same time. One of the mbed-cli's will fail to cache correctly:
[code]

Running with the changes from #752, I can't get

[2018-09-12 15:51] #660 closed

[2018-09-12 17:29] nicbkw commented on #688
...updated but still problem - now
using xenial in chroot on Chromebook
mbed version 1.8.0
pyserial 3.4
mbed sterm
[mbed] Detecting connected targets/boards to your system...
[mbed] Opening serial terminal to "DISCO_L072CZ_LRWAN1"
[mbed] ERROR: Unknown Error: init() should return None, not 'bool'

[2018-09-13 11:16] SeppoTakalo opened #754 "Mbed-cli breaks PIP environment by installing/updating packages without user's consent"
mbed-cli install pip packages and by doing so might break current environment.

[code]

Installing Pip packages might have unwanted side effect and should not be done if user is not requesting that.
Such feature should be removed from mbed-cli

This blocks Icetea testing on my Mac.

## Example:

[code]

## Conclusion

Running any Mbed command breaks Icetea

[2018-09-13 11:18] SeppoTakalo commented on #754
CC: @jupe @OPpuolitaival @jonikula

[2018-09-13 11:49] ciarmcom commented on #754
ARM Internal Ref: MBOTRIAGE-1647

[2018-09-13 11:57] screamerbg commented on #754
Mbed CLI is not installing packages on it's own. Mbed CLI asks pip to check and respect the requirements.txt file inside Mbed OS. When requirements.txt is referencing a python module that requires new version of a module (like jsonschema), then new version will be installed to respect the python module requirement.

E.g. either bind icetea to specific version of it's python requirements, or fix th

[2018-09-13 12:42] SeppoTakalo commented on #749
Autoinstalling also break some Pip environments, as reported here: https://github.com/ARMmbed/mbed-cli/issues/754

[2018-09-13 12:45] screamerbg commented on #749
Fix was released in Mbed CLI 1.8.1. Could you update and try to reproduce the issue?

[2018-09-13 12:48] SeppoTakalo commented on #754
Your second sentence contradicts the first one.

Mbed CLI is installing packages. Period.
It happens here:
https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L1622

Mbed OS is not asking this to happen.
Mbed OS supplies list of requirements, which might or might not, be supplied by my environment.
This list might, or might not, conflicts other test tools in my current environment. That i

[2018-09-13 14:28] theotherjimmy commented on #754
@screamerbg At no point did @SeppoTakalo blame Mbed CLI for the conflicts. He just blamed it for doing something that he did not ask for: installing the requirements.

[2018-09-13 14:29] theotherjimmy commented on #754
@SeppoTakalo Does the switch `--no-requirements` resolve this? or would you need something more?

[2018-09-13 17:10] theotherjimmy commented on #754
Upon further inspection of this issue the "breaking of pip environment" is done by the fact that icetea depends on a specific version of `jsonschema` that is:
 * not documented, or specified
 * in conflict with the requirements of the mbed-os build tools specified requirements.

This issue should move to icetea. As such, the issue as written was correctly marked as invalid and closed by @screamerb

[2018-09-13 17:10] #754 closed

[2018-09-13 17:16] theotherjimmy opened #756 "`mbed compile` can access the network, through pip"
Mbed CLI calls out to Mbed OS build tools delivered with Mbed OS, and is responsible for making sure that they have all of their requirements. The following subcommands could update Mbed OS, which would change the build tools requirements. Therefore the following subcommands _should_ install requirements:
 * `mbed new`
 * `mbed import`
 * `mbed add`
 * `mbed deploy`
 * `mbed update`

The following

[2018-09-13 18:17] screamerbg commented on #756
@theotherjimmy Agreed. Thanks for highlighting this. I'll issue a PR later today to address this.

[2018-09-13 19:49] ciarmcom commented on #756
ARM Internal Ref: MBOTRIAGE-1653

[2018-09-14 19:44] #745 closed

[2018-09-17 09:54] M-ichae-l commented on #737
Hi, guys. So what is the solution for this issue? Downgrade the GCC compiler? Or the "ERROR" is just a warning if compile succeed nothing is going to be wrong?

[2018-09-17 16:08] mbartling opened #759 "Compile fails for long arg list in build_profile"
Almost exactly the same issue as https://github.com/ARMmbed/mbed-cli/issues/339

- mbed-cli: 1.8.1
- arm-none-eabi-g++ (GNU Tools for Arm Embedded Processors 7-2018-q2-update) 7.3.1 20180622 (release) [ARM/embedded-7-branch revision 261907]
- macOS High Sierra 10.13.6

[code]

[2018-09-17 16:28] mbartling commented on #759
FYI, reproducible on GCC 6.

[code]

[2018-09-17 16:31] cmonr commented on #759
@mbartling I'm confused. Are you including your entire OS?

That's a whole lot python packages in the include list.

[2018-09-17 17:37] mbartling commented on #759
@cmonr DAMMIT, I've had issues similar to this in the past. It's caused by having a Python virtualenv in my project repo. Closing the ticket

[2018-09-17 17:37] #759 closed

[2018-09-17 18:43] cmonr commented on #759
@mbartling Even though this isn't what we thought, it's still a significant-enough issue worth tracking.

Would you mind opening another issue for others to reproduce and so that we can fix?

[2018-09-17 21:36] j3270 commented on #580
#646

I think the issue above hurts users like me and op.  I haven't been as active with mbed lately, so forgive me if either of these issues has been addressed.  I know #646 was closed, but don't think it should have been.

If we --create-only, we still need the tools to build the app we are working on and reference our archives; mbed-os, lib1, lib2,etc...  Hope that made sense.

Thanks,

[2018-09-19 13:12] drahnr opened #761 "Q: whitelist of features -- reasoning?"
I tried to define a custom feature as part of my `custom_targets.json` by simply adding

[code]

which resulted in:
[code]

From the forum post at https://os.mbed.com/questions/79187/Custom-Targets/ hinted that it might have to do with a whitelist of features -- I verified that the whitelist is still present and in use:

[code]

What is the intention of this whitelist?
Why is this feature essentia

[2018-09-21 07:06] geoffrey-vl commented on #737
Moreover, we've been using GCC7 since we started to use mbed-os 5. Was this problem only discovered recently or may it have been defect all along? What problems could we aspect from products that are already deployed?

[2018-09-24 14:36] theotherjimmy commented on #737
@M-ichae-l @geoffrey-vl Your concerns are valid.

I recall at least one instance where GCC 6 emitted correct instructions and GCC 7 emitted bad instructions. I don't recall the details though, other than the device catastrophically failed (Hard fault I think) in < 1sec. At best, compile success with GCC 7 may work. As we test with GCC 6, we can only make claims about what it willl do.

The defect

[2018-09-24 14:40] theotherjimmy commented on #737
If I were to change the text, it would be to:

"[Warning] This version of Mbed OS has only been tested with GCC version 6, and unexpected errors may occur, even when compilation succeeds, when using the currently selected version: x.x.x."

I think that's accurate to the defect we have/had and provides enough information to allow a user to make an informed decision.

[2018-09-24 17:42] theotherjimmy commented on #663
No comments from the original author. My vote is to make this consistent across tool invocations.

[2018-09-24 17:46] theotherjimmy commented on #631
Please use the correct DAPLink for your target. Please reopen if you still have problems.

[2018-09-24 17:46] #631 closed

[2018-09-24 17:49] theotherjimmy commented on #624
I think the question was answered. Please let us know if you have anything further.

[2018-09-24 17:49] #624 closed

[2018-09-24 17:50] theotherjimmy commented on #615
Yes.

[2018-09-24 17:50] #615 closed

[2018-09-24 17:52] theotherjimmy commented on #589
I can't reproduce the errors anymore

[2018-09-24 17:52] #589 closed

[2018-09-24 18:59] theotherjimmy commented on #724
@cmonr Latest is a tag, so it won't be automatically updated by git. This is expected behavior, and working as designed.

[2018-09-24 18:59] #724 closed

[2018-09-24 19:13] theotherjimmy commented on #736
To directly answer your question: intended behavior.

[2018-09-24 19:13] #736 closed

[2018-09-25 13:47] theotherjimmy commented on #761
Originally, features were something that took up space within a binary without being used. They were originally used to help easily trim down that space usage. Now we have a strong design goal around space usage, and much better tools for exploring exactly what is used. I'm no longer convinced that we need the whitelist.

[2018-09-27 15:38] theotherjimmy commented on #683
@DougAnsonAtARM I think your issue is that `mbed` and `pip` use different installed pythons. As there is no way for mbed CLI to resolve this issue, I'm going to close this issue. Please re-open if you verify that `mbed` and `pip` affect the same python environment and the problem persists.

[2018-09-27 15:38] #683 closed

[2018-09-27 16:52] #654 closed

[2018-09-27 16:52] #669 closed

[2018-09-27 19:59] #614 closed

[2018-10-01 05:13] xvart commented on #657
So had this awesome error today on ubuntu 18, and one of the many reasons I will never use python in production the thing is a never ending moving target of crazy

[2018-10-01 07:11] Zeppelin15 opened #764 "Compiling with more than one thread causes failures"
Hi,

I've been trying to compile the standard blinky example using GCC_ARM.
Invoking the standard `mbed compile -t GCC_ARM -m K64F` causes compilation to fail at random locations. Compilations can be completed with multiple `mbed compile -t GCC_ARM -m K64F` calls.

An example of failure output message : https://pastebin.com/2Gz2DGD0

I have noticed specifying `-j 1`  allows compilation to complete

[2018-10-01 10:16] ciarmcom commented on #764
ARM Internal Ref: MBOTRIAGE-1727

[2018-10-01 13:50] theotherjimmy commented on #764
Hi @Zeppelin15 I have used GCC Versions between 4 and 8 without issues of that variety. It looks like printing is failing! That's very unusual.

In that case the number of jobs = the number of logical cpus in the machine (hardware threads included).